workflows/13_nova_proactive.json
{
  "name": "Nova - Proactive Intelligence Engine v3",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 0 9 * * 1-5" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -120],
      "id": "nova-p-001",
      "name": "Daily 9AM Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-proactive",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 80],
      "id": "nova-p-002",
      "name": "Webhook Trigger",
      "webhookId": "nova-proactive-v3"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst manualFocus = String(body.focus || body.query || '').trim();\nconst isScheduled = !body.focus && !body.query;\nlet kaiContext = {};\nlet sourceRegistry = {};\ntry { kaiContext = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { kaiContext = {}; }\ntry { sourceRegistry = JSON.parse(fs.readFileSync('/data/Nova/source_registry.json', 'utf8')); } catch(e) { sourceRegistry = {}; }\nconst beachheads = kaiContext.beachheads || {};\nconst dp = kaiContext.discovery_profile || {};\nconst stageConstraints = dp.stage_constraints || {};\nconst phase = kaiContext.phase || {};\nconst founder = kaiContext.founder || {};\nconst threeGames = kaiContext.three_games || {};\nconst naics = kaiContext.naics || {};\nconst technology = kaiContext.technology || {};\nconst moat = kaiContext.competitive_moat || {};\nconst revenue = kaiContext.revenue_targets || {};\nconst fleets = kaiContext.fleets || {};\nconst deadlines = (kaiContext.deadlines || []).filter(function(d) { return !['COMPLETE','FILED','EXEMPT','EXPIRED'].includes(d.status); });\nconst beachheadFull = Object.entries(beachheads).filter(function(e) { return e[0].startsWith('BH'); }).map(function(e) {\n  const k = e[0]; const bh = e[1];\n  return k+': '+bh.name+'\\n  Status: '+(bh.status||'')+'\\n  Scope: '+(bh.scope||'')+'\\n  Win: '+(bh.win_condition||'')+'\\n  Expands to: '+(bh.expands_to||'')+'\\n  Key buyers: '+(bh.key_buyers||'')+'\\n  Compliance hooks: '+(bh.compliance_hooks||'')+'\\n  Pricing: '+(bh.pricing||'')+'\\n  Grants: '+(bh.grant_sources||bh.grant_sources_on_activation||'');\n}).join('\\n\\n');\nconst activeConstraints = Object.entries(stageConstraints).filter(function(e) { return e[1] === true; }).map(function(e) { return e[0]; });\nconst urgentDeadlines = deadlines.filter(function(d) { return ['OPPORTUNITY','PENDING','OVERDUE','IN PROGRESS'].includes(d.status); }).slice(0,8).map(function(d) { return d.item+' | Due: '+d.date+' | '+d.status+' | '+d.entity+(d.notes?' | '+d.notes:''); }).join('\\n');\nconst allNaics = (naics.registered||[]).concat(naics.recommended||[]).map(function(n) { return n.code+' '+n.description; }).join(', ');\nconst techFull = Object.entries(technology).map(function(e) { return e[0]+': '+(e[1].description||'')+' Status: '+(e[1].status||''); }).join('\\n');\nconst fleetSummary = Object.entries(fleets).map(function(e) { return e[1].name+': '+(e[1].hardware||'')+' NDAA:'+(e[1].ndaa||'')+' Timeline:'+(e[1].timeline||''); }).join('\\n');\nreturn [{ json: {\n  isScheduled: isScheduled, manualFocus: manualFocus, timestamp: new Date().toISOString(),\n  founderName: founder.name||'Kevin Alexander Smith',\n  founderCredentials: (founder.credentials||[]).join(', '),\n  founderBackground: founder.background||'',\n  phase: phase.current||'Bootstrap Launch',\n  firstDollarPath: phase.first_dollar_path||'',\n  shortGame: JSON.stringify(threeGames.short_game||{}),\n  longGame: JSON.stringify(threeGames.long_game||{}),\n  beachheadFull: beachheadFull, urgentDeadlines: urgentDeadlines, activeConstraints: activeConstraints,\n  techFull: techFull, fleetSummary: fleetSummary, allNaics: allNaics,\n  moatDimensions: (moat.dimensions||[]).join(' | '),\n  revenueTargets: JSON.stringify(revenue),\n  registryFramework: JSON.stringify(sourceRegistry.registry_reasoning_framework||{}),\n  braveKeySet: ($env.BRAVE_API_KEY||$env.BRAVE_SEARCH_API_KEY||'').length > 0\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "nova-p-003",
      "name": "Load Context"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst input = $input.first().json;\nfunction callClaude(system, user, maxTokens) {\n  const rb = JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: maxTokens || 1500, system: system, messages: [{ role: 'user', content: user }] });\n  return new Promise(function(resolve) {\n    const req = https.request({ hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': process.env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(rb) } }, function(res) {\n      let d = ''; res.on('data', function(c) { d += c; });\n      res.on('end', function() {\n        try { const t = JSON.parse(d).content[0].text || '{}'; resolve(JSON.parse(t.replace(/^```json\\s*/,'').replace(/^```\\s*/,'').replace(/\\s*```$/,'').trim())); }\n        catch(e) { resolve({ _error: e.message }); }\n      });\n    });\n    req.on('error', function() { resolve({ _error: 'request failed' }); });\n    req.write(rb); req.end();\n  });\n}\nconst profileContext = 'FOUNDER: '+input.founderName+' | '+input.founderCredentials+'\\nBACKGROUND: '+input.founderBackground+'\\nPHASE: '+input.phase+'\\nCONSTRAINTS: '+((input.activeConstraints||[]).join(', ')||'none')+'\\nTECH: '+input.techFull+'\\nFLEETS: '+input.fleetSummary+'\\nMOAT: '+input.moatDimensions+'\\nBEACHHEADS:\\n'+input.beachheadFull;\nconst regSystem = 'You are Nova, KAI-Netics Regulatory Intelligence Officer. Reason about the complete regulatory landscape that could create compliance mandates, funding pools, new beachheads, or adjacent business lines. Include FAA, FCC, DHS, DOT, OSHA, EPA, USDA, DoD, HHS, CMS, EASA, UK CAA, Transport Canada, NATO, EU Horizon, UN ICAO. Return STRICT JSON only: {\"regulatory_search_terms\":[{\"term\":\"string\",\"agency\":\"string\",\"beachhead_impact\":\"string\",\"reasoning\":\"string\",\"urgency\":\"string\"}],\"known_dockets\":[{\"docket_id\":\"string\",\"agency\":\"string\",\"topic\":\"string\",\"beachhead_impact\":\"string\",\"unlock_event\":\"string\"}],\"adjacent_business_lines\":[{\"business_line\":\"string\",\"trigger\":\"string\",\"buyer\":\"string\",\"capability_match\":\"string\"}]}';\nconst regUser = profileContext+'\\n\\nDerive full regulatory monitoring landscape. Keep all string values under 100 chars.'+(input.manualFocus ? '\\nFOCUS: '+input.manualFocus : '');\nconst bizSystem = 'You are Nova, KAI-Netics Business Development Intelligence Officer. Reason about every buyer category and zero-capital opportunity. Return STRICT JSON only: {\"derived_buyer_categories\":[{\"category\":\"string\",\"why_now\":\"string\",\"beachhead\":\"string\",\"scope\":\"LOCAL|STATE|FEDERAL|NATIONAL|INTERNATIONAL\",\"example_buyers\":[\"string\"],\"procurement_surface\":\"string\",\"revenue_type\":\"string\",\"capability_match\":\"string\",\"constraint_flag\":\"string\"}],\"zero_capital_opportunities\":[{\"opportunity\":\"string\",\"buyer\":\"string\",\"why_now\":\"string\",\"revenue_estimate\":\"string\",\"action\":\"string\"}],\"partnership_targets\":[{\"org\":\"string\",\"type\":\"string\",\"value_exchange\":\"string\",\"unlock\":\"string\"}]}';\nconst bizUser = profileContext+'\\nNAICS: '+input.allNaics+'\\nREVENUE: '+input.revenueTargets+'\\nDEADLINES: '+input.urgentDeadlines+'\\n\\nDerive every buyer category and zero-capital opportunity. Keep all string values under 100 chars.'+(input.manualFocus ? '\\nFOCUS: '+input.manualFocus : '');\nconst results = await Promise.all([callClaude(regSystem, regUser, 1200), callClaude(bizSystem, bizUser, 1200)]);\nconst regTargets = results[0];\nconst bizTargets = results[1];\nreturn [{ json: Object.assign({}, input, {\n  regTargets: regTargets, bizTargets: bizTargets,\n  regulatorySearchTerms: regTargets.regulatory_search_terms || [],\n  knownDockets: regTargets.known_dockets || [],\n  adjacentBusinessLines: regTargets.adjacent_business_lines || [],\n  derivedBuyerCategories: bizTargets.derived_buyer_categories || [],\n  zeroCapitalOpps: bizTargets.zero_capital_opportunities || [],\n  partnershipTargets: bizTargets.partnership_targets || []\n}) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "nova-p-004",
      "name": "Derive Targets (Regulatory + Business)"
    },
    {
      "parameters": {
        "jsCode": "// STRUCTURED API SWEEP v3.2\n// SAM.gov: SAM_API_KEY env var -- skipped gracefully if not set\n//   To activate: add SAM_API_KEY=yourkey to .env AND START_KINETIC.ps1, restart container\n// SBIR: correct endpoint api.www.sbir.gov/public/api/solicitations\n// USASpending, Grants.gov: free, no key\nconst https = require('https');\nconst input = $input.first().json;\nfunction fetchJson(hostname, path, method, body, ms) {\n  return new Promise(function(resolve) {\n    const timer = setTimeout(function() { resolve({ ok: false, error: 'timeout', data: null }); }, ms || 10000);\n    try {\n      const opts = { hostname: hostname, port: 443, path: path, method: method || 'GET', headers: { 'Content-Type': 'application/json', 'User-Agent': 'KAI-Netics-Nova/3.2', 'Accept': 'application/json' } };\n      if (body) opts.headers['Content-Length'] = Buffer.byteLength(body);\n      const req = https.request(opts, function(res) {\n        let d = ''; res.on('data', function(c) { d += c; });\n        res.on('end', function() {\n          clearTimeout(timer);\n          try { resolve({ ok: res.statusCode >= 200 && res.statusCode < 300, status: res.statusCode, data: JSON.parse(d) }); }\n          catch(e) { resolve({ ok: false, error: 'parse('+res.statusCode+'): '+d.substring(0,150), data: null }); }\n        });\n      });\n      req.on('error', function(e) { clearTimeout(timer); resolve({ ok: false, error: e.message, data: null }); });\n      if (body) req.write(body); req.end();\n    } catch(e) { clearTimeout(timer); resolve({ ok: false, error: e.message, data: null }); }\n  });\n}\nfunction toISO(d) { return d.toISOString().slice(0,10); }\nfunction toMMDDYYYY(d) { return String(d.getMonth()+1).padStart(2,'0')+'/'+String(d.getDate()).padStart(2,'0')+'/'+d.getFullYear(); }\nconst today = new Date();\nconst oneYearAgo = new Date(Date.now()-365*24*60*60*1000);\nconst todayISO = toISO(today);\nconst oneYearAgoISO = toISO(oneYearAgo);\nconst todayMMDD = toMMDDYYYY(today);\nconst oneYearAgoMMDD = toMMDDYYYY(oneYearAgo);\nconst dmvFilter = [{ country:'USA',state:'MD' },{ country:'USA',state:'VA' },{ country:'USA',state:'DC' }];\nconst SAM_KEY = $env.SAM_API_KEY || '';\nconst usaAwardsBody = JSON.stringify({ filters: { time_period: [{ start_date: oneYearAgoISO, end_date: todayISO }], keywords: ['drone','UAS','unmanned aerial','autonomous aerial'], award_type_codes: ['A','B','C','D'], place_of_performance_locations: dmvFilter }, fields: ['Award ID','Recipient Name','Awarding Agency','Award Amount','Award Date','Description','Place of Performance State Code'], page: 1, limit: 10, sort: 'Award ID', order: 'desc' });\nconst usaSubsBody = JSON.stringify({ filters: { time_period: [{ start_date: oneYearAgoISO, end_date: todayISO }], keywords: ['drone','UAS','unmanned aerial'], award_type_codes: ['A','B','C','D'], place_of_performance_locations: dmvFilter }, fields: ['Recipient Name','Awarding Agency','Award Amount','Award Date','Description'], page: 1, limit: 8, sort: 'Award ID', order: 'desc', subawards: true });\nconst grantsBody = JSON.stringify({ keyword: 'drone UAS autonomous aerial unmanned workforce', oppStatuses: 'forecasted|posted', rows: 10, startRecordNum: 0, sortBy: 'openDate|desc' });\nlet samPromise = !SAM_KEY\n  ? Promise.resolve({ ok: false, error: 'SAM_API_KEY not set', data: null, skipped: true })\n  : fetchJson('api.sam.gov', '/prod/opportunities/v2/search?api_key='+encodeURIComponent(SAM_KEY)+'&limit=10&postedFrom='+encodeURIComponent(oneYearAgoMMDD)+'&postedTo='+encodeURIComponent(todayMMDD)+'&keyword=drone+UAS+unmanned+aerial&active=true', 'GET', null, 15000);\n// SBIR: correct endpoint is api.www.sbir.gov/public/api/solicitations\nconst sbirPromise = fetchJson('api.www.sbir.gov', '/public/api/solicitations?keyword=drone+UAS+autonomous&rows=10&start=0', 'GET', null, 12000);\n// Grants.gov\nconst grantsPromise = fetchJson('api.grants.gov', '/grantsws/OppSearch', 'POST', grantsBody, 15000);\n// USASpending\nconst usaAwardsPromise = fetchJson('api.usaspending.gov', '/api/v2/search/spending_by_award/', 'POST', usaAwardsBody, 15000);\nconst usaSubsPromise = fetchJson('api.usaspending.gov', '/api/v2/search/spending_by_award/', 'POST', usaSubsBody, 15000);\nconst apiResults = await Promise.all([samPromise, sbirPromise, grantsPromise, usaAwardsPromise, usaSubsPromise]);\nconst samR = apiResults[0];\nconst sbirR = apiResults[1];\nconst grantsR = apiResults[2];\nconst usaAwardsR = apiResults[3];\nconst usaSubsR = apiResults[4];\n// Regulations.gov dockets\nconst knownDockets = input.knownDockets || [];\nconst allRegDocs = [];\nconst finalRuleAlerts = [];\nfor (let i = 0; i < Math.min(knownDockets.length, 3); i++) {\n  const d = knownDockets[i];\n  try {\n    const r = await fetchJson('api.regulations.gov', '/v4/documents?filter[docketId]='+encodeURIComponent(d.docket_id)+'&sort=-postedDate&page[size]=3', 'GET', null, 8000);\n    if (r.ok && r.data) {\n      const docs = (r.data.data||[]).slice(0,3);\n      const titles = docs.map(function(doc) { return doc.attributes ? doc.attributes.title||'' : ''; });\n      const finalRule = titles.some(function(t) { return t.toLowerCase().indexOf('final rule') !== -1 || t.toLowerCase().indexOf('part 108') !== -1; });\n      if (finalRule) finalRuleAlerts.push({ docket: d.docket_id, topic: d.topic, beachhead: d.beachhead_impact, unlock: d.unlock_event });\n      allRegDocs.push({ docket: d.docket_id, topic: d.topic, docs: titles, finalRule: finalRule });\n    }\n  } catch(e) {}\n}\nlet structuredContext = '';\nif (samR.skipped) {\n  structuredContext += '\\n=== SAM.GOV: Skipped (add SAM_API_KEY to .env + START_KINETIC.ps1) ===';\n} else if (samR.ok && samR.data) {\n  const opps = (samR.data.opportunitiesData || samR.data.results || []).slice(0,8);\n  if (opps.length > 0) { structuredContext += '\\n=== SAM.GOV ACTIVE SOLICITATIONS ('+opps.length+') ==='; for (let i=0;i<opps.length;i++) { const o=opps[i]; structuredContext += '\\n['+(i+1)+'] '+(o.title||o.opportunityTitle||'')+'\\n  Agency: '+(o.fullParentPathName||o.organizationName||'')+' | NAICS: '+(o.naicsCode||'')+' | Deadline: '+(o.responseDeadLine||o.archiveDate||''); } }\n  else structuredContext += '\\n=== SAM.GOV: No results ===';\n} else { structuredContext += '\\n=== SAM.GOV ERROR: '+(samR.error||'status '+samR.status)+' ==='; }\nif (sbirR.ok && sbirR.data) {\n  const sols = Array.isArray(sbirR.data) ? sbirR.data : (sbirR.data.results||sbirR.data.solicitations||[]);\n  if (sols.length > 0) { structuredContext += '\\n\\n=== SBIR.GOV OPEN SOLICITATIONS ('+sols.length+') ==='; for (let i=0;i<Math.min(sols.length,8);i++) { const s=sols[i]; structuredContext += '\\n['+(i+1)+'] '+(s.solicitation_title||s.program||s.title||'')+'\\n  Agency: '+(s.agency||s.branch||'')+' | Phase: '+(s.phase||'')+' | Deadline: '+(s.close_date||s.closeDate||s.deadline||''); } }\n  else structuredContext += '\\n\\n=== SBIR.GOV: No open solicitations ===';\n} else { structuredContext += '\\n\\n=== SBIR.GOV ERROR: '+(sbirR.error||'status '+sbirR.status)+' ==='; }\nif (grantsR.ok && grantsR.data) {\n  const opps = (grantsR.data.oppHits || grantsR.data.results || []).slice(0,8);\n  if (opps.length > 0) { structuredContext += '\\n\\n=== GRANTS.GOV OPEN OPPORTUNITIES ('+opps.length+') ==='; for (let i=0;i<opps.length;i++) { const g=opps[i]; structuredContext += '\\n['+(i+1)+'] '+(g.oppTitle||g.title||'')+'\\n  Agency: '+(g.agencyName||g.agencyCode||'')+' | Deadline: '+(g.closeDate||g.deadline||''); } }\n  else structuredContext += '\\n\\n=== GRANTS.GOV: No results ===';\n} else { structuredContext += '\\n\\n=== GRANTS.GOV ERROR: '+(grantsR.error||'status '+grantsR.status)+' ==='; }\nstructuredContext += '\\n\\n=== REGULATIONS.GOV ('+allRegDocs.length+' dockets) ===';\nfor (let i=0;i<allRegDocs.length;i++) { const d=allRegDocs[i]; structuredContext += '\\nDocket '+d.docket+' ('+d.topic+'): '+(d.docs.slice(0,2).join(' | ')||'No docs')+(d.finalRule?' *** FINAL RULE ***':''); }\nif (allRegDocs.length===0) structuredContext += '\\nNo dockets queried yet (derived dynamically from KAI_Context)';\nif (usaAwardsR.ok && usaAwardsR.data) {\n  const awards = (usaAwardsR.data.results||[]).slice(0,10);\n  if (awards.length > 0) { structuredContext += '\\n\\n=== USASPENDING PRIME AWARDS -- DMV DRONE ('+awards.length+') ==='; for (let i=0;i<awards.length;i++) { const a=awards[i]; structuredContext += '\\n['+(i+1)+'] '+(a['Recipient Name']||'')+' | Agency: '+(a['Awarding Agency']||'')+' | $'+Number(a['Award Amount']||0).toLocaleString()+' | '+(a['Award Date']||'')+'\\n  '+(a['Description']||'').substring(0,200); } }\n  else structuredContext += '\\n\\n=== USASPENDING AWARDS: No results in DMV ===';\n} else { structuredContext += '\\n\\n=== USASPENDING AWARDS ERROR: '+(usaAwardsR.error||'status '+usaAwardsR.status)+' ==='; }\nif (usaSubsR.ok && usaSubsR.data) {\n  const subs = (usaSubsR.data.results||[]).slice(0,8);\n  if (subs.length > 0) { structuredContext += '\\n\\n=== USASPENDING SUBAWARDS -- TEAMING TARGETS ('+subs.length+') ==='; for (let i=0;i<subs.length;i++) { const s=subs[i]; structuredContext += '\\n['+(i+1)+'] '+(s['Recipient Name']||'')+' | Agency: '+(s['Awarding Agency']||'')+' | $'+Number(s['Award Amount']||0).toLocaleString()+'\\n  '+(s['Description']||'').substring(0,200); } }\n}\nreturn [{ json: Object.assign({}, input, {\n  structuredContext: structuredContext,\n  finalRuleAlerts: finalRuleAlerts,\n  bh6Alert: finalRuleAlerts.length > 0 ? finalRuleAlerts : null,\n  samKeySet: SAM_KEY.length > 0,\n  apiSummary: {\n    sam: { ok: samR.ok, skipped: samR.skipped||false, count: samR.ok&&samR.data?(samR.data.opportunitiesData||samR.data.results||[]).length:0, error: samR.error||null },\n    sbir: { ok: sbirR.ok, count: sbirR.ok&&sbirR.data?(Array.isArray(sbirR.data)?sbirR.data.length:(sbirR.data.results||sbirR.data.solicitations||[]).length):0, error: sbirR.error||null },\n    grants: { ok: grantsR.ok, count: grantsR.ok&&grantsR.data?(grantsR.data.oppHits||grantsR.data.results||[]).length:0, error: grantsR.error||null },\n    regulations: { ok: true, docketsQueried: allRegDocs.length, finalRuleAlerts: finalRuleAlerts.length },\n    usaAwards: { ok: usaAwardsR.ok, count: usaAwardsR.ok&&usaAwardsR.data?(usaAwardsR.data.results||[]).length:0, error: usaAwardsR.error||null },\n    usaSubawards: { ok: usaSubsR.ok, count: usaSubsR.ok&&usaSubsR.data?(usaSubsR.data.results||[]).length:0, error: usaSubsR.error||null }\n  }\n}) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "nova-p-005",
      "name": "Structured API Sweep"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst input = $input.first().json;\nconst systemPrompt = 'You are Nova, KAI-Netics Beachhead Advance Officer. REASON -- do not keyword-match.\\n\\nProfile: '+input.founderName+' | '+input.founderCredentials+' | Phase: '+input.phase+' | Constraints: '+((input.activeConstraints||[]).join(', ')||'none')+'\\n\\nApply 8 reasoning questions:\\n1. REGULATORY TRIGGER: compliance mandate KAI-Netics can fulfill?\\n2. FOLLOW THE MONEY: who just got funded?\\n3. VERTICAL EXPANSION: new use cases unlocked?\\n4. ECOSYSTEM MAPPING: primes and subs in USASpending?\\n5. GEOGRAPHY: national or international reach?\\n6. SAFER SKIES: public safety solicitations Safer Skies would expand?\\n7. BVLOS UNLOCK: Regulations.gov signal on Part 108?\\n8. 3PL + ADJACENT: logistics, workforce, adjacent plays?\\n\\nReturn STRICT JSON only -- no markdown, no preamble. Keep ALL string values under 120 chars:\\n{\"reasoning_summary\":\"string\",\"structured_data_insight\":\"string\",\"primes_identified\":[\"string\"],\"regulatory_alerts\":[\"string\"],\"bh6_signal\":\"ACTIVE or WATCH\",\"derived_brave_queries\":[{\"query\":\"string\",\"beachhead\":\"string\",\"scope\":\"string\",\"reasoning\":\"string\",\"urgency\":\"string\"}],\"opportunity_hypotheses\":[{\"hypothesis\":\"string\",\"beachhead\":\"string\",\"scope\":\"string\",\"buyer\":\"string\",\"trigger\":\"string\",\"action\":\"string\",\"constraint_flag\":\"string\",\"revenue_type\":\"string\"}],\"teaming_recommendations\":[\"string\"],\"new_source_recommendations\":[\"string\"]}';\nconst userPrompt = 'TODAY: '+new Date().toLocaleDateString('en-US',{weekday:'long',year:'numeric',month:'long',day:'numeric',timeZone:'America/New_York'})+'\\n'+(input.manualFocus?'MANUAL FOCUS: '+input.manualFocus+'\\n':'')+'Phase: '+input.phase+'\\nFirst dollar: '+input.firstDollarPath+'\\nBeachheads (summary):\\n'+input.beachheadFull.substring(0,1500)+'\\nDeadlines:\\n'+input.urgentDeadlines+'\\nConstraints: '+((input.activeConstraints||[]).join(', ')||'none')+'\\n\\n--- LIVE DATA ---\\n'+input.structuredContext.substring(0,3000)+'\\n--- END DATA ---\\n\\nAPI: SAM('+(input.apiSummary.sam.skipped?'skipped':input.apiSummary.sam.count)+') SBIR('+input.apiSummary.sbir.count+') Grants('+input.apiSummary.grants.count+') Awards('+input.apiSummary.usaAwards.count+') Subs('+input.apiSummary.usaSubawards.count+')\\n\\nDerive exactly 6 Brave queries and exactly 5 opportunity hypotheses. Keep ALL strings under 120 chars.';\nconst rb = JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1800, system: systemPrompt, messages: [{ role: 'user', content: userPrompt }] });\nconst result = await new Promise(function(resolve, reject) {\n  const req = https.request({ hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': $env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(rb) } }, function(res) { let d = ''; res.on('data', function(c) { d += c; }); res.on('end', function() { resolve({ status: res.statusCode, body: d }); }); });\n  req.on('error', reject); req.write(rb); req.end();\n});\nlet ro = { reasoning_summary:'Hypothesis mode -- no live API data', structured_data_insight:'APIs returned errors', primes_identified:[], regulatory_alerts:[], bh6_signal:'WATCH', derived_brave_queries:[], opportunity_hypotheses:[], teaming_recommendations:[], new_source_recommendations:[] };\ntry {\n  const rawBody = JSON.parse(result.body);\n  const t = (rawBody.content && rawBody.content[0] && rawBody.content[0].text) ? rawBody.content[0].text : '{}';\n  const clean = t.replace(/^```json\\s*/,'').replace(/^```\\s*/,'').replace(/\\s*```$/,'').trim();\n  try { ro = JSON.parse(clean); } catch(e1) {\n    const first = clean.indexOf('{'); const last = clean.lastIndexOf('}');\n    if (first !== -1 && last > first) { try { ro = JSON.parse(clean.substring(first, last+1)); } catch(e2) { const m = t.match(/\"reasoning_summary\"\\s*:\\s*\"([^\"]{0,200})\"/); if (m) ro.reasoning_summary = m[1]; else ro.reasoning_summary = 'Parse error -- see log'; } }\n  }\n} catch(e) { ro.reasoning_summary = 'Response error: '+e.message; }\nreturn [{ json: Object.assign({}, input, { ro: ro, derivedBraveQueries: ro.derived_brave_queries||[], opportunityHypotheses: ro.opportunity_hypotheses||[], primesIdentified: ro.primes_identified||[], regulatoryAlerts: ro.regulatory_alerts||[], teamingRecommendations: ro.teaming_recommendations||[], newSourceRecs: ro.new_source_recommendations||[], reasoningSummary: ro.reasoning_summary||'', structuredDataInsight: ro.structured_data_insight||'', bh6Signal: ro.bh6_signal||'WATCH' }) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "nova-p-006",
      "name": "Nova Reasoning Engine"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst input = $input.first().json;\nconst derivedQueries = input.derivedBraveQueries || [];\nconst BRAVE_KEY = $env.BRAVE_API_KEY || $env.BRAVE_SEARCH_API_KEY || '';\nif (!BRAVE_KEY) return [{ json: Object.assign({}, input, { braveResults: [], braveSkipped: true, braveContext: 'BRAVE_API_KEY not set.' }) }];\nfunction braveSearch(query) {\n  const encoded = encodeURIComponent(query);\n  return new Promise(function(resolve) {\n    const timer = setTimeout(function() { resolve([]); }, 8000);\n    const req = https.request({ hostname: 'api.search.brave.com', port: 443, path: '/res/v1/web/search?q='+encoded+'&count=5&search_lang=en&country=us&text_decorations=false&extra_snippets=true', method: 'GET', headers: { 'Accept': 'application/json', 'X-Subscription-Token': BRAVE_KEY } }, function(res) {\n      let d = ''; res.on('data', function(c) { d += c; });\n      res.on('end', function() { clearTimeout(timer); try { resolve((JSON.parse(d).web.results||[]).slice(0,5).map(function(r){return{title:r.title||'',url:r.url||'',description:r.description||'',snippets:(r.extra_snippets||[]).slice(0,2)};})); } catch(e){resolve([]);} });\n    });\n    req.on('error', function() { clearTimeout(timer); resolve([]); }); req.end();\n  });\n}\nconst searchResults = await Promise.all(derivedQueries.slice(0,6).map(function(dq) {\n  return braveSearch(dq.query).then(function(results) { return { query:dq.query, beachhead:dq.beachhead, scope:dq.scope, reasoning:dq.reasoning, urgency:dq.urgency, results:results }; });\n}));\nlet braveContext = '';\nfor (let i=0;i<searchResults.length;i++) { const sr=searchResults[i]; if (sr.results.length>0) { braveContext += '\\n=== BRAVE ['+sr.beachhead+'|'+sr.scope+'|'+sr.urgency+']: '+sr.query+' ===\\n'; braveContext += sr.results.map(function(r,j){return '['+(j+1)+'] '+r.title+'\\n  '+r.url+'\\n  '+r.description+(r.snippets.length>0?'\\n  '+r.snippets.join(' | '):'');}).join('\\n'); } }\nreturn [{ json: Object.assign({}, input, { braveResults: searchResults, braveContext: braveContext||'No Brave results.', braveSkipped: false }) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "nova-p-007",
      "name": "Brave Search Execution"
    },
    {
      "parameters": {
        "jsCode": "// SCORE + ROUTE v3.2 -- robust multi-layer JSON parse\nconst https = require('https');\nconst fs = require('fs');\nconst input = $input.first().json;\nconst systemPrompt = 'You are Nova, KAI-Netics Intelligence Officer. Score and route all opportunities.\\n\\nScore 0-100 against: CISSP, PMP, FAA Part 107, Security+, CCNA, MCSE, 33yr IT, medical supply chain | FP=commercial, EAF=grants/workforce, MONK=R&D/IP | constraints: no Part 135, no fleet until July 2026, SAM UEI pending, 501c3 pending | NDAA advantage | Zero capital: consulting/advisory/training\\n\\nTIER 1 = fit >= 70 AND no blocking constraint AND specific named action\\nTIER 2 = fit 50-69 OR constraint-blocked OR ASPIRATIONAL\\nTIER 3 = everything else\\n\\nCRITICAL: Return ONLY valid JSON. No markdown. All string values UNDER 150 chars. No unterminated strings:\\n{\"tier1\":[{\"title\":\"s\",\"source\":\"s\",\"source_url\":\"s\",\"beachhead\":\"s\",\"scope\":\"FEDERAL\",\"entity\":\"FP\",\"fit_score\":85,\"award_value\":\"s\",\"deadline\":\"s\",\"ndaa_advantage\":false,\"zero_capital\":false,\"constraint_flags\":[],\"recommended_action\":\"s\",\"specific_next_step\":\"s\",\"whatsapp_line\":\"s\"}],\"tier2\":[{\"title\":\"s\",\"source\":\"s\",\"beachhead\":\"s\",\"scope\":\"s\",\"entity\":\"s\",\"fit_score\":60,\"award_value\":\"s\",\"deadline\":\"s\",\"constraint_flags\":[],\"unlock_gate\":\"s\",\"recommended_action\":\"s\",\"whatsapp_line\":\"s\"}],\"tier3\":[{\"title\":\"s\",\"source\":\"s\",\"beachhead\":\"s\",\"scope\":\"s\",\"fit_score\":30,\"note\":\"s\"}],\"top_insight\":\"s\",\"regulatory_headline\":\"s\",\"teaming_targets\":[\"s\"],\"bh6_status\":\"WATCH\"}';\nconst userPrompt = 'TODAY: '+new Date().toLocaleDateString('en-US',{timeZone:'America/New_York'})+'\\nREASONING: '+input.reasoningSummary.substring(0,400)+'\\nBH6: '+input.bh6Signal+'\\nOPPS: '+JSON.stringify((input.opportunityHypotheses||[]).slice(0,5))+'\\nZERO CAP: '+JSON.stringify((input.zeroCapitalOpps||[]).slice(0,3))+'\\nBUYERS: '+JSON.stringify((input.derivedBuyerCategories||[]).slice(0,4))+'\\nBRAVE: '+input.braveContext.substring(0,1500)+'\\n\\nScore and route. ALL strings under 150 chars. Return valid JSON only.';\nconst rb = JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 2000, system: systemPrompt, messages: [{ role: 'user', content: userPrompt }] });\nconst result = await new Promise(function(resolve, reject) {\n  const req = https.request({ hostname:'api.anthropic.com', port:443, path:'/v1/messages', method:'POST', headers:{'Content-Type':'application/json','x-api-key':$env.ANTHROPIC_API_KEY,'anthropic-version':'2023-06-01','Content-Length':Buffer.byteLength(rb)} }, function(res){let d='';res.on('data',function(c){d+=c;});res.on('end',function(){resolve({status:res.statusCode,body:d});});});\n  req.on('error',reject); req.write(rb); req.end();\n});\nlet scored = { tier1:[], tier2:[], tier3:[], top_insight:'', regulatory_headline:'', teaming_targets:[], bh6_status:'WATCH' };\ntry {\n  const rawBody = JSON.parse(result.body);\n  const rawText = (rawBody.content&&rawBody.content[0]&&rawBody.content[0].text) ? rawBody.content[0].text : '';\n  if (rawText) {\n    const clean = rawText.replace(/^```json\\s*/,'').replace(/^```\\s*/,'').replace(/\\s*```$/,'').trim();\n    try { scored = JSON.parse(clean); } catch(e1) {\n      const first=clean.indexOf('{'); const last=clean.lastIndexOf('}');\n      if (first!==-1&&last>first) { try { scored=JSON.parse(clean.substring(first,last+1)); } catch(e2) { const m=rawText.match(/\"top_insight\"\\s*:\\s*\"([^\"]{0,300})\"/); scored.top_insight = m?m[1]:'Scoring JSON parse failed'; } }\n      else scored.top_insight = 'No JSON found in scoring response';\n    }\n  }\n} catch(e) { scored.top_insight = 'Scoring error: '+e.message; }\nconst dateStr = new Date().toISOString().replace(/[:.]/g,'-').slice(0,19);\nconst reportPath = '/data/Aidan_Outputs/Nova/NovaProactive_'+dateStr+'.json';\nfs.mkdirSync('/data/Aidan_Outputs/Nova',{recursive:true});\nfs.writeFileSync(reportPath, JSON.stringify({meta:{generated:new Date().toISOString(),version:'v3.2',isScheduled:input.isScheduled,samKeySet:input.samKeySet},api_summary:input.apiSummary,reasoning_summary:input.reasoningSummary,tier1:scored.tier1||[],tier2:scored.tier2||[],tier3:scored.tier3||[],top_insight:scored.top_insight,bh6_status:scored.bh6_status},null,2),'utf8');\nconst scopeOrder=['FEDERAL','NATIONAL','INTERNATIONAL','STATE','LOCAL','ASPIRATIONAL'];\nconst t1=scored.tier1||[]; const t2=scored.tier2||[]; const t3=scored.tier3||[];\nconst sorted1=t1.slice().sort(function(a,b){const ai=scopeOrder.indexOf(a.scope);const bi=scopeOrder.indexOf(b.scope);const sd=(ai===-1?99:ai)-(bi===-1?99:bi);return sd!==0?sd:(b.fit_score||0)-(a.fit_score||0);}).slice(0,5);\nconst samStatus=input.apiSummary.sam.skipped?'skipped(no-key)':(input.apiSummary.sam.ok?input.apiSummary.sam.count:'err');\nconst apiLine='SAM('+samStatus+') SBIR('+(input.apiSummary.sbir.ok?input.apiSummary.sbir.count:'err')+') Grants('+(input.apiSummary.grants.ok?input.apiSummary.grants.count:'err')+') Awards('+(input.apiSummary.usaAwards.ok?input.apiSummary.usaAwards.count:'err')+') Subs('+(input.apiSummary.usaSubawards.ok?input.apiSummary.usaSubawards.count:'err')+') Brave('+(input.braveResults||[]).filter(function(r){return r.results&&r.results.length>0;}).length+'q)';\nlet brief='NOVA PROACTIVE v3 -- '+new Date().toLocaleDateString('en-US',{timeZone:'America/New_York'})+'\\n'+(input.isScheduled?'Scheduled':'Manual: '+(input.manualFocus||'full'))+' | '+apiLine+'\\n\\nTOP INSIGHT:\\n'+(scored.top_insight||'See report')+'\\n\\nBH6: '+(scored.bh6_status||'WATCH')+'\\n';\nif (scored.regulatory_headline) brief+='\\nREGULATORY: '+scored.regulatory_headline+'\\n';\nif (!input.samKeySet) brief+='\\nNOTE: SAM skipped -- add SAM_API_KEY to .env + START_KINETIC.ps1\\n';\nif ((input.primesIdentified||[]).length>0) brief+='PRIMES: '+input.primesIdentified.slice(0,3).join(', ')+'\\n';\nbrief+='\\nTIER 1 -- ACT NOW ('+sorted1.length+'):\\n';\nfor (let i=0;i<sorted1.length;i++){const o=sorted1[i];const ndaa=o.ndaa_advantage?' [NDAA]':'';const zc=o.zero_capital?' [ZERO-CAP]':'';const blocked=o.constraint_flags&&o.constraint_flags.length>0?' [!'+o.constraint_flags.join(',')+']':'';\nbrief+=(i+1)+'.['+o.scope+']['+o.entity+'] '+(o.whatsapp_line||o.title+'|'+(o.fit_score||'?')+'%|'+(o.award_value||'TBD')+'|'+(o.deadline||'TBD')+'|'+o.recommended_action)+ndaa+zc+blocked+(o.specific_next_step?'\\n   -> '+o.specific_next_step:'')+'\\n';}\nbrief+='\\nTIER 2 ('+t2.length+' items) + TIER 3 ('+t3.length+' pipeline) in Supabase.\\nReport: '+reportPath;\nreturn [{ json: Object.assign({}, input, {tier1:t1,tier2:t2,tier3:t3,topInsight:scored.top_insight||'',regulatoryHeadline:scored.regulatory_headline||'',teamingTargets:scored.teaming_targets||[],bh6Status:scored.bh6_status||'WATCH',brief:brief,reportPath:reportPath}) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0],
      "id": "nova-p-008",
      "name": "Score + Route"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst alerts = input.finalRuleAlerts || [];\nfor (let i=0;i<alerts.length;i++) {\n  const alert=alerts[i];\n  const msg='*** NOVA REGULATORY ACTIVATION ALERT ***\\nBeachhead: '+alert.beachhead+'\\nDocket: '+alert.docket+'\\nTopic: '+alert.topic+'\\nUnlock: '+(alert.unlock||'See full report')+'\\n\\nFINAL RULE DETECTED. Update KAI_Context. Tell Scribe to patch beachhead to ACTIVE.';\n  const msgBody=JSON.stringify({number:'14432576836@s.whatsapp.net',textMessage:{text:msg}});\n  const opts={hostname:'host.docker.internal',port:8081,path:'/message/sendText/Aidan',method:'POST',headers:{'Content-Type':'application/json','apikey':'Kevin2026','Content-Length':Buffer.byteLength(msgBody)}};\n  await new Promise(function(r){const req=http.request(opts,function(res){res.on('data',function(){});res.on('end',r);});req.on('error',r);req.write(msgBody);req.end();});\n  await new Promise(function(r){setTimeout(r,1000);});\n}\nreturn [{ json: input }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0],
      "id": "nova-p-009",
      "name": "Regulatory Activation Handler"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst crypto = require('crypto');\nconst input = $input.first().json;\nconst SUPABASE_URL = ($env.SUPABASE_URL||'').replace('https://','').replace('http://','');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY||'';\nif (!SUPABASE_URL||!SUPABASE_KEY) return [{ json: Object.assign({}, input, {supabaseLogged:false}) }];\nconst allOpps=(input.tier1||[]).map(function(o){return Object.assign({},o,{tier:'tier1'});}).concat((input.tier2||[]).map(function(o){return Object.assign({},o,{tier:'tier2'});})).concat((input.tier3||[]).map(function(o){return Object.assign({},o,{tier:'tier3'});}));\nlet logged=0;\nfor (let i=0;i<Math.min(allOpps.length,20);i++) {\n  const opp=allOpps[i];\n  try {\n    const body=JSON.stringify({run_date:new Date().toISOString().slice(0,10),mode:'nova_v3_'+opp.tier,source_label:'Nova v3|'+(opp.scope||'')+'|'+(opp.source||'mixed')+'|'+opp.tier,query:(opp.title||'').substring(0,500),target_name:(opp.title||'').substring(0,100),fit_score:opp.fit_score||null,recommended_action:(opp.recommended_action||opp.note||'').substring(0,100),data_confidence:'NOVA_V3',saved_file_path:input.reportPath,content_hash:crypto.createHash('md5').update((opp.title||'')+opp.scope+opp.tier+new Date().toISOString().slice(0,10)).digest('hex'),status:opp.tier==='tier1'?'action_required':opp.tier==='tier2'?'watch':'pipeline'});\n    await new Promise(function(resolve,reject){const req=https.request({hostname:SUPABASE_URL,port:443,path:'/rest/v1/scout_reports',method:'POST',headers:{'Content-Type':'application/json','apikey':SUPABASE_KEY,'Authorization':'Bearer '+SUPABASE_KEY,'Prefer':'return=minimal','Content-Length':Buffer.byteLength(body)}},function(res){res.on('data',function(){});res.on('end',resolve);});req.on('error',reject);req.write(body);req.end();});\n    logged++;\n  } catch(e){}\n}\nreturn [{ json: Object.assign({}, input, {supabaseLogged:logged>0,supabaseCount:logged,totalOpps:allOpps.length}) }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0],
      "id": "nova-p-010",
      "name": "Log All Tiers to Supabase"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\nconst t1=input.tier1||[]; const t2=input.tier2||[]; const t3=input.tier3||[];\nconst dbStatus=input.supabaseLogged?'Logged '+input.supabaseCount+' opps':'Supabase failed';\nconst fullMsg='SCOUT v5 BD REPORT LIVE\\nSource: Nova Proactive v3.2\\n\\n'+(input.brief||'Nova complete.')+'\\n\\n'+dbStatus;\nconst chunks=[]; for(let i=0;i<fullMsg.length;i+=3800) chunks.push(fullMsg.substring(i,i+3800));\nfor(let i=0;i<chunks.length;i++){\n  const mb=JSON.stringify({number:'14432576836@s.whatsapp.net',textMessage:{text:chunks[i]}});\n  const opts={hostname:'host.docker.internal',port:8081,path:'/message/sendText/Aidan',method:'POST',headers:{'Content-Type':'application/json','apikey':'Kevin2026','Content-Length':Buffer.byteLength(mb)}};\n  await new Promise(function(r){const req=http.request(opts,function(res){res.on('data',function(){});res.on('end',r);});req.on('error',r);req.write(mb);req.end();});\n  if(chunks.length>1) await new Promise(function(r){setTimeout(r,1200);});\n}\nif(t2.length>0){\n  await new Promise(function(r){setTimeout(r,2000);});\n  const scopeOrder=['FEDERAL','NATIONAL','INTERNATIONAL','STATE','LOCAL','ASPIRATIONAL'];\n  const sorted2=t2.slice().sort(function(a,b){const ai=scopeOrder.indexOf(a.scope);const bi=scopeOrder.indexOf(b.scope);const sd=(ai===-1?99:ai)-(bi===-1?99:bi);return sd!==0?sd:(b.fit_score||0)-(a.fit_score||0);}).slice(0,8);\n  let t2msg='NOVA DIGEST -- TIER 2 ('+sorted2.length+' items):\\n';\n  for(let i=0;i<sorted2.length;i++){const o=sorted2[i];const gate=o.unlock_gate?'\\n   Gate: '+o.unlock_gate:'';t2msg+=(i+1)+'.['+o.scope+']['+(o.entity||'')+'] '+(o.whatsapp_line||o.title+'|'+(o.fit_score||'?')+'%|'+(o.award_value||'TBD')+'|'+(o.deadline||'TBD')+'|'+(o.recommended_action||''))+gate+'\\n';}\n  const mb2=JSON.stringify({number:'14432576836@s.whatsapp.net',textMessage:{text:t2msg}});\n  const opts2={hostname:'host.docker.internal',port:8081,path:'/message/sendText/Aidan',method:'POST',headers:{'Content-Type':'application/json','apikey':'Kevin2026','Content-Length':Buffer.byteLength(mb2)}};\n  await new Promise(function(r){const req=http.request(opts2,function(res){res.on('data',function(){});res.on('end',r);});req.on('error',r);req.write(mb2);req.end();});\n}\nconst cbBody=JSON.stringify({agent:'Nova',version:'proactive_v3.2',tier1Count:t1.length,tier2Count:t2.length,tier3Count:t3.length,totalLogged:input.totalOpps||0,topInsight:input.topInsight||'',bh6Signal:input.bh6Signal,supabaseLogged:input.supabaseLogged,isScheduled:input.isScheduled,timestamp:new Date().toISOString()});\nconst cbOpts={hostname:'host.docker.internal',port:5678,path:'/webhook/aidan-callback',method:'POST',headers:{'Content-Type':'application/json','Content-Length':Buffer.byteLength(cbBody)}};\nconst cbReq=http.request(cbOpts,function(res){res.on('data',function(){});res.on('end',function(){});});cbReq.on('error',function(){});cbReq.write(cbBody);cbReq.end();\nreturn [{json:{success:true,agent:'Nova',version:'proactive_v3.2',tier1:t1.length,tier2:t2.length,tier3:t3.length,topInsight:input.topInsight,reportPath:input.reportPath}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 0],
      "id": "nova-p-011",
      "name": "Deliver to Aidan"
    }
  ],
  "connections": {
    "Daily 9AM Trigger":                      { "main": [[{ "node": "Load Context",                          "type": "main", "index": 0 }]] },
    "Webhook Trigger":                        { "main": [[{ "node": "Load Context",                          "type": "main", "index": 0 }]] },
    "Load Context":                           { "main": [[{ "node": "Derive Targets (Regulatory + Business)", "type": "main", "index": 0 }]] },
    "Derive Targets (Regulatory + Business)": { "main": [[{ "node": "Structured API Sweep",                  "type": "main", "index": 0 }]] },
    "Structured API Sweep":                   { "main": [[{ "node": "Nova Reasoning Engine",                 "type": "main", "index": 0 }]] },
    "Nova Reasoning Engine":                  { "main": [[{ "node": "Brave Search Execution",                "type": "main", "index": 0 }]] },
    "Brave Search Execution":                 { "main": [[{ "node": "Score + Route",                         "type": "main", "index": 0 }]] },
    "Score + Route":                          { "main": [[{ "node": "Regulatory Activation Handler",         "type": "main", "index": 0 }]] },
    "Regulatory Activation Handler":          { "main": [[{ "node": "Log All Tiers to Supabase",             "type": "main", "index": 0 }]] },
    "Log All Tiers to Supabase":              { "main": [[{ "node": "Deliver to Aidan",                     "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KAI-Netics" },{ "name": "Nova" },{ "name": "Proactive" },{ "name": "v3" }]
}



