workflows/14_nova_pursue_v2.json
{
  "name": "Nova - Pursue Command Handler v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-pursue",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "pursue-001",
      "name": "Webhook Trigger",
      "webhookId": "nova-pursue-v2"
    },
    {
      "parameters": {
        "jsCode": "// STEP 1 -- PARSE PURSUE COMMAND v2\nconst fs = require('fs');\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst rawTitle = String(body.title || body.opportunity || body.text || '').trim();\nconst source = String(body.source || 'manual').toLowerCase();\nconst kevinNote = String(body.note || body.kevin_note || '').trim();\nconst entityHint = String(body.entity || '').toUpperCase();\nconst beachheadHint = String(body.beachhead || '').toUpperCase();\n// PATCH: preserve mission_path if passed by caller (dashboard openPursuit)\nconst missionPath = body.mission_path || body.missionPath || null;\nlet kaiContext = {};\ntry { kaiContext = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) {}\nconst resolveEntity = (title, hint) => {\n  if (hint && ['FP','EAF','MONK','MULTI'].includes(hint)) return hint;\n  const t = title.toLowerCase();\n  if (t.includes('grant') || t.includes('workforce') || t.includes('nonprofit') || t.includes('earn') || t.includes('eaf') || t.includes('cako') || t.includes('fema preparedness') || t.includes('workforce')) return 'EAF';\n  if (t.includes('sbir') || t.includes('monk') || t.includes('r&d') || t.includes('patent') || t.includes('licensing')) return 'MONK';\n  if (t.includes('inspection') || t.includes('contract') || t.includes('consulting') || t.includes('bd') || t.includes('rfp') || t.includes('utility') || t.includes('bridge') || t.includes('dfr') || t.includes('police') || t.includes('medical supply')) return 'FP';\n  return 'MULTI';\n};\nconst resolveType = (title) => {\n  const t = title.toLowerCase();\n  if (t.includes('sbir') || t.includes('sttr')) return 'sbir';\n  if (t.includes('grant') || t.includes('fema') || t.includes('earn') || t.includes('workforce')) return 'grant';\n  if (t.includes('contract') || t.includes('rfp') || t.includes('inspection') || t.includes('dfr')) return 'contract';\n  if (t.includes('consulting') || t.includes('advisory') || t.includes('omb m-26')) return 'consulting';\n  if (t.includes('licensing') || t.includes('oem') || t.includes('partnership')) return 'licensing';\n  if (t.includes('job') || t.includes('employment') || t.includes('ojt') || t.includes('position') || t.includes('hire')) return 'employment';\n  return 'contract';\n};\nconst entity = resolveEntity(rawTitle, entityHint);\nconst opportunityType = resolveType(rawTitle);\nconst triggerJordan = true;\nconst triggerIris = entity === 'EAF' || entity === 'MULTI';\nconst triggerAtlas = entity === 'MONK';\nreturn [{ json: {\n  title: rawTitle,\n  source,\n  kevinNote,\n  entity,\n  beachheadHint,\n  opportunityType,\n  triggerJordan,\n  triggerIris,\n  triggerAtlas,\n  missionPath,\n  timestamp: new Date().toISOString(),\n  founderName: (kaiContext.founder || {}).name || 'Kevin Alexander Smith',\n  founderCredentials: ((kaiContext.founder || {}).credentials || []).join(', ')\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "pursue-002",
      "name": "Parse Command"
    },
    {
      "parameters": {
        "jsCode": "// STEP 2 -- UPSERT TO PIPELINE (v2 -- prevents duplicates)\n// Uses Supabase upsert with on_conflict=title,entity\n// If same title+entity already exists, updates status to pursuing\nconst https = require('https');\nconst input = $input.first().json;\nconst SUPABASE_URL = ($env.SUPABASE_URL || '').replace('https://','').replace('http://','');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY || '';\nconst record = {\n  title: input.title,\n  source: input.source,\n  entity: input.entity,\n  opportunity_type: input.opportunityType,\n  beachhead: input.beachheadHint || null,\n  status: 'pursuing',\n  kevin_note: input.kevinNote || null,\n  jordan_triggered: input.triggerJordan,\n  iris_triggered: input.triggerIris,\n  atlas_triggered: input.triggerAtlas,\n  discovered_by_agent: 'Nova-Pursue v2',\n  run_date: new Date().toISOString().slice(0,10)\n};\nlet pipelineId = null;\nlet writeStatus = 'failed';\nif (!SUPABASE_URL || !SUPABASE_KEY) {\n  writeStatus = 'skipped -- missing Supabase credentials';\n  return [{ json: { ...input, pipelineId, writeStatus } }];\n}\ntry {\n  const body = JSON.stringify(record);\n  const result = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: SUPABASE_URL,\n      port: 443,\n      path: '/rest/v1/pipeline',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'apikey': SUPABASE_KEY,\n        'Authorization': 'Bearer ' + SUPABASE_KEY,\n        'Prefer': 'resolution=merge-duplicates,return=representation',\n        'Content-Length': Buffer.byteLength(body)\n      }\n    }, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n  if (result.status === 201 || result.status === 200) {\n    writeStatus = 'saved';\n    try { pipelineId = JSON.parse(result.body)[0]?.id || null; } catch(e) {}\n  } else {\n    writeStatus = 'error_' + result.status + ': ' + result.body.substring(0, 200);\n  }\n} catch(e) {\n  writeStatus = 'error: ' + e.message;\n}\nreturn [{ json: { ...input, pipelineId, writeStatus } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "pursue-003",
      "name": "Upsert to Pipeline"
    },
    {
      "parameters": {
        "jsCode": "// STEP 3 -- NOVA PURSUIT PLAN (new in v2)\nconst https = require('https');\nconst fs = require('fs');\nconst input = $input.first().json;\nlet kaiContext = {};\ntry { kaiContext = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) {}\nconst phase = kaiContext.phase || {};\nconst constraints = kaiContext.discovery_profile?.stage_constraints || {};\nconst constraintStr = Object.entries(constraints).filter(([k,v]) => v === true).map(([k]) => k).join(', ');\nconst deadlines = (kaiContext.deadlines || []).filter(d => !['COMPLETE','FILED','EXEMPT'].includes(d.status)).slice(0, 5).map(d => `${d.item} | Due: ${d.date} | ${d.status}`).join('\\n');\nconst systemPrompt = `You are Nova, KAI-Netics Pursuit Orchestrator. When Kevin says to pursue something, you build the operational plan.\\n\\nFOUNDER: ${input.founderName} | ${input.founderCredentials}\\nPHASE: ${phase.current}\\nCONSTRAINTS: ${constraintStr || 'none'}\\nACTIVE DEADLINES:\\n${deadlines}\\n\\nReturn STRICT JSON only -- no markdown, no preamble:\\n{\\n  \"mission_title\": \"string\",\\n  \"entity\": \"FP | EAF | MONK | MULTI\",\\n  \"opportunity_type\": \"string\",\\n  \"mission_objective\": \"1 sentence\",\\n  \"immediate_actions\": [\"action 1 -- specific with URL or contact\", \"action 2\", \"action 3\"],\\n  \"jordan_task\": \"loi | capability_statement | sbir_narrative | capability_statement_and_loi\",\\n  \"jordan_brief\": \"2-3 sentences telling Jordan exactly what to draft and why\",\\n  \"iris_alert\": \"deadline or compliance flag for Iris to track, or null\",\\n  \"blockers\": [\"any constraint flags\"],\\n  \"timeline\": \"when this needs to be acted on\",\\n  \"revenue_path\": \"how this becomes money for KAI-Netics\",\\n  \"success_metric\": \"what does done look like\"\\n}`;\nconst userPrompt = `Build pursuit plan for: ${input.title}\\n\\nEntity: ${input.entity}\\nType: ${input.opportunityType}\\nKevin note: ${input.kevinNote || 'none'}\\nToday: ${new Date().toLocaleDateString('en-US', { timeZone: 'America/New_York' })}\\n\\nReturn operational JSON only.`;\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 1000, system: systemPrompt, messages: [{ role: 'user', content: userPrompt }] });\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST',\n    headers: { 'Content-Type': 'application/json', 'x-api-key': process.env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) }\n  }, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\nlet plan = {\n  mission_title: input.title,\n  entity: input.entity,\n  opportunity_type: input.opportunityType,\n  mission_objective: 'Pursue ' + input.title,\n  immediate_actions: ['Review opportunity', 'Contact Jordan for draft', 'Set Iris deadline alert'],\n  jordan_task: input.entity === 'EAF' ? 'loi' : input.entity === 'MONK' ? 'sbir_narrative' : 'capability_statement',\n  jordan_brief: 'Draft initial outreach for ' + input.title,\n  iris_alert: null,\n  blockers: [],\n  timeline: 'ASAP',\n  revenue_path: 'TBD',\n  success_metric: 'Draft submitted'\n};\ntry {\n  const rawText = JSON.parse(result.body)?.content?.[0]?.text || '';\n  const clean = rawText.replace(/^```json\\s*/,'').replace(/^```\\s*/,'').replace(/\\s*```$/,'').trim();\n  try { plan = JSON.parse(clean); } catch(e) {\n    const first = clean.indexOf('{'); const last = clean.lastIndexOf('}');\n    if (first !== -1 && last > first) { try { plan = JSON.parse(clean.substring(first, last+1)); } catch(e2) {} }\n  }\n} catch(e) {}\nconst fs2 = require('fs');\nconst dateStr = new Date().toISOString().replace(/[:.]/g,'-').slice(0,19);\nconst planPath = `/data/Aidan_Outputs/Nova/Pursue_${dateStr}.json`;\nfs2.mkdirSync('/data/Aidan_Outputs/Nova', { recursive: true });\nfs2.writeFileSync(planPath, JSON.stringify({ meta: { title: input.title, entity: input.entity, timestamp: input.timestamp, pipelineId: input.pipelineId, writeStatus: input.writeStatus, missionPath: input.missionPath }, plan }, null, 2), 'utf8');\nreturn [{ json: { ...input, plan, planPath, jordanTask: plan.jordan_task, jordanBrief: plan.jordan_brief, irisAlert: plan.iris_alert, immediateActions: plan.immediate_actions, revenuePath: plan.revenue_path } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "pursue-003b",
      "name": "Nova Pursuit Plan"
    },
    {
      "parameters": {
        "jsCode": "// STEP 4 -- FIRE DOWNSTREAM AGENTS\n// PATCH v2.1: pass mission_path to Jordan so jordan_callback can write chain update\nconst http = require('http');\nconst input = $input.first().json;\nconst fireWebhook = async (path, payload) => {\n  const bodyStr = JSON.stringify(payload);\n  const opts = { hostname: 'host.docker.internal', port: 5678, path, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } };\n  return new Promise(r => { const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(bodyStr); req.end(); });\n};\nconst jordanPayload = {\n  trigger: 'pursue_command',\n  pipeline_id: input.pipelineId,\n  opportunity: input.title,\n  entity: input.entity,\n  opportunity_type: input.opportunityType,\n  task: input.jordanTask || 'capability_statement',\n  kevin_note: input.kevinNote || '',\n  jordan_brief: input.jordanBrief || '',\n  founder_credentials: input.founderCredentials,\n  mission_path: input.missionPath || null\n};\nawait fireWebhook('/webhook/grant-writer', jordanPayload);\nif (input.triggerIris && input.irisAlert) {\n  await fireWebhook('/webhook/iris-monitor', {\n    trigger: 'pursue_command',\n    pipeline_id: input.pipelineId,\n    opportunity: input.title,\n    entity: input.entity,\n    note: input.irisAlert\n  });\n}\nif (input.triggerAtlas) {\n  await fireWebhook('/webhook/atlas-architect', {\n    command: 'Pipeline MONK prep',\n    detail: input.title + ' -- SBIR/R&D technical narrative needed',\n    pipeline_id: input.pipelineId\n  });\n}\nreturn [{ json: { ...input, agentsFired: ['Jordan', ...(input.triggerIris && input.irisAlert ? ['Iris'] : []), ...(input.triggerAtlas ? ['Atlas'] : [])] } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "pursue-004",
      "name": "Fire Downstream Agents"
    },
    {
      "parameters": {
        "jsCode": "// STEP 5 -- CONFIRM TO KEVIN VIA WHATSAPP\nconst http = require('http');\nconst input = $input.first().json;\nconst entityLabel = { 'FP': 'For-Profit', 'EAF': 'Nonprofit', 'MONK': 'R&D/IP', 'MULTI': 'Multi-entity' }[input.entity] || input.entity;\nconst taskLabel = {\n  'loi': 'LOI draft',\n  'capability_statement': 'capability statement',\n  'sbir_narrative': 'SBIR narrative',\n  'capability_statement_and_loi': 'cap statement + LOI'\n}[input.jordanTask] || 'draft';\nconst dbIcon = input.writeStatus === 'saved' ? '✓' : '⚠';\nconst agents = (input.agentsFired || []).join(' + ');\nconst actions = (input.immediateActions || []).slice(0, 3).map((a, i) => `${i+1}. ${a.substring(0, 120)}`).join('\\n');\nlet msg = `NOVA PURSUIT CONFIRMED\\n\\n`;\nmsg += `Mission: ${input.title}\\n`;\nmsg += `Entity: ${entityLabel} [${input.entity}]\\n`;\nmsg += `Type: ${input.opportunityType}\\n`;\nif (input.kevinNote) msg += `Your note: ${input.kevinNote}\\n`;\nmsg += `\\nPipeline: ${dbIcon} ${input.writeStatus}\\n`;\nmsg += `Agents fired: ${agents}\\n`;\nmsg += `Jordan drafting: ${taskLabel}\\n`;\nmsg += `Mission chain: will update on Jordan complete\\n`;\nif (input.revenuePath && input.revenuePath !== 'TBD') msg += `\\nRevenue path: ${input.revenuePath}\\n`;\nif (actions) msg += `\\nImmediate actions:\\n${actions}\\n`;\nmsg += `\\nDraft ready ~60 seconds.\\nCheck Dashboard pipeline tab.`;\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: msg } });\nconst opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(r => { const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\nconst cbBody = JSON.stringify({ agent: 'Nova', subagent: 'Pursue v2.1', opportunity: input.title, entity: input.entity, pipelineId: input.pipelineId, writeStatus: input.writeStatus, agentsFired: input.agentsFired, missionPath: input.missionPath, timestamp: new Date().toISOString() });\nconst cbOpts = { hostname: 'host.docker.internal', port: 5678, path: '/webhook/aidan-callback', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } };\nconst cbReq = http.request(cbOpts, res => { res.on('data',()=>{}); res.on('end',()=>{}); }); cbReq.on('error',()=>{}); cbReq.write(cbBody); cbReq.end();\nreturn [{ json: { success: true, opportunity: input.title, entity: input.entity, pipelineId: input.pipelineId, agentsFired: input.agentsFired } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "pursue-005",
      "name": "Confirm to Kevin"
    }
  ],
  "connections": {
    "Webhook Trigger":        { "main": [[{ "node": "Parse Command",          "type": "main", "index": 0 }]] },
    "Parse Command":          { "main": [[{ "node": "Upsert to Pipeline",     "type": "main", "index": 0 }]] },
    "Upsert to Pipeline":     { "main": [[{ "node": "Nova Pursuit Plan",      "type": "main", "index": 0 }]] },
    "Nova Pursuit Plan":      { "main": [[{ "node": "Fire Downstream Agents", "type": "main", "index": 0 }]] },
    "Fire Downstream Agents": { "main": [[{ "node": "Confirm to Kevin",       "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Nova" }, { "name": "Pipeline" }, { "name": "Pursue" }, { "name": "v2.1" }]
}
