workflows/1_atlas_v2.json
{
  "name": "Atlas - Technical Architect v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "atlas-architect",
        "responseMode": "onReceived",
        "options": {},
        "responseData": "firstEntryJson"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "atlas-001",
      "name": "Webhook",
      "webhookId": "4e74cbbc-7466-4e34-9da5-bc5f3613bfcc"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nlet ctx = {};\ntry {\n  ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8').replace(/﻿/g, ''));\n} catch(e) { ctx = {}; }\n\nconst todayStr = new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'});\nconst nowStr = new Date().toLocaleString('en-US', {timeZone: 'America/New_York'});\n\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst command = String(body.command || '').trim();\nconst detail = String(body.detail || '').trim();\n\nconst entities = ctx.entities || {};\nconst founder = ctx.founder || {};\nconst verticals = ctx.verticals || {};\nconst tech = ctx.technology || {};\nconst dates = ctx.key_dates || {};\nconst revenue = ctx.revenue_targets || {};\nconst compliance = (ctx.compliance_rules || []).join('\\n- ');\nconst naics = ((ctx.naics && ctx.naics.registered) || []).map(function(n){ return n.code + ' ' + n.description; }).join(', ');\n\nconst deadlines = (ctx.deadlines || []).filter(function(d){\n  const st = (d.status || '').toUpperCase();\n  return st !== 'FILED' && st !== 'COMPLETE' && st !== 'EXEMPT';\n}).slice(0, 12);\n\nconst verticalSummary = Object.entries(verticals).map(function(entry){\n  const k = entry[0]; const v = entry[1];\n  return k + ' -- ' + v.name + ' | Status: ' + v.status + ' | Margin: ' + (v.margin || 'TBD');\n}).join('\\n');\n\nconst deadlineSummary = deadlines.map(function(d){\n  const days = Math.ceil((new Date(d.date) - new Date()) / (1000 * 60 * 60 * 24));\n  const label = days < 0 ? 'OVERDUE ' + Math.abs(days) + 'd' : days + 'd';\n  return label + ' -- ' + d.item + ' [' + (d.entity || '?') + ']';\n}).join('\\n') || 'None loaded';\n\nconst companyContext = 'TODAY: ' + todayStr + '\\n\\nKAI-NETICS CONTEXT\\n' +\n  'FP: ' + (entities.FP && entities.FP.name || 'KAI-Netics') + ' | EIN: ' + (entities.FP && entities.FP.ein || '') + '\\n' +\n  'EAF: ' + (entities.EAF && entities.EAF.name || 'EAF') + ' | EIN: ' + (entities.EAF && entities.EAF.ein || '') + '\\n' +\n  'MONK LLC: ' + (entities.MONK && entities.MONK.status || 'In formation') + '\\n' +\n  'Founder: ' + (founder.name || 'Kevin Alexander Smith') + '\\n' +\n  'Credentials: ' + (founder.credentials || []).join(', ') + '\\n\\n' +\n  'VERTICALS:\\n' + verticalSummary + '\\n\\n' +\n  'TECHNOLOGY:\\n' +\n  '  MONK: ' + (tech.MONK && tech.MONK.description || '') + '\\n' +\n  '  BVLOS: ' + (tech.MONK && tech.MONK.bvlos_relevance || '') + '\\n' +\n  '  SBIR Target: ' + (tech.MONK && tech.MONK.sbir_target || '') + '\\n\\n' +\n  'NAICS: ' + naics + '\\n\\n' +\n  'REVENUE: Y1 ' + (revenue.year1_total || '') + ' | Y2 ' + (revenue.year2_total || '') + ' | Y3 ' + (revenue.year3_total || '') + '\\n\\n' +\n  'ACTIVE DEADLINES:\\n' + deadlineSummary + '\\n\\n' +\n  'COMPLIANCE:\\n- ' + compliance + '\\n\\n' +\n  'KEY DATES: MEIA ' + (dates.meia_capstone || 'N/A') + ' | OMB M-26-02 ' + (dates.omb_m2602_deadline || 'May 20 2026') + '\\n\\n' +\n  'TECHNICAL ADVISOR: Dr. Alexander Kott -- Former Chief Scientist U.S. Army Research Laboratory 20+ years. Validated MONK architecture.\\n' +\n  'REGULATORY: FAA Part 108 BVLOS final rule INCOMING -- MONK is the primary compliance solution.';\n\nconst systemPrompt = 'You are Atlas, Senior Technical Architect and Strategic Intelligence Officer for KAI-Netics.\\n\\n' +\n  'You have full authority to reason about ANY request -- technical, strategic, operational, regulatory, or financial -- across all 7 verticals and both entities (FP and EAF).\\n\\n' +\n  'You do NOT follow a command menu. You read the INTENT behind every request and respond with the most useful possible output given the company context.\\n\\n' +\n  'PRINCIPLES:\\n' +\n  '1. Lead with the most actionable insight first\\n' +\n  '2. Be technically precise -- Dr. Kott will review your work\\n' +\n  '3. Connect technical facts to revenue, BD, or compliance implications\\n' +\n  '4. Flag unknowns rather than fabricating\\n' +\n  '5. Scale depth to the request -- status question gets sharp summary, SBIR draft gets full narrative\\n' +\n  '6. Always close with: ATLAS RECOMMENDATION + owner + deadline\\n\\n' +\n  'DOMAINS: SBIR/STTR narrative, FAA Part 107/108/135, MONK secure element architecture, CAKO workforce, Maryland grants (TEDCO/Lighthouse/EARN/ADVANTAGE), federal contracting (SAM/NAICS/MBE), cybersecurity (CISSP/Zero Trust/NDAA), medical delivery (Part 135/Johns Hopkins), commercialization (NSF I-Corps/AFWERX/Maryland Commerce), three-path funding strategy (I-Corps -> MD Commerce -> AFWERX).\\n\\n' +\n  companyContext;\n\nconst userPrompt = command && detail ? command + '\\n\\nAdditional context: ' + detail\n  : command ? command\n  : 'Provide a full KAI-Netics platform status: active opportunities, critical deadlines, top 3 strategic priorities this week, and one recommended action for each vertical.';\n\nconst cmdLower = (command + ' ' + detail).toLowerCase();\nlet outputFolder = 'Atlas_Outputs';\nlet outputPrefix = 'Atlas';\nif(cmdLower.includes('sbir') || cmdLower.includes('sttr')){ outputFolder = 'SBIR'; outputPrefix = 'SBIR'; }\nelse if(cmdLower.includes('afwerx')){ outputFolder = 'SBIR'; outputPrefix = 'AFWERX'; }\nelse if(cmdLower.includes('i-corps') || cmdLower.includes('nsf')){ outputFolder = 'SBIR'; outputPrefix = 'NSF'; }\nelse if(cmdLower.includes('monk')){ outputFolder = 'MONK'; outputPrefix = 'MONK'; }\nelse if(cmdLower.includes('bvlos') || cmdLower.includes('part 108')){ outputFolder = 'SBIR'; outputPrefix = 'BVLOS'; }\nelse if(cmdLower.includes('meia')){ outputFolder = 'SBIR'; outputPrefix = 'MEIA'; }\n\nreturn [{ json: {\n  command: command || 'Atlas platform brief',\n  userPrompt: userPrompt,\n  systemPrompt: systemPrompt,\n  outputFolder: outputFolder,\n  outputPrefix: outputPrefix,\n  isStatus: false,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "atlas-002",
      "name": "Load Context + Build Prompt"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "s1",
              "leftValue": "={{ $json.isStatus }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "atlas-003",
      "name": "Is Status?"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), https = require('https');\nconst { systemPrompt, userPrompt, outputFolder, outputPrefix, command, timestamp } = $input.first().json;\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: systemPrompt, messages: [{ role: 'user', content: userPrompt }] });\nconst options = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': 'REPLACE_WITH_KEY', 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\nlet fullText = '';\ntry { fullText = JSON.parse(result.body).content?.[0]?.text || 'No response.'; } catch(e) { fullText = result.body.substring(0,500); }\nconst wordCount = fullText.split(/\\s+/).filter(w=>w.length>0).length;\nconst dateStr = new Date(timestamp).toISOString().slice(0,10).replace(/-/g,'');\nconst timeStr = new Date(timestamp).toTimeString().slice(0,5).replace(':','');\nconst filename = `${outputPrefix}_${dateStr}_${timeStr}.txt`;\nconst folderPath = `/data/${outputFolder}`;\nfs.mkdirSync(folderPath, { recursive: true });\nfs.writeFileSync(`${folderPath}/${filename}`, `ATLAS v2 — KAI-NETICS\\nCommand: ${command}\\nGenerated: ${timestamp}\\nWords: ${wordCount}\\n\\n${fullText}\\n`, 'utf8');\nconst aidanSummary = `ATLAS COMPLETE\\nCommand: ${command}\\nFile: ${filename}\\nWords: ${wordCount}\\nSaved: /data/${outputFolder}/`;\nreturn [{ json: { command, fullText, filename, outputFolder, wordCount, aidanSummary, timestamp, status: 'written' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        -80
      ],
      "id": "atlas-004",
      "name": "Call Claude + Save Output"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { aidanSummary: $input.first().json.statusReport, command: 'Atlas status', timestamp: $input.first().json.timestamp, status: 'status' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        80
      ],
      "id": "atlas-005",
      "name": "Pass Status"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { aidanSummary = '', command = 'Atlas', wordCount = 0, fullText = '', filename = '', outputFolder = 'Atlas_Outputs' } = $input.first().json;\n\n// Build summary bullets from the full text\nlet summaryBullets = '';\nif (fullText) {\n  const lines = fullText.split('\\n').filter(function(l){ return l.trim(); });\n  const bullets = [];\n  for (let i = 0; i < lines.length; i++) {\n    const l = lines[i].trim();\n    // Pick lines that look like action items or recommendations\n    if (l.match(/^[*\\-•]|^\\d+\\./) && l.length > 20 && l.length < 200) {\n      bullets.push('• ' + l.replace(/^[*\\-•\\d\\.\\s]+/, '').replace(/\\*\\*/g, '').trim());\n      if (bullets.length >= 5) break;\n    }\n  }\n  if (bullets.length > 0) {\n    summaryBullets = '\\n\\n' + bullets.join('\\n');\n  }\n}\n\n// Build file link via dashboard server\nconst fileLink = filename ? '\\n\\nFull report: http://localhost:3030/' + outputFolder + '/' + filename : '';\n\n// Build full WhatsApp message\nconst shortCmd = command.length > 80 ? command.substring(0, 80) + '...' : command;\nconst whatsappMsg = 'ATLAS COMPLETE\\nQuery: ' + shortCmd + summaryBullets + fileLink;\n\n// Send to WhatsApp\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: whatsappMsg } });\nconst waOpts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(function(r){ const req = http.request(waOpts, function(res){ res.on('data',function(){}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\n\n// Send callback to Orchestra consolidator\nconst cbBody = JSON.stringify({ agent: 'Atlas', command, summary: aidanSummary, wordCount, timestamp: new Date().toISOString() });\nconst cbOpts = { hostname: 'host.docker.internal', port: 5678, path: '/webhook/aidan-callback', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } };\nconst cbReq = http.request(cbOpts, function(res){ res.on('data',function(){}); res.on('end',function(){}); }); cbReq.on('error',function(){}); cbReq.write(cbBody); cbReq.end();\n\nreturn [{ json: { success: true, agent: 'Atlas', command, whatsappMsg } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        0
      ],
      "id": "atlas-006",
      "name": "Aidan Callback"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Load Context + Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Context + Build Prompt": {
      "main": [
        [
          {
            "node": "Is Status?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Status?": {
      "main": [
        [
          {
            "node": "Pass Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call Claude + Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude + Save Output": {
      "main": [
        [
          {
            "node": "Aidan Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Status": {
      "main": [
        [
          {
            "node": "Aidan Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aidan Callback": {}
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true
  },
  "tags": [
    {
      "name": "KAI-Netics"
    },
    {
      "name": "Atlas"
    },
    {
      "name": "SBIR"
    }
  ]
}