workflows/1_atlas_v2.json
{
  "name": "Atlas - Technical Architect v2",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "atlas-architect", "responseMode": "lastNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0],
      "id": "atlas-001", "name": "Webhook", "webhookId": "4e74cbbc-7466-4e34-9da5-bc5f3613bfcc"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nlet ctx = {};\ntry { ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { ctx = {}; }\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst command = String(body.command || 'Atlas status');\nconst detail = String(body.detail || '');\nconst entities = ctx.entities || {};\nconst founder = ctx.founder || {};\nconst verticals = ctx.verticals || {};\nconst tech = ctx.technology || {};\nconst dates = ctx.key_dates || {};\nconst revenue = ctx.revenue_targets || {};\nconst compliance = (ctx.compliance_rules || []).join('\\n- ');\nconst verticalSummary = Object.entries(verticals).map(([k, v]) => {\n  const regs = (v.key_regulations || []).slice(0, 3).join(', ');\n  return `${k} — ${v.name} | Status: ${v.status} | Margin: ${v.margin || 'TBD'} | Regs: ${regs}`;\n}).join('\\n');\nconst companyContext = `KAI-NETICS CONTEXT\\nFP: ${entities.FP?.name} | EIN: ${entities.FP?.ein}\\nEAF: ${entities.EAF?.name} | EIN: ${entities.EAF?.ein}\\nMONK: ${entities.MONK?.status}\\nFounder: ${founder.name} | ${(founder.credentials||[]).join(', ')}\\nVerticals:\\n${verticalSummary}\\nMONK: ${tech.MONK?.description}\\nBVLOS: ${tech.MONK?.bvlos_relevance}\\nSBIR: ${tech.MONK?.sbir_target}\\nDates: MEIA ${dates.meia_capstone} | EAF Annual ${dates.eaf_annual_report} | OMB ${dates.omb_m2602_deadline}\\nRevenue: Y1 ${revenue.year1_total} Y2 ${revenue.year2_total} Y3 ${revenue.year3_total}\\nCompliance:\\n- ${compliance}\\nNOTE: FAA Part 108 BVLOS final rule INCOMING — MONK is the compliance case.`;\nconst kott = `Dr. Alexander Kott — Technical Advisor. Former Chief Scientist U.S. Army Research Laboratory 20+ years. Validated MONK architecture. All claims must survive his review.`;\nlet systemPrompt = '', userPrompt = detail, outputFolder = 'Atlas_Outputs', outputPrefix = 'Atlas';\nif (command === 'Atlas SBIR' || command === 'atlas sbir') {\n  systemPrompt = `You are Atlas, Senior Technical Architect for KAI-Netics. Draft SBIR Phase I for DHS S&T/DoD. Technically credible, peer-review quality. Focus MONK + Part 108.\\n${kott}\\n${companyContext}`;\n  outputFolder = 'SBIR'; outputPrefix = 'SBIR';\n  if (!detail) userPrompt = 'Draft Problem Statement and Technical Innovation for DHS S&T SBIR Phase I. Focus: MONK mission governance for BVLOS. Incorporate Part 108 as market timing. Reference Dr. Kott ARL background.';\n} else if (command === 'Atlas MEIA' || command === 'atlas meia') {\n  systemPrompt = `You are Atlas, Senior Technical Architect for KAI-Netics. Prepare MEIA capstone due April 14 2026. Lead with Maryland economic impact, CAKO workforce, MONK commercialization, Part 108 tailwind.\\n${companyContext}`;\n  outputFolder = 'SBIR'; outputPrefix = 'MEIA';\n  if (!detail) userPrompt = 'Draft MEIA capstone executive summary and commercialization narrative. Maryland economic impact, CAKO workforce, MONK licensing, 7-vertical model, Part 108 BVLOS tailwind. Deadline April 14 2026.';\n} else if (command === 'Atlas MONK' || command === 'atlas monk') {\n  systemPrompt = `You are Atlas, Senior Technical Architect for KAI-Netics. Produce MONK architecture documentation. DoD standard. Precise.\\n${kott}\\n${companyContext}`;\n  outputFolder = 'MONK'; outputPrefix = 'MONK';\n} else if (command === 'Atlas BVLOS' || command === 'atlas bvlos') {\n  systemPrompt = `You are Atlas, Senior Technical Architect for KAI-Netics. Produce FAA BVLOS waiver documentation. FAA AC quality. MONK is the core safety argument. Reference Part 108 and FAA-2022-1258.\\n${kott}\\n${companyContext}`;\n  outputFolder = 'SBIR'; outputPrefix = 'BVLOS';\n} else if (['Atlas V1','Atlas V2','Atlas V3','Atlas V4','Atlas V5','Atlas V6','Atlas V7'].includes(command)) {\n  const vKey = command.split(' ')[1]; const v = verticals[vKey] || {};\n  systemPrompt = `You are Atlas, Senior Technical Architect for KAI-Netics. Market analysis for ${vKey}: ${v.name}.\\n${companyContext}`;\n  outputFolder = 'Atlas_Outputs'; outputPrefix = `${vKey}_Analysis`;\n  if (!detail) userPrompt = `Full market entry analysis for ${v.name}: DMV target customers, procurement pathway, compliance, pricing, fleet requirements, timeline, top 3 risks.`;\n} else if (command === 'Atlas Kott prep' || command === 'atlas kott prep') {\n  systemPrompt = `You are Atlas. Prepare Dr. Kott advisory briefing. Executive technical brief. Lead with decision needed. Max 500 words.\\n${kott}\\n${companyContext}`;\n  outputFolder = 'Atlas_Outputs'; outputPrefix = 'Kott_Prep';\n} else if (command === 'Atlas status' || command === 'atlas status' || command === 'Atlas') {\n  const statusReport = `ATLAS v2 OPERATIONAL\\nContext loaded: ${Object.keys(ctx).length} sections | Verticals: ${Object.keys(verticals).length}\\nMEIA: ${dates.meia_capstone} | EAF Annual: ${dates.eaf_annual_report}\\nCommands: Atlas SBIR | MEIA | MONK | BVLOS | V1-V7 | Kott prep | status\\nPart 108 BVLOS: FLAGGED — incorporated into SBIR/BVLOS outputs.`;\n  return [{ json: { command, statusReport, isStatus: true, timestamp: new Date().toISOString() } }];\n} else {\n  systemPrompt = `You are Atlas, Senior Technical Architect for KAI-Netics. Answer technical architecture questions across all 7 verticals.\\n${kott}\\n${companyContext}`;\n  if (!detail) userPrompt = command;\n}\nreturn [{ json: { command, userPrompt, systemPrompt, outputFolder, outputPrefix, isStatus: false, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0], "id": "atlas-002", "name": "Load Context + Build Prompt"
    },
    {
      "parameters": {
        "conditions": { "options": { "caseSensitive": false, "typeValidation": "strict" }, "conditions": [{ "id": "s1", "leftValue": "={{ $json.isStatus }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }], "combinator": "and" },
        "options": {}
      },
      "type": "n8n-nodes-base.if", "typeVersion": 2.2, "position": [440, 0], "id": "atlas-003", "name": "Is Status?"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), https = require('https');\nconst { systemPrompt, userPrompt, outputFolder, outputPrefix, command, timestamp } = $input.first().json;\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 4096, system: systemPrompt, messages: [{ role: 'user', content: userPrompt }] });\nconst options = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': 'REPLACE_WITH_KEY', 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\nlet fullText = '';\ntry { fullText = JSON.parse(result.body).content?.[0]?.text || 'No response.'; } catch(e) { fullText = result.body.substring(0,500); }\nconst wordCount = fullText.split(/\\s+/).filter(w=>w.length>0).length;\nconst dateStr = new Date(timestamp).toISOString().slice(0,10).replace(/-/g,'');\nconst timeStr = new Date(timestamp).toTimeString().slice(0,5).replace(':','');\nconst filename = `${outputPrefix}_${dateStr}_${timeStr}.txt`;\nconst folderPath = `/data/${outputFolder}`;\nfs.mkdirSync(folderPath, { recursive: true });\nfs.writeFileSync(`${folderPath}/${filename}`, `ATLAS v2 — KAI-NETICS\\nCommand: ${command}\\nGenerated: ${timestamp}\\nWords: ${wordCount}\\n\\n${fullText}\\n`, 'utf8');\nconst aidanSummary = `ATLAS COMPLETE\\nCommand: ${command}\\nFile: ${filename}\\nWords: ${wordCount}\\nSaved: /data/${outputFolder}/`;\nreturn [{ json: { command, fullText, filename, outputFolder, wordCount, aidanSummary, timestamp, status: 'written' } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, -80], "id": "atlas-004", "name": "Call Claude + Save Output"
    },
    {
      "parameters": { "jsCode": "return [{ json: { aidanSummary: $input.first().json.statusReport, command: 'Atlas status', timestamp: $input.first().json.timestamp, status: 'status' } }];" },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [660, 80], "id": "atlas-005", "name": "Pass Status"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { aidanSummary = 'Atlas complete.', command = 'Atlas', wordCount = 0 } = $input.first().json;\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: 'Bot reply: ' + aidanSummary } });\nconst waOpts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(r => { const req = http.request(waOpts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\nconst cbBody = JSON.stringify({ agent: 'Atlas', command, summary: aidanSummary, wordCount, timestamp: new Date().toISOString() });\nconst cbOpts = { hostname: 'host.docker.internal', port: 5678, path: '/webhook/aidan-callback', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } };\nconst cbReq = http.request(cbOpts, res => { res.on('data',()=>{}); res.on('end',()=>{}); }); cbReq.on('error',()=>{}); cbReq.write(cbBody); cbReq.end();\nreturn [{ json: { success: true, agent: 'Atlas', command, aidanSummary } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 0], "id": "atlas-006", "name": "Aidan Callback"
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"ok\",\"agent\":\"Atlas\"}" },
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [1100, 0], "id": "atlas-007", "name": "ACK Webhook"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Load Context + Build Prompt", "type": "main", "index": 0 }]] },
    "Load Context + Build Prompt": { "main": [[{ "node": "Is Status?", "type": "main", "index": 0 }]] },
    "Is Status?": { "main": [[{ "node": "Pass Status", "type": "main", "index": 0 }], [{ "node": "Call Claude + Save Output", "type": "main", "index": 0 }]] },
    "Call Claude + Save Output": { "main": [[{ "node": "Aidan Callback", "type": "main", "index": 0 }]] },
    "Pass Status": { "main": [[{ "node": "Aidan Callback", "type": "main", "index": 0 }]] },
    "Aidan Callback": { "main": [[{ "node": "ACK Webhook", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Atlas" }, { "name": "SBIR" }]
}
