workflows/2_scout_v6.json
{
  "name": "Scout - BD Research v6 (BD Analyst)",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 0 11 * * 1-5" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -120],
      "id": "scout-001",
      "name": "Daily 7AM Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout-research",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 80],
      "id": "scout-002",
      "name": "Webhook Trigger",
      "webhookId": "bad5071c-c38c-4e8b-99ec-21573ac025ed"
    },
    {
      "parameters": {
        "jsCode": "// Route + Build Task v6 — updated for strategic discovery layer\n// Scheduled runs: emit strategic_sweep = true → Strategic Discovery node handles multi-target logic\n// Manual runs with explicit query: single-target mode (bypasses strategic layer)\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst isScheduled = !body.query && !body.command;\nconst query = String(body.query || body.command || '');\n\n// Manual single-target run: pass through directly to strategic discovery\n// but mark as single-target so it generates exactly one opportunity\nif (!isScheduled && query) {\n  return [{ json: {\n    mode: body.mode || 'bd',\n    query,\n    grantName: body.grantName || null,\n    sourceLabel: 'Manual',\n    isScheduled: false,\n    strategic_sweep: false,\n    single_query_override: query,\n    timestamp: new Date().toISOString()\n  }}];\n}\n\n// Scheduled run: build context for strategic discovery\nconst today = new Date();\nconst day = today.getDay();\nconst startOfYear = new Date(today.getFullYear(), 0, 1);\nconst weekNum = Math.ceil(((today - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst isWeekA = weekNum % 2 !== 0;\n\n// Focus themes rotate by week/day — Strategic Discovery uses these as priming context\n// not as fixed queries. The AI decides the actual searches.\nconst weekA_themes = {\n  1: { primary: 'federal_compliance_consulting', secondary: 'cmmc_omb_m2602', mode: 'bd' },\n  2: { primary: 'maryland_grants_workforce', secondary: 'earn_lighthouse_cyber', mode: 'grant' },\n  3: { primary: 'utility_infrastructure_inspection', secondary: 'bge_pepco_mdsha_bh1', mode: 'bd' },\n  4: { primary: 'federal_uas_contracts', secondary: 'sbir_monk_bvlos_ndaa', mode: 'bd' },\n  5: { primary: 'defense_prime_teaming', secondary: 'northrop_leidos_booz_subcontract', mode: 'bd' }\n};\nconst weekB_themes = {\n  1: { primary: 'public_safety_dfr', secondary: 'baltimore_county_police_port_psgp', mode: 'bd' },\n  2: { primary: 'medical_delivery_logistics', secondary: 'umms_johns_hopkins_drone_3pl', mode: 'bd' },\n  3: { primary: 'nonprofit_stem_workforce', secondary: 'eaf_cako_drone_cyber_workforce', mode: 'grant' },\n  4: { primary: 'warehouse_autonomous_ops', secondary: 'amazon_pharma_3pl_inventory_drone', mode: 'bd' },\n  5: { primary: 'broad_sweep', secondary: 'all_beachheads_dmv_2026', mode: 'bd' }\n};\n\nconst themes = isWeekA ? weekA_themes : weekB_themes;\nconst theme = themes[day] || themes[1];\n\nreturn [{ json: {\n  mode: theme.mode,\n  query: null,\n  grantName: null,\n  sourceLabel: `Strategic Sweep — ${theme.primary}`,\n  isScheduled: true,\n  strategic_sweep: true,\n  single_query_override: null,\n  theme_primary: theme.primary,\n  theme_secondary: theme.secondary,\n  theme_mode: theme.mode,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "scout-003",
      "name": "Route + Build Task v6"
    },
    {
      "parameters": {
        "jsCode": "// ─── SCOUT STRATEGIC DISCOVERY v1 ────────────────────────────────────────────\n// Higher-order intelligence layer above Scout Brain v6.\n// Behaves like an executive BD/intelligence strategist:\n//   1. Runs broad Brave searches across multiple verticals\n//   2. Calls Claude to think strategically across the landscape\n//   3. Identifies 3-7 distinct actionable opportunities\n//   4. Ranks by urgency, fit, and executability for KAI-Netics\n//   5. Emits one item per opportunity → SplitInBatches feeds each to Scout Brain v6\n//\n// For manual single-query runs: emits exactly one opportunity (the query itself)\n// ─────────────────────────────────────────────────────────────────────────────\nconst fs = require('fs');\nconst https = require('https');\n\nconst input = $input.first().json;\nconst { mode, isScheduled, strategic_sweep, single_query_override,\n        theme_primary, theme_secondary, theme_mode, sourceLabel, timestamp } = input;\n\n// ── Load KAI Context ─────────────────────────────────────────────────────────\nlet ctx = {};\ntry { ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { ctx = {}; }\n\nconst founder   = ctx.founder   || {};\nconst entities  = ctx.entities  || {};\nconst tech      = ctx.technology || {};\nconst phase     = ctx.phase     || {};\nconst beachheads = ctx.beachheads || {};\nconst constraints = ctx.discovery_profile?.stage_constraints || {};\nconst deadlines = (ctx.deadlines || []).filter(d => !['COMPLETE','FILED','EXEMPT'].includes(d.status));\n\nconst credStack      = (founder.credentials || []).join(', ');\nconst constraintStr  = Object.entries(constraints).filter(([,v]) => v === true).map(([k]) => k).join(', ');\nconst activeDeadlines = deadlines.slice(0, 6).map(d => `${d.item} | Due: ${d.date} | ${d.status}`).join('\\n');\nconst bhSummary      = Object.entries(beachheads).filter(([k]) => k.startsWith('BH'))\n                             .map(([k,v]) => `${k}: ${v.name} | ${v.status}`).join('\\n');\n\n// ── Manual single-query shortcut ─────────────────────────────────────────────\nif (!strategic_sweep && single_query_override) {\n  return [{ json: {\n    ...input,\n    opportunities: [{\n      opportunity_target:   single_query_override,\n      search_query:         single_query_override,\n      mode:                 mode || 'bd',\n      sourceLabel:          'Manual',\n      strategic_rationale:  'Manual single-target run',\n      estimated_fit:        70,\n      urgency:              'MEDIUM',\n      discovery_rank:       1,\n    }],\n    strategic_summary:    'Manual single-target run',\n    total_opportunities:  1,\n    discovery_mode:       'manual',\n  }}];\n}\n\n// ── Build broad search queries for strategic sweep ───────────────────────────\n// Run 3 parallel Brave searches across the landscape, then synthesize\nconst BRAVE_KEY = $env.BRAVE_API_KEY || '';\n\nasync function braveSearch(query, count = 5) {\n  const path = `/res/v1/web/search?q=${encodeURIComponent(query)}&count=${count}&search_lang=en&country=us&text_decorations=false&extra_snippets=true`;\n  return new Promise((resolve) => {\n    const req = https.request({\n      hostname: 'api.search.brave.com', port: 443, path, method: 'GET',\n      headers: { 'Accept': 'application/json', 'X-Subscription-Token': BRAVE_KEY }\n    }, (res) => {\n      const chunks = [];\n      res.on('data', c => chunks.push(c));\n      res.on('end', () => {\n        try {\n          const parsed = JSON.parse(Buffer.concat(chunks).toString());\n          const results = (parsed?.web?.results || []).slice(0, count).map(r => ({\n            title: r.title || '',\n            url: r.url || '',\n            description: r.description || '',\n            snippet: (r.extra_snippets || []).slice(0, 1).join(' ')\n          }));\n          resolve({ ok: true, query, results });\n        } catch(e) { resolve({ ok: false, query, results: [], error: e.message }); }\n      });\n    });\n    req.on('error', () => resolve({ ok: false, query, results: [] }));\n    req.end();\n  });\n}\n\n// Build 3 targeted sweep queries from theme context\nconst sweepQueries = [];\n\nif (theme_primary === 'federal_compliance_consulting' || theme_primary === 'cmmc_omb_m2602') {\n  sweepQueries.push('OMB M-26-02 federal drone UAS compliance consulting 2026 CISSP Part 107 subcontract');\n  sweepQueries.push('CMMC 2.0 Maryland Virginia small business defense contractor compliance consulting 2026');\n  sweepQueries.push('federal IT cybersecurity consulting contract RFP 2026 DMV region CISSP');\n} else if (theme_primary === 'maryland_grants_workforce' || theme_primary === 'earn_lighthouse_cyber') {\n  sweepQueries.push('Maryland EARN workforce development grant 2026 technology cybersecurity aerospace nonprofit');\n  sweepQueries.push('Maryland Lighthouse Industries Upskilling Reskilling grant 2026 open applications');\n  sweepQueries.push('Cyber Maryland community clinic grant 2026 nonprofit workforce training');\n} else if (theme_primary === 'utility_infrastructure_inspection') {\n  sweepQueries.push('BGE Pepco Dominion drone infrastructure inspection vendor 2026 NERC FAC-001 Part 107');\n  sweepQueries.push('Maryland State Highway Administration MDSHA bridge inspection contract drone UAS 2026');\n  sweepQueries.push('utility transmission line aerial drone inspection subcontract DMV region 2026');\n} else if (theme_primary === 'federal_uas_contracts') {\n  sweepQueries.push('SBIR Phase I DoD drone UAS autonomous systems trust security 2026 site:sbir.gov');\n  sweepQueries.push('FAA drone UAS workforce grant 2026 OR NDAA Blue UAS compliant fleet federal contract');\n  sweepQueries.push('federal agency drone fleet compliance NDAA Blue UAS consulting subcontract 2026');\n} else if (theme_primary === 'defense_prime_teaming') {\n  sweepQueries.push('Northrop Grumman Leidos Booz Allen SAIC drone UAS cybersecurity subcontract teaming 2026');\n  sweepQueries.push('defense prime contractor small business teaming UAS autonomous CISSP DMV 2026');\n  sweepQueries.push('DoD contractor OMB M-26-02 UAS compliance consulting subcontract Maryland Virginia 2026');\n} else if (theme_primary === 'public_safety_dfr') {\n  sweepQueries.push('Baltimore County police drone first responder DFR program vendor RFP 2026');\n  sweepQueries.push('Port Baltimore PSGP security grant drone detection counter-UAS 2026 Maryland');\n  sweepQueries.push('Maryland county municipality drone program vendor registration 2026 Part 107');\n} else if (theme_primary === 'medical_delivery_logistics') {\n  sweepQueries.push('UMMS University Maryland Medical System drone delivery medical supply 2026 Sparrows Point');\n  sweepQueries.push('Johns Hopkins hospital drone medical delivery pilot program 2026 Baltimore');\n  sweepQueries.push('pharmaceutical logistics drone last-mile delivery Maryland 2026 Part 135 vendor');\n} else if (theme_primary === 'nonprofit_stem_workforce') {\n  sweepQueries.push('Maryland nonprofit STEM cybersecurity workforce drone training grant 2026');\n  sweepQueries.push('EARN Maryland technology workforce grant 2026 drone FAA Part 107 Security+ training');\n  sweepQueries.push('EAF nonprofit 501c3 workforce development grant aerospace defense cyber Maryland 2026');\n} else if (theme_primary === 'warehouse_autonomous_ops') {\n  sweepQueries.push('Amazon fulfillment center Baltimore Maryland autonomous drone inventory scanning 2026');\n  sweepQueries.push('pharmaceutical distribution center Maryland autonomous drone warehouse inspection vendor');\n  sweepQueries.push('3PL logistics center drone autonomous scanning vendor RFP Maryland Virginia 2026');\n} else {\n  // broad sweep\n  sweepQueries.push('KAI-Netics drone cybersecurity consulting opportunity Maryland Virginia 2026 CISSP Part 107');\n  sweepQueries.push('federal state Maryland grant contract drone UAS workforce technology 2026 open opportunity');\n  sweepQueries.push('defense prime contractor small business teaming drone inspection workforce cybersecurity DMV 2026');\n}\n\n// Execute all 3 Brave searches in parallel\nconst searchResults = await Promise.all(sweepQueries.map(q => braveSearch(q, 5)));\n\n// Format search context for Claude strategic analysis\nconst searchContext = searchResults.map((sr, i) => {\n  const resultText = sr.results.map((r, j) =>\n    `[${i+1}.${j+1}] ${r.title}\\nURL: ${r.url}\\n${r.description}${r.snippet ? '\\nDetail: ' + r.snippet : ''}`\n  ).join('\\n\\n');\n  return `=== SEARCH ${i+1}: ${sr.query} ===\\n${resultText || '(no results)'}`;\n}).join('\\n\\n');\n\n// ── Strategic Discovery Claude call ───────────────────────────────────────────\nconst systemPrompt = `You are Scout, KAI-Netics Strategic Intelligence Director.\n\nYour role: Survey the BD and grant landscape, think like an executive strategist, and identify the BEST 3-5 distinct actionable opportunities for KAI-Netics this week.\n\nFOUNDER: ${founder.name || 'Kevin Alexander Smith'}\nCREDENTIALS: ${credStack}\nBACKGROUND: ${founder.background || '33-year IT veteran, medical supply chain, federal, defense, healthcare'}\nPHASE: ${phase.current || 'Bootstrap Launch -- Pre-Revenue'}\nFIRST DOLLAR PATH: ${phase.first_dollar_path || 'OMB M-26-02 consulting'}\nCONSTRAINTS: ${constraintStr || 'none'}\n\nENTITIES:\n  FP: ${entities.FP?.name || 'Kevin Alexander International LLC dba KAI-Netics'}\n  EAF: ${entities.EAF?.name || 'KAI-Netics Equity & Autonomy Foundry Inc.'} | 501c3 pending\n\nBEACHHEADS:\n${bhSummary}\n\nACTIVE DEADLINES:\n${activeDeadlines}\n\nSTRATEGIC CONTEXT:\n- OMB M-26-02 federal drone compliance: EVERY federal agency + contractor must comply by May 20, 2026 -- this is a NOW opportunity\n- CMMC 2.0: Only 1% of DIB contractors are compliant -- October 2026 enforcement cliff\n- EARN Maryland + Lighthouse: $15.3M annual, active solicitations -- EAF lane\n- AFCEA TechNet Cyber: June 2-4, Baltimore -- prime networking event\n- MBE cert filing due May 15 -- blocks state/county contracts until resolved\n- SAM UEI pending -- pivot to subcontract path for federal work\n\nRULE: Each opportunity must be DISTINCT (different org, different program, different revenue path). No duplicates. No aspirational stretch goals -- only opportunities Kevin can pursue THIS WEEK with current credentials.\n\nRETURN STRICT JSON ONLY -- no markdown, no preamble:\n{\n  \"strategic_summary\": \"2-3 sentence executive sweep summary\",\n  \"opportunities\": [\n    {\n      \"rank\": 1,\n      \"opportunity_target\": \"specific named opportunity + org (e.g. OMB M-26-02 Compliance Advisory -- Booz Allen Hamilton subcontract)\",\n      \"search_query\": \"precise Brave search query to research this opportunity further (10-15 words, specific)\",\n      \"mode\": \"bd | grant\",\n      \"entity\": \"FP | EAF\",\n      \"beachhead\": \"BH1-BH7 or GRANT\",\n      \"strategic_rationale\": \"1 sentence: why this is actionable NOW for Kevin specifically\",\n      \"estimated_fit\": 85,\n      \"urgency\": \"CRITICAL | HIGH | MEDIUM | LOW\",\n      \"constraint_flags\": [\"sam_uei_pending etc or none\"],\n      \"revenue_type\": \"consulting | subcontract | grant | inspection | training\",\n      \"first_action\": \"single most important action Kevin should take today\"\n    }\n  ]\n}`;\n\nconst userPrompt = `Today: ${new Date().toLocaleDateString('en-US', {weekday:'long', year:'numeric', month:'long', day:'numeric', timeZone:'America/New_York'})}\nTheme focus: ${theme_primary} / ${theme_secondary || 'general'}\n\nLIVE SEARCH DATA:\n${searchContext}\n\nBased on the live search data and KAI-Netics strategic context, identify the 3-5 best distinct opportunities to pursue this week. Think: what would a senior BD executive prioritize from this landscape for Kevin's specific credential stack and phase? Return strict JSON only.`;\n\nconst reqBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 3000,\n  system: systemPrompt,\n  messages: [{ role: 'user', content: userPrompt }]\n});\n\nconst claudeResult = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: 'api.anthropic.com', port: 443,\n    path: '/v1/messages', method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': process.env.ANTHROPIC_API_KEY,\n      'anthropic-version': '2023-06-01',\n      'Content-Length': Buffer.byteLength(reqBody)\n    }\n  }, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => resolve({ status: res.statusCode, body: d }));\n  });\n  req.on('error', reject);\n  req.write(reqBody);\n  req.end();\n});\n\nlet discoveryResult = null;\ntry {\n  const parsed = JSON.parse(claudeResult.body);\n  const rawText = parsed?.content?.[0]?.text || '';\n  const clean = rawText.replace(/^```json\\s*/,'').replace(/^```\\s*/,'').replace(/\\s*```$/,'').trim();\n  try { discoveryResult = JSON.parse(clean); }\n  catch(e) {\n    const first = clean.indexOf('{'); const last = clean.lastIndexOf('}');\n    if (first !== -1 && last > first) discoveryResult = JSON.parse(clean.substring(first, last+1));\n  }\n} catch(e) { discoveryResult = null; }\n\n// Fallback: if Claude parse fails, emit single opportunity from theme\nif (!discoveryResult || !Array.isArray(discoveryResult.opportunities) || !discoveryResult.opportunities.length) {\n  discoveryResult = {\n    strategic_summary: `Strategic sweep fallback for theme: ${theme_primary}`,\n    opportunities: [{\n      rank: 1,\n      opportunity_target: sweepQueries[0],\n      search_query: sweepQueries[0],\n      mode: mode || 'bd',\n      entity: mode === 'grant' ? 'EAF' : 'FP',\n      beachhead: 'BH1',\n      strategic_rationale: 'Fallback single-target from theme sweep',\n      estimated_fit: 60,\n      urgency: 'MEDIUM',\n      constraint_flags: [],\n      revenue_type: 'consulting',\n      first_action: 'Research and validate source'\n    }]\n  };\n}\n\n// Stamp each opportunity with routing metadata for downstream nodes\nconst stamped = discoveryResult.opportunities.map((opp, i) => ({\n  ...opp,\n  discovery_rank:     opp.rank || i + 1,\n  sourceLabel:        `Strategic: ${opp.opportunity_target ? opp.opportunity_target.substring(0, 60) : theme_primary}`,\n  isScheduled:        true,\n  strategic_sweep:    true,\n  theme_primary,\n  theme_secondary,\n  timestamp,\n  parent_summary:     discoveryResult.strategic_summary,\n  total_in_batch:     discoveryResult.opportunities.length,\n}));\n\n// Save discovery report\nconst reportPath = `/data/Aidan_Outputs/Scout/StrategicDiscovery_${new Date().toISOString().slice(0,10)}.json`;\ntry {\n  fs.mkdirSync('/data/Aidan_Outputs/Scout', { recursive: true });\n  fs.writeFileSync(reportPath, JSON.stringify({ timestamp, theme_primary, strategic_summary: discoveryResult.strategic_summary, opportunities: stamped }, null, 2), 'utf8');\n} catch(e) {}\n\n// Return array — SplitInBatches will iterate one item at a time\nreturn stamped.map(opp => ({ json: opp }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "scout-010",
      "name": "Strategic Discovery v1"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [660, 0],
      "id": "scout-011",
      "name": "Split Opportunities"
    },
    {
      "parameters": {
        "jsCode": "// Brave Search v6 — receives one opportunity target from Split Opportunities\n// Uses opp.search_query if available (from Strategic Discovery), else falls back to opp.query\nconst https = require('https');\nconst input = $input.first().json;\n\n// Support both strategic discovery output and direct single-query input\nconst query     = input.search_query || input.query || input.opportunity_target || '';\nconst mode      = input.mode || 'bd';\nconst grantName = input.grantName || null;\nconst sourceLabel = input.sourceLabel || 'Scout v6';\nconst isScheduled = input.isScheduled || false;\nconst timestamp   = input.timestamp   || new Date().toISOString();\n\nconst BRAVE_API_KEY = $env.BRAVE_API_KEY || '';\nconst encodedQuery = encodeURIComponent(query);\nconst path = `/res/v1/web/search?q=${encodedQuery}&count=5&search_lang=en&country=us&text_decorations=false&extra_snippets=true`;\nconst options = {\n  hostname: 'api.search.brave.com', port: 443, path, method: 'GET',\n  headers: { 'Accept': 'application/json', 'X-Subscription-Token': BRAVE_API_KEY }\n};\nconst rawResponse = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    const chunks = [];\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n  });\n  req.on('error', reject);\n  req.end();\n});\nlet braveResults = [];\nlet braveError = null;\nif (rawResponse.status === 200) {\n  try {\n    const parsed = JSON.parse(rawResponse.body);\n    const webResults = parsed?.web?.results || [];\n    braveResults = webResults.slice(0, 5).map((r, i) => ({\n      index: i + 1, title: r.title || '', url: r.url || '',\n      description: r.description || '',\n      extra_snippets: (r.extra_snippets || []).slice(0, 2)\n    }));\n  } catch(e) { braveError = 'Failed to parse Brave response: ' + e.message; }\n} else {\n  braveError = `Brave API returned status ${rawResponse.status}: ${rawResponse.body.substring(0, 200)}`;\n}\nlet braveContext = '';\nif (braveResults.length > 0) {\n  braveContext = braveResults.map(r => {\n    const snippets = r.extra_snippets.length > 0 ? r.extra_snippets.join(' ') : '';\n    return `[${r.index}] ${r.title}\\nURL: ${r.url}\\nSummary: ${r.description}\\n${snippets ? 'Detail: ' + snippets : ''}`;\n  }).join('\\n\\n');\n} else {\n  braveContext = braveError || 'No results returned from Brave Search.';\n}\nconst fetchUrls = braveResults.slice(0, 2).map(r => r.url).filter(u => u.length > 0);\nreturn [{ json: { ...input, mode, query, grantName, sourceLabel, isScheduled, timestamp, braveContext, braveResults, fetchUrls, braveError } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "scout-004",
      "name": "Brave Search v6"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp, braveContext, braveResults, fetchUrls, braveError } = $input.first().json;\nconst WORD_THRESHOLD = 500;\nconst FETCH_TIMEOUT_MS = 8000;\nconst MAX_CONTENT_CHARS = 8000;\nfunction fetchUrl(url) {\n  return new Promise((resolve) => {\n    const timer = setTimeout(() => resolve({ ok: false, reason: 'timeout', content: '' }), FETCH_TIMEOUT_MS);\n    try {\n      const lib = url.startsWith('https') ? https : http;\n      const req = lib.get(url, { headers: { 'User-Agent': 'Mozilla/5.0 (compatible; KAI-Netics-Scout/6.0)' } }, (res) => {\n        if ((res.statusCode === 301 || res.statusCode === 302) && res.headers.location) { clearTimeout(timer); fetchUrl(res.headers.location).then(resolve); return; }\n        if (res.statusCode !== 200) { clearTimeout(timer); resolve({ ok: false, reason: `HTTP ${res.statusCode}`, content: '' }); return; }\n        const chunks = [];\n        res.on('data', c => chunks.push(c));\n        res.on('end', () => {\n          clearTimeout(timer);\n          let text = Buffer.concat(chunks).toString('utf8', 0, 60000);\n          text = text.replace(/<script[\\s\\S]*?<\\/script>/gi, '').replace(/<style[\\s\\S]*?<\\/style>/gi, '').replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/\\s{3,}/g, '\\n\\n').trim();\n          resolve({ ok: true, content: text.substring(0, MAX_CONTENT_CHARS) });\n        });\n      });\n      req.on('error', (e) => { clearTimeout(timer); resolve({ ok: false, reason: e.message, content: '' }); });\n    } catch(e) { clearTimeout(timer); resolve({ ok: false, reason: e.message, content: '' }); }\n  });\n}\nfunction wordCount(text) { return text.split(/\\s+/).filter(w => w.length > 0).length; }\nconst fetchPromises = (fetchUrls || []).slice(0, 2).map(url => fetchUrl(url).then(result => ({ url, ...result })));\nconst fetchResults = await Promise.all(fetchPromises);\nlet enrichedContext = '';\nconst fetchSummary = [];\nfor (const result of fetchResults) {\n  const wc = wordCount(result.content || '');\n  if (result.ok && wc >= WORD_THRESHOLD) {\n    enrichedContext += `\\n\\n=== FULL PAGE CONTENT: ${result.url} ===\\n${result.content}\\n`;\n    fetchSummary.push(`FULL CONTENT (${wc} words): ${result.url}`);\n  } else {\n    const reason = !result.ok ? result.reason : `only ${wc} words`;\n    enrichedContext += `\\n\\n=== PARTIAL/UNAVAILABLE: ${result.url} ===\\n[Full content unavailable: ${reason}.]\\n`;\n    fetchSummary.push(`SNIPPET FALLBACK (${reason}): ${result.url}`);\n  }\n}\nconst combinedContext = ['=== LIVE BRAVE SEARCH RESULTS ===', braveContext || 'No Brave results available.', enrichedContext || ''].join('\\n');\nreturn [{ json: { ...$input.first().json, combinedContext, fetchSummary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "scout-005",
      "name": "Web Fetch + Fallback v6"
    },
    {
      "parameters": {
        "jsCode": "// SCOUT BRAIN v6 -- BD ANALYST MODE\n// Unchanged from original. Receives one opportunity at a time from the split loop.\n// strategic_rationale and first_action from Strategic Discovery are injected into\n// the user prompt as additional context to improve extraction quality.\nconst fs = require('fs'), https = require('https');\nlet ctx = {};\ntry { ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { ctx = {}; }\nconst input = $input.first().json;\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp, combinedContext, fetchSummary, braveResults,\n        strategic_rationale, first_action, opportunity_target, discovery_rank, total_in_batch, parent_summary } = input;\nconst founder = ctx.founder || {};\nconst entities = ctx.entities || {};\nconst tech = ctx.technology || {};\nconst phase = ctx.phase || {};\nconst deadlines = (ctx.deadlines || []).filter(d => !['COMPLETE','FILED','EXEMPT'].includes(d.status));\nconst constraints = ctx.discovery_profile?.stage_constraints || {};\nconst beachheads = ctx.beachheads || {};\nconst credStack = (founder.credentials || []).join(', ');\nconst eafProfile = `EAF: ${entities.EAF?.name} | EIN: ${entities.EAF?.ein} | Status: ${entities.EAF?.status}`;\nconst fpProfile  = `FP:  ${entities.FP?.name}  | EIN: ${entities.FP?.ein} | Status: ${entities.FP?.status}`;\nconst monkProfile = `MONK: ${entities.MONK?.name} | Role: ${entities.MONK?.role} | Status: ${entities.MONK?.status}`;\nconst activeDeadlines = deadlines.slice(0, 8).map(d => `${d.item} | Due: ${d.date} | ${d.status}`).join('\\n');\nconst constraintStr = Object.entries(constraints).filter(([k,v]) => v === true).map(([k]) => k).join(', ');\nconst techSummary = Object.entries(tech).map(([k,v]) => `${k}: ${v.description || ''}`).join('\\n');\nconst bhSummary = Object.entries(beachheads).filter(([k]) => k.startsWith('BH')).map(([k,v]) => `${k}: ${v.name} | ${v.status}`).join('\\n');\nconst strategicContext = strategic_rationale ? `\\nSTRATEGIC CONTEXT: ${strategic_rationale}${first_action ? '\\nSUGGESTED FIRST ACTION: ' + first_action : ''}${discovery_rank ? '\\nDISCOVERY RANK: ' + discovery_rank + ' of ' + (total_in_batch || '?') : ''}` : '';\nlet systemMessage, userMessage;\nif (mode === 'grant') {\n  systemMessage = `You are Scout, KAI-Netics Grant Intelligence Analyst.\\n\\nFOUNDER: ${founder.name} -- ${credStack}\\nBACKGROUND: ${founder.background}\\nPHASE: ${phase.current}\\nCONSTRAINTS: ${constraintStr || 'none'}\\n\\nENTITY PROFILES:\\n${eafProfile}\\n${fpProfile}\\n${monkProfile}\\n\\nTECHNOLOGY: ${techSummary}\\nACTIVE DEADLINES: ${activeDeadlines}\\nBEACHHEADS: ${bhSummary}\\n\\nSOURCE GAP RULE: If any field cannot be verified from live search data, set it to the string \"SOURCE GAP -- RESEARCH REQUIRED\" -- never leave blank, never fabricate.\\n\\nReturn STRICT JSON only -- no markdown, no preamble, no backticks. Every field must be present.\\n\\n{\\n  \"opportunity_title\": \"exact program name\",\\n  \"source_url\": \"exact URL or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"source_title\": \"page title\",\\n  \"source_platform\": \"e.g. grants.gov, agency website\",\\n  \"raw_snippet\": \"direct quote from source, max 300 chars, or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"discovered_at\": \"ISO timestamp\",\\n  \"discovered_by_agent\": \"Scout v6\",\\n  \"search_query\": \"${query}\",\\n  \"funder\": \"exact legal org name\",\\n  \"program\": \"exact program name\",\\n  \"deadline\": \"from source or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"award_range\": \"from source or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"portal_url\": \"exact application URL or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"eligibility\": \"from source or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contact_name\": \"if found or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contact_title\": \"if found or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contact_email\": \"if found or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contact_phone\": \"if found or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"organization\": \"funding agency full name\",\\n  \"eaf_fit_score\": 0,\\n  \"fp_fit_score\": 0,\\n  \"why_this_matters\": \"2 sentences on business significance\",\\n  \"why_kai_fits\": \"2 sentences on specific fit to KAI-Netics credentials and verticals\",\\n  \"recommended_next_action\": \"APPLY IMMEDIATELY | APPLY | WATCH | PASS\",\\n  \"pursuit_steps\": [\"step 1\", \"step 2\", \"step 3\"],\\n  \"urgency\": \"CRITICAL | HIGH | MEDIUM | LOW\",\\n  \"confidence_score\": 0,\\n  \"outreach_draft\": \"300-400 word LOI draft ready for Jordan to refine\",\\n  \"source_gap_warnings\": [],\\n  \"risks\": [\"risk 1\", \"risk 2\"],\\n  \"data_confidence\": \"HIGH | MEDIUM | LOW\"\\n}`;\n  userMessage = `Research this grant using live search data. Today: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}${strategicContext}\\n\\nQUERY: ${query}\\nTARGET: ${opportunity_target || query}\\n\\n--- LIVE SEARCH DATA ---\\n${combinedContext}\\n--- END DATA ---\\n\\nReturn structured JSON only. All fields required. SOURCE GAP if missing.`;\n} else {\n  systemMessage = `You are Scout, KAI-Netics BD Intelligence Analyst.\\n\\nFOUNDER: ${founder.name} -- ${credStack}\\nBACKGROUND: ${founder.background}\\nPHASE: ${phase.current}\\nFIRST DOLLAR PATH: ${phase.first_dollar_path}\\nCONSTRAINTS: ${constraintStr || 'none'}\\n\\nENTITY PROFILES:\\n${fpProfile}\\n${eafProfile}\\n${monkProfile}\\n\\nTECHNOLOGY: ${techSummary}\\nACTIVE DEADLINES:\\n${activeDeadlines}\\nBEACHHEADS:\\n${bhSummary}\\n\\nKEY COMPLIANCE HOOKS: FHWA 23 CFR 650, PHMSA 49 CFR 192, OMB M-26-02 May 20 2026, NDAA fleet cert, NERC FAC-001/003, FAA Part 107, CISSP\\n\\nSOURCE GAP RULE: If any field cannot be verified from live search data, set it to \"SOURCE GAP -- RESEARCH REQUIRED\" -- never blank, never fabricated.\\n\\nTHINK: How does this opportunity become money, work, or strategic value for KAI-Netics today?\\n\\nReturn STRICT JSON only -- no markdown, no preamble, no backticks. Every field must be present.\\n\\n{\\n  \"opportunity_title\": \"specific named opportunity\",\\n  \"source_url\": \"exact URL or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"source_title\": \"page title\",\\n  \"source_platform\": \"e.g. SAM.gov, agency website, LinkedIn\",\\n  \"raw_snippet\": \"direct quote from source, max 300 chars, or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"discovered_at\": \"ISO timestamp\",\\n  \"discovered_by_agent\": \"Scout v6\",\\n  \"search_query\": \"${query}\",\\n  \"contact_name\": \"named decision maker or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contact_title\": \"exact title or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contact_email\": \"verified email or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contact_phone\": \"verified phone or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"organization\": \"full legal org name\",\\n  \"procurement_portal\": \"exact URL or SOURCE GAP -- RESEARCH REQUIRED\",\\n  \"contract_vehicle\": \"how they procure -- RFP, sole source, vendor portal, etc.\",\\n  \"entity\": \"FP | EAF | MONK | MULTI\",\\n  \"beachhead\": \"BH1 through BH7\",\\n  \"fit_score\": 0,\\n  \"why_this_matters\": \"2 sentences on business significance and revenue path\",\\n  \"why_kai_fits\": \"2 sentences on specific credential + vertical fit\",\\n  \"recommended_next_action\": \"PURSUE NOW | VALIDATE SOURCE | CONTACT READY | WATCHLIST | BLOCKED | ARCHIVE\",\\n  \"pursuit_steps\": [\"step 1 with specific action\", \"step 2\", \"step 3\"],\\n  \"urgency\": \"CRITICAL | HIGH | MEDIUM | LOW\",\\n  \"confidence_score\": 0,\\n  \"outreach_draft\": \"150-200 word capability statement email ready to send -- lead with CISSP + PMP + Part 107\",\\n  \"source_gap_warnings\": [],\\n  \"risks\": [\"risk 1\", \"risk 2\"],\\n  \"certifications_needed\": [\"gap 1 or none\"],\\n  \"constraint_flags\": [],\\n  \"data_confidence\": \"HIGH | MEDIUM | LOW\"\\n}`;\n  userMessage = `Research this BD target using live search data. Today: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}${strategicContext}\\n\\nQUERY: ${query}\\nTARGET: ${opportunity_target || query}\\n\\n--- LIVE SEARCH DATA ---\\n${combinedContext}\\n--- END DATA ---\\n\\nReturn structured JSON only. All fields required. SOURCE GAP if missing. Think: how does this become revenue today?`;\n}\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: systemMessage, messages: [{ role: 'user', content: userMessage }] });\nconst options = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': process.env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\nlet rawText = '';\nlet apiError = null;\ntry {\n  const parsed = JSON.parse(result.body);\n  rawText = parsed?.content?.[0]?.text || '';\n  if (!rawText) apiError = `API status ${result.status}: ${result.body.substring(0, 300)}`;\n} catch(e) { apiError = `Parse error: ${e.message} | body: ${result.body.substring(0, 300)}`; }\nlet aiOutput = null;\nlet parseError = null;\nif (rawText) {\n  const clean = rawText.replace(/^```json\\s*/,'').replace(/^```\\s*/,'').replace(/\\s*```$/,'').trim();\n  try { aiOutput = JSON.parse(clean); } catch(e1) {\n    const first = clean.indexOf('{'); const last = clean.lastIndexOf('}');\n    if (first !== -1 && last > first) { try { aiOutput = JSON.parse(clean.substring(first, last+1)); } catch(e2) { parseError = e2.message; } }\n    if (!aiOutput) parseError = e1.message;\n  }\n}\nif (!aiOutput) {\n  aiOutput = {\n    opportunity_title: sourceLabel,\n    source_url: 'SOURCE GAP -- RESEARCH REQUIRED',\n    source_title: 'SOURCE GAP -- RESEARCH REQUIRED',\n    source_platform: 'SOURCE GAP -- RESEARCH REQUIRED',\n    raw_snippet: 'SOURCE GAP -- RESEARCH REQUIRED',\n    discovered_at: new Date().toISOString(),\n    discovered_by_agent: 'Scout v6',\n    search_query: query,\n    why_this_matters: 'SOURCE GAP -- RESEARCH REQUIRED',\n    why_kai_fits: 'SOURCE GAP -- RESEARCH REQUIRED',\n    recommended_next_action: 'VALIDATE SOURCE',\n    pursuit_steps: ['Review raw output below', 'Rerun with more specific query'],\n    urgency: 'LOW',\n    confidence_score: 0,\n    outreach_draft: 'SOURCE GAP -- RESEARCH REQUIRED',\n    source_gap_warnings: ['PARSE ERROR -- raw text follows'],\n    data_confidence: 'LOW',\n    _raw_text: rawText.substring(0, 2000),\n    _parse_error: parseError,\n    _api_error: apiError\n  };\n}\nconst ensureField = (obj, field) => { if (!obj[field]) obj[field] = 'SOURCE GAP -- RESEARCH REQUIRED'; };\n['source_url','source_title','source_platform','raw_snippet','contact_name','contact_title','contact_email','contact_phone','organization','why_this_matters','why_kai_fits','outreach_draft'].forEach(f => ensureField(aiOutput, f));\nif (!Array.isArray(aiOutput.source_gap_warnings)) aiOutput.source_gap_warnings = [];\nif (!Array.isArray(aiOutput.pursuit_steps)) aiOutput.pursuit_steps = [];\nif (!Array.isArray(aiOutput.risks)) aiOutput.risks = [];\nif (!aiOutput.confidence_score) aiOutput.confidence_score = 0;\nif (!aiOutput.fit_score && !aiOutput.eaf_fit_score) aiOutput.fit_score = 0;\nconst contactFields = ['contact_name','contact_title','contact_email','contact_phone'];\nconst missingContacts = contactFields.filter(f => aiOutput[f] === 'SOURCE GAP -- RESEARCH REQUIRED');\nif (missingContacts.length > 0 && !aiOutput.source_gap_warnings.includes('SOURCE GAP -- CONTACT RESEARCH REQUIRED')) {\n  aiOutput.source_gap_warnings.push('SOURCE GAP -- CONTACT RESEARCH REQUIRED: ' + missingContacts.join(', '));\n}\nif (aiOutput.source_url === 'SOURCE GAP -- RESEARCH REQUIRED' && !aiOutput.source_gap_warnings.includes('SOURCE GAP -- URL VERIFICATION REQUIRED')) {\n  aiOutput.source_gap_warnings.push('SOURCE GAP -- URL VERIFICATION REQUIRED');\n}\naiOutput.discovered_at = timestamp;\naiOutput.discovered_by_agent = 'Scout v6';\naiOutput.search_query = query;\naiOutput.source_label = sourceLabel;\naiOutput.mode = mode;\naiOutput.is_scheduled = isScheduled;\naiOutput.discovery_rank = discovery_rank || null;\naiOutput.strategic_rationale = strategic_rationale || null;\nconst dateStr = new Date().toISOString().replace(/[:.]/g,'-');\nconst outputFolder = mode === 'grant' ? 'Maryland_Grants' : 'Aidan_Outputs/Scout';\nconst rankPrefix = discovery_rank ? `rank${discovery_rank}_` : '';\nconst outputPrefix = mode === 'grant' ? (grantName ? grantName.replace('.txt','') : `Grant_Intel_${rankPrefix}${new Date().toISOString().slice(0,10)}`) : `Scout_BD_v6_${rankPrefix}${new Date().toISOString().slice(0,10).replace(/-/g,'')}`;\nconst filename = `${outputPrefix}_${dateStr}.json`;\nconst folderPath = `/data/${outputFolder}`;\nfs.mkdirSync(folderPath, { recursive: true });\nfs.writeFileSync(`${folderPath}/${filename}`, JSON.stringify(aiOutput, null, 2), 'utf8');\nconst fitScore = aiOutput.fit_score || aiOutput.eaf_fit_score || aiOutput.fp_fit_score || 0;\nconst action = aiOutput.recommended_next_action || 'VALIDATE SOURCE';\nconst urgency = aiOutput.urgency || 'LOW';\nconst confidence = aiOutput.confidence_score || 0;\nconst targetName = (aiOutput.opportunity_title || aiOutput.funder || aiOutput.organization || sourceLabel).substring(0, 100);\nconst sourceUrl = aiOutput.source_url || 'SOURCE GAP -- RESEARCH REQUIRED';\nconst outreachDraft = aiOutput.outreach_draft || 'SOURCE GAP -- RESEARCH REQUIRED';\nconst pursuitSteps = aiOutput.pursuit_steps || [];\nconst sourceGaps = aiOutput.source_gap_warnings || [];\nconst contactName = aiOutput.contact_name || 'SOURCE GAP -- RESEARCH REQUIRED';\nconst contactEmail = aiOutput.contact_email || 'SOURCE GAP -- RESEARCH REQUIRED';\nconst whyMatters = aiOutput.why_this_matters || 'SOURCE GAP -- RESEARCH REQUIRED';\nconst whyFits = aiOutput.why_kai_fits || 'SOURCE GAP -- RESEARCH REQUIRED';\nconst crypto = require('crypto');\nconst contentHash = crypto.createHash('md5').update(query + mode + new Date().toISOString().slice(0,10)).digest('hex');\nconst rankLabel = discovery_rank ? ` [${discovery_rank}/${total_in_batch || '?'}]` : '';\nconst summary = [\n  `SCOUT v6 ${mode.toUpperCase()}${rankLabel} -- ${sourceLabel}`,\n  `Fit: ${fitScore}% | Action: ${action} | Urgency: ${urgency} | Confidence: ${confidence}%`,\n  `Target: ${targetName}`,\n  `Source: ${sourceUrl.substring(0,80)}`,\n  `Contact: ${contactName}`,\n  `Why it matters: ${whyMatters.substring(0,150)}`,\n  `Next step: ${(pursuitSteps[0] || 'See report').substring(0,100)}`,\n  sourceGaps.length > 0 ? `GAPS: ${sourceGaps.length} source gap(s) -- research required` : 'Source coverage: complete',\n  `Saved: /data/${outputFolder}/${filename}`\n].join('\\n');\nreturn [{ json: { ...input, aiOutput, summary, savedTo: `${folderPath}/${filename}`, query, fitScore, action, urgency, confidence, mode, filename, outputFolder, isScheduled, sourceLabel, timestamp, targetName, sourceUrl, outreachDraft, pursuitSteps, sourceGaps, contactName, contactEmail, whyMatters, whyFits, contentHash, apiError, parseError } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0],
      "id": "scout-006",
      "name": "Scout Brain v6"
    },
    {
      "parameters": {
        "jsCode": "// ─── MISSION TRANSFORM + LIFECYCLE v1.1 (dedup patch) ───────────────────────\nconst fs = require('fs');\nconst crypto = require('crypto');\nconst input = $input.first().json;\nconst { aiOutput, fitScore, action, urgency, confidence, mode, sourceLabel, targetName, sourceUrl, outreachDraft, pursuitSteps, sourceGaps, contactName, contactEmail, whyMatters, whyFits, timestamp, contentHash } = input;\nconst MISSIONS_DIR = '/data/Aidan_Outputs/Missions';\nconst SUPPRESSION_DAYS = 5;\nfunction safeRead(p) { try { return JSON.parse(fs.readFileSync(p, 'utf8').replace(/^\\uFEFF/, '').trim()); } catch(_) { return null; } }\nfunction normalizeUrl(url) { if (!url || url.startsWith('SOURCE GAP')) return ''; return url.trim().toLowerCase().replace(/^https?:\\/\\//, '').replace(/\\/+$/, '').replace(/^www\\./, ''); }\nfunction normalizeText(str) { if (!str || str.startsWith('SOURCE GAP')) return ''; return str.toLowerCase().replace(/[^a-z0-9 ]/g, ' ').replace(/\\s+/g, ' ').trim(); }\nfunction stripNoise(title) { return normalizeText(title).replace(/\\b[a-f0-9]{4,8}\\b/g, '').replace(/\\b\\d{4,}\\b/g, '').replace(/\\b20\\d{2}\\b/g, '').replace(/\\s+/g, ' ').trim(); }\nfunction titleSimilarity(a, b) { const ta = new Set(stripNoise(a).split(' ').filter(t => t.length > 3)); const tb = new Set(stripNoise(b).split(' ').filter(t => t.length > 3)); if (!ta.size || !tb.size) return 0; let overlap = 0; ta.forEach(t => { if (tb.has(t)) overlap++; }); return overlap / Math.max(ta.size, tb.size); }\nfunction contentSignature(obj) { const stable = { opportunity_title: obj.opportunity_title || obj.title || '', organization: obj.organization || '', entity: obj.entity || '', source_url: normalizeUrl(obj.source_url || (obj.source_urls || [])[0] || ''), mode: obj.mode || obj.lead_type || '' }; return crypto.createHash('md5').update(JSON.stringify(stable)).digest('hex'); }\nfunction findExistingMission(aiOut, missionsDir) { let files; try { files = fs.readdirSync(missionsDir).filter(f => f.endsWith('.json') && f !== 'mission_defaults_template.json' && !f.startsWith('DUPLICATE_REPORT')); } catch(_) { return null; } const inUrl = normalizeUrl(aiOut.source_url || (aiOut.source_urls || [])[0] || ''); const inOrg = normalizeText(aiOut.organization || aiOut.funder || ''); const inTitle = normalizeText(aiOut.opportunity_title || ''); const inEntity = (aiOut.entity || 'FP').toUpperCase(); const inMode = aiOut.mode || aiOut.lead_type || ''; const inSig = contentSignature(aiOut); for (const file of files) { const existing = safeRead(`${missionsDir}/${file}`); if (!existing) continue; const exUrl = normalizeUrl(existing.source_url || (existing.source_urls || [])[0] || ''); const exOrg = normalizeText(existing.organization || ''); const exTitle = normalizeText(existing.opportunity_title || existing.title || ''); const exSig = contentSignature(existing); if (inUrl && exUrl && inUrl === exUrl) return { existing, file, signal: 'source_url' }; if (inOrg && exOrg && inOrg === exOrg && inTitle && exTitle && inTitle === exTitle) return { existing, file, signal: 'org_title' }; if (inOrg && exOrg && inOrg === exOrg && inEntity === (existing.entity || '').toUpperCase() && inMode && inMode === (existing.mode || existing.lead_type || '')) return { existing, file, signal: 'org_entity_mode' }; if (inEntity === (existing.entity || '').toUpperCase()) { const sim = titleSimilarity(aiOut.opportunity_title || '', existing.opportunity_title || existing.title || ''); if (sim >= 0.85) return { existing, file, signal: `title_similarity_${Math.round(sim * 100)}` }; } if (inSig === exSig) return { existing, file, signal: 'content_hash' }; } return null; }\nfunction sanitizeSlug(str) { return (str || 'UNKNOWN').toUpperCase().replace(/[^A-Z0-9]/g, '_').replace(/_+/g, '_').slice(0, 28).replace(/_$/, ''); }\nfunction shortHash(str) { return crypto.createHash('md5').update(str).digest('hex').slice(0, 6).toUpperCase(); }\nfunction inferEntity(ai, mode) { if (ai.entity && ['FP','EAF','MONK','MULTI'].includes(ai.entity)) return ai.entity; if (mode === 'grant') return (ai.fp_fit_score || 0) > (ai.eaf_fit_score || 0) + 15 ? 'FP' : 'EAF'; return 'FP'; }\nfunction resolveUrgency(ai) { return ['CRITICAL','HIGH','MEDIUM','LOW'].includes(ai.urgency) ? ai.urgency : 'MEDIUM'; }\nfunction resolveDeadline(ai) { return ai.deadline || ai.portal_deadline || null; }\nfunction isSuppressed(mission, now) { return mission.suppression_until ? new Date(mission.suppression_until) > now : false; }\nfunction urgencyChanged(existing, incoming) { const rank = { CRITICAL: 4, HIGH: 3, MEDIUM: 2, LOW: 1, UNKNOWN: 0 }; return (rank[incoming] || 0) > (rank[existing.urgency] || 0); }\nfunction deadlineChanged(existing, incoming) { if (!incoming || incoming === 'SOURCE GAP -- RESEARCH REQUIRED') return false; return existing.deadline !== incoming; }\nfs.mkdirSync(MISSIONS_DIR, { recursive: true });\nconst entity = inferEntity(aiOutput, mode);\nconst titleRaw = aiOutput.opportunity_title || aiOutput.funder || targetName || sourceLabel || 'UNKNOWN';\nconst incomingUrgency = resolveUrgency(aiOutput);\nconst incomingDeadline = resolveDeadline(aiOutput);\nconst incomingFit = aiOutput.fit_score || Math.max(aiOutput.eaf_fit_score || 0, aiOutput.fp_fit_score || 0) || fitScore || 0;\nconst now = new Date();\nconst suppressUntil = new Date(now.getTime() + SUPPRESSION_DAYS * 86400000).toISOString();\nconst dupMatch = findExistingMission({ ...aiOutput, entity, mode }, MISSIONS_DIR);\nlet missionId, missionFile, existing, dupSignal;\nif (dupMatch) { existing = dupMatch.existing; missionFile = `${MISSIONS_DIR}/${dupMatch.file}`; missionId = existing.mission_id; dupSignal = dupMatch.signal; }\nelse { const slug = sanitizeSlug(titleRaw); const stableInput = normalizeUrl(aiOutput.source_url || '') + '|' + normalizeText(titleRaw) + '|' + entity; const hash = shortHash(stableInput); missionId = `${entity}_${slug}_${hash}`; missionFile = `${MISSIONS_DIR}/${missionId}.json`; existing = safeRead(missionFile); dupSignal = null; }\nlet lifecycle_state, missionObj, writeAction;\nif (!existing) {\n  lifecycle_state = 'NEW'; writeAction = 'created';\n  missionObj = { mission_id: missionId, opportunity_title: titleRaw, entity, urgency: incomingUrgency, fit_score: incomingFit, source_url: aiOutput.source_url || null, organization: aiOutput.organization || aiOutput.funder || null, deadline: incomingDeadline, status: aiOutput.recommended_next_action || 'NEW', recommended_action: aiOutput.recommended_next_action || 'REVIEW', pursuit_steps: aiOutput.pursuit_steps || [], contacts: { name: aiOutput.contact_name || null, title: aiOutput.contact_title || null, email: aiOutput.contact_email || null, phone: aiOutput.contact_phone || null }, outreach_draft: aiOutput.outreach_draft || null, strategic_value: aiOutput.why_this_matters || null, relationship_leverage: aiOutput.why_kai_fits || null, confidence_score: aiOutput.confidence_score || 0, source_gap_warnings: aiOutput.source_gap_warnings || [], certifications_needed: aiOutput.certifications_needed || [], constraint_flags: aiOutput.constraint_flags || [], risks: aiOutput.risks || [], data_confidence: aiOutput.data_confidence || 'LOW', beachhead: aiOutput.beachhead || null, mode, agent_source: 'Scout', next_agent: 'Nova', execution_chain: { scout_discovery: 'COMPLETE', nova_plan: 'PENDING', jordan_draft: 'PENDING', iris_compliance: 'PENDING', outreach_sent: 'PENDING', pursuit_active: 'PENDING', contract_closed: 'PENDING' }, lifecycle_state, discovered_at: timestamp || now.toISOString(), last_seen_at: now.toISOString(), rediscovery_count: 0, suppression_until: suppressUntil, mission_events: [{ timestamp: now.toISOString(), agent: 'Scout', action: 'mission_created', note: `Discovered via ${sourceLabel} | fit: ${incomingFit}% | urgency: ${incomingUrgency}` }], created_at: now.toISOString(), updated_at: now.toISOString() };\n} else {\n  const prevCount = existing.rediscovery_count || 0; const suppressed = isSuppressed(existing, now); const urgencyUp = urgencyChanged(existing, incomingUrgency); const deadlineUp = deadlineChanged(existing, incomingDeadline); const shouldReactivate = urgencyUp || deadlineUp;\n  if (suppressed && !shouldReactivate) { lifecycle_state = 'SUPPRESSED'; writeAction = 'suppressed'; }\n  else if (suppressed && shouldReactivate) { lifecycle_state = 'REACTIVATED'; writeAction = 'reactivated'; }\n  else { lifecycle_state = 'UPDATED'; writeAction = 'updated'; }\n  const updateEvent = { timestamp: now.toISOString(), agent: 'Scout', action: `mission_${writeAction}`, note: `Rediscovery #${prevCount + 1} via ${sourceLabel}` + (dupSignal ? ` | dedup: ${dupSignal}` : '') + (urgencyUp ? ` | urgency→${incomingUrgency}` : '') + (deadlineUp ? ` | deadline→${incomingDeadline}` : '') + (suppressed && shouldReactivate ? ' | REACTIVATED' : '') };\n  missionObj = { ...existing, urgency: shouldReactivate ? incomingUrgency : existing.urgency, deadline: deadlineUp ? incomingDeadline : existing.deadline, fit_score: Math.max(existing.fit_score || 0, incomingFit), status: lifecycle_state === 'REACTIVATED' ? 'REACTIVATED' : existing.status, pursuit_steps: aiOutput.pursuit_steps?.length ? aiOutput.pursuit_steps : existing.pursuit_steps, outreach_draft: aiOutput.outreach_draft && aiOutput.outreach_draft !== 'SOURCE GAP -- RESEARCH REQUIRED' ? aiOutput.outreach_draft : existing.outreach_draft, source_gap_warnings: aiOutput.source_gap_warnings || existing.source_gap_warnings, data_confidence: aiOutput.data_confidence || existing.data_confidence, lifecycle_state, last_seen_at: now.toISOString(), rediscovery_count: prevCount + 1, suppression_until: lifecycle_state === 'REACTIVATED' ? new Date(now.getTime() + SUPPRESSION_DAYS * 86400000).toISOString() : existing.suppression_until, mission_events: [...(existing.mission_events || existing.events || []), updateEvent], updated_at: now.toISOString() };\n}\nlet writeError = null;\ntry { fs.writeFileSync(missionFile, JSON.stringify(missionObj, null, 2), 'utf8'); } catch(e) { writeError = e.message; }\nconst mission_write_summary = { created: writeAction === 'created' ? 1 : 0, updated: writeAction === 'updated' ? 1 : 0, suppressed: writeAction === 'suppressed' ? 1 : 0, reactivated: writeAction === 'reactivated' ? 1 : 0, mission_file: missionFile, mission_id: missionId, lifecycle_state, write_action: writeAction, write_error: writeError, dedup_signal: dupSignal, fit_score: incomingFit, urgency: incomingUrgency, entity, rediscovery_count: missionObj.rediscovery_count };\nreturn [{ json: { ...input, mission_write_summary, missionId, missionFile, lifecycle_state } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0],
      "id": "scout-009",
      "name": "Mission Transform + Lifecycle v1"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst { aiOutput, summary, fitScore, action, urgency, confidence, mode, sourceLabel, targetName, sourceUrl, outreachDraft, pursuitSteps, sourceGaps, contactName, contactEmail, whyMatters, whyFits, contentHash, savedTo, query, timestamp, mission_write_summary, missionId } = $input.first().json;\nconst SUPABASE_URL = ($env.SUPABASE_URL || '').replace('https://','').replace('http://','');\nconst SUPABASE_KEY = $env.SUPABASE_SERVICE_KEY || '';\nif (!SUPABASE_URL || !SUPABASE_KEY) { return [{ json: { ...$input.first().json, supabaseLogged: false, supabaseError: 'Missing SUPABASE_URL or SUPABASE_SERVICE_KEY' } }]; }\nconst pipelineRecord = { title: (targetName || sourceLabel).substring(0, 255), source: 'Scout v6', source_url: (sourceUrl || 'SOURCE GAP -- RESEARCH REQUIRED').substring(0, 500), entity: aiOutput?.entity || 'FP', beachhead: aiOutput?.beachhead || null, opportunity_type: mode === 'grant' ? 'grant' : 'contract', status: action === 'PURSUE NOW' || action === 'APPLY IMMEDIATELY' ? 'action_required' : action === 'WATCHLIST' || action === 'WATCH' ? 'watch' : 'new', fit_score: fitScore || 0, urgency: urgency || 'LOW', confidence_score: confidence || 0, why_this_matters: (whyMatters || 'SOURCE GAP -- RESEARCH REQUIRED').substring(0, 1000), why_kai_fits: (whyFits || 'SOURCE GAP -- RESEARCH REQUIRED').substring(0, 1000), recommended_action: (action || 'VALIDATE SOURCE').substring(0, 100), outreach_draft: (outreachDraft || 'SOURCE GAP -- RESEARCH REQUIRED').substring(0, 5000), pursuit_steps: JSON.stringify(pursuitSteps || []), contact_name: (contactName || 'SOURCE GAP -- RESEARCH REQUIRED').substring(0, 255), contact_email: (contactEmail || 'SOURCE GAP -- RESEARCH REQUIRED').substring(0, 255), source_gap_warnings: JSON.stringify(sourceGaps || []), content_hash: contentHash, saved_file_path: savedTo, discovered_by_agent: 'Scout v6', run_date: new Date().toISOString().slice(0, 10), kevin_note: mission_write_summary ? `Mission: ${mission_write_summary.write_action} | ${mission_write_summary.mission_id} | lifecycle: ${mission_write_summary.lifecycle_state}` : null };\ntry { const body = JSON.stringify(pipelineRecord); const hostname = SUPABASE_URL; const result = await new Promise((resolve, reject) => { const req = https.request({ hostname, port: 443, path: '/rest/v1/pipeline', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Prefer': 'resolution=merge-duplicates,return=minimal', 'Content-Length': Buffer.byteLength(body) } }, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); }); req.on('error', reject); req.write(body); req.end(); }); const logged = result.status === 201 || result.status === 200; const reportRecord = { run_date: new Date().toISOString().slice(0,10), mode: mode || 'bd', source_label: sourceLabel, query: query ? query.substring(0, 500) : null, target_name: targetName, fit_score: fitScore || null, recommended_action: action ? action.substring(0, 100) : null, data_confidence: confidence ? String(confidence) : null, saved_file_path: savedTo, content_hash: contentHash, status: 'new' }; const rBody = JSON.stringify(reportRecord); await new Promise((resolve) => { const req = https.request({ hostname, port: 443, path: '/rest/v1/scout_reports', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': SUPABASE_KEY, 'Authorization': 'Bearer ' + SUPABASE_KEY, 'Prefer': 'return=minimal', 'Content-Length': Buffer.byteLength(rBody) } }, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', resolve); }); req.on('error', resolve); req.write(rBody); req.end(); }); return [{ json: { ...$input.first().json, supabaseLogged: logged, supabaseStatus: result.status } }]; } catch(e) { return [{ json: { ...$input.first().json, supabaseLogged: false, supabaseError: e.message } }]; }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 0],
      "id": "scout-008",
      "name": "Log to Supabase v6"
    },
    {
      "parameters": {
        "jsCode": "// Aidan Callback v6 — fires after ALL items in the batch are processed\n// SplitInBatches routes here only when the loop is done\n// Summarizes the full strategic sweep across all opportunities processed\nconst http = require('http');\nconst input = $input.first().json;\nconst { summary, fitScore, action, urgency, confidence, mode, isScheduled, sourceLabel, sourceGaps, pursuitSteps, contactName, contactEmail, outreachDraft, targetName, sourceUrl, supabaseLogged, mission_write_summary, parent_summary, total_in_batch, discovery_rank } = input;\nconst modeLabel = mode?.toUpperCase() === 'GRANT' ? 'GRANT INTEL' : 'BD REPORT';\nconst dbStatus = supabaseLogged ? 'Logged to pipeline' : 'Supabase log failed -- data in file';\nconst gapAlert = (sourceGaps || []).length > 0 ? `\\n⚠ ${sourceGaps.length} SOURCE GAP(S) -- research required` : '\\n✓ Source coverage complete';\nconst stepPreview = (pursuitSteps || []).slice(0, 2).map((s, i) => `${i+1}. ${s.substring(0,120)}`).join('\\n');\nconst contactLine = contactEmail && contactEmail !== 'SOURCE GAP -- RESEARCH REQUIRED' ? `Contact: ${contactName} | ${contactEmail}` : `Contact: SOURCE GAP -- research required`;\nconst missionLine = mission_write_summary ? `Mission: ${mission_write_summary.write_action.toUpperCase()} | ${mission_write_summary.mission_id} | lifecycle: ${mission_write_summary.lifecycle_state}` : 'Mission: not written';\nconst rankLine = discovery_rank && total_in_batch ? `Opportunity ${discovery_rank} of ${total_in_batch}` : '';\nconst strategicHeader = parent_summary ? `STRATEGIC SWEEP\\n${parent_summary}\\n\\n` : '';\nconst msgText = isScheduled\n  ? `SCOUT v6 STRATEGIC SWEEP\\n${rankLine ? rankLine + '\\n' : ''}${sourceLabel}\\n\\n${strategicHeader}${summary}\\n\\n${contactLine}\\n\\nNext steps:\\n${stepPreview || 'See pipeline'}\\n${gapAlert}\\n\\n${missionLine}\\n${dbStatus}`\n  : `SCOUT v6 ${modeLabel}\\nSource: ${sourceLabel}\\n\\n${summary}\\n\\n${contactLine}\\n\\nNext steps:\\n${stepPreview || 'See pipeline'}\\n${gapAlert}\\n\\n${missionLine}\\n${dbStatus}`;\nconst chunks = [];\nfor (let i = 0; i < msgText.length; i += 3800) chunks.push(msgText.substring(i, i + 3800));\nfor (let i = 0; i < chunks.length; i++) {\n  const msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: chunks[i] } });\n  const opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\n  await new Promise(r => { const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\n  if (chunks.length > 1) await new Promise(r => setTimeout(r, 1200));\n}\nif (outreachDraft && outreachDraft !== 'SOURCE GAP -- RESEARCH REQUIRED' && outreachDraft.length > 50) {\n  await new Promise(r => setTimeout(r, 2000));\n  const draftMsg = `SCOUT v6 OUTREACH DRAFT -- ${targetName}\\n\\n${outreachDraft.substring(0, 1500)}`;\n  const draftBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: draftMsg } });\n  const draftOpts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(draftBody) } };\n  await new Promise(r => { const req = http.request(draftOpts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(draftBody); req.end(); });\n}\nconst cbBody = JSON.stringify({ agent: 'Scout', version: 'v6', summary, fitScore, action, urgency, confidence, mode, sourceLabel, isScheduled, liveSearch: true, supabaseLogged, mission_write_summary, parent_summary, timestamp: new Date().toISOString() });\nconst cbOpts = { hostname: 'host.docker.internal', port: 5678, path: '/webhook/aidan-callback', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } };\nconst cbReq = http.request(cbOpts, res => { res.on('data',()=>{}); res.on('end',()=>{}); }); cbReq.on('error',()=>{}); cbReq.write(cbBody); cbReq.end();\nreturn [{ json: { success: true, agent: 'Scout', version: 'v6', summary, mode, sourceLabel, urgency, action, confidence, fitScore, liveSearch: true, supabaseLogged, mission_write_summary } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 0],
      "id": "scout-007",
      "name": "Aidan Callback v6"
    }
  ],
  "connections": {
    "Daily 7AM Trigger":                { "main": [[{ "node": "Route + Build Task v6",          "type": "main", "index": 0 }]] },
    "Webhook Trigger":                  { "main": [[{ "node": "Route + Build Task v6",          "type": "main", "index": 0 }]] },
    "Route + Build Task v6":            { "main": [[{ "node": "Strategic Discovery v1",         "type": "main", "index": 0 }]] },
    "Strategic Discovery v1":           { "main": [[{ "node": "Split Opportunities",            "type": "main", "index": 0 }]] },
    "Split Opportunities": {
      "main": [
        [{ "node": "Brave Search v6",   "type": "main", "index": 0 }],
        [{ "node": "Aidan Callback v6", "type": "main", "index": 0 }]
      ]
    },
    "Brave Search v6":                  { "main": [[{ "node": "Web Fetch + Fallback v6",        "type": "main", "index": 0 }]] },
    "Web Fetch + Fallback v6":          { "main": [[{ "node": "Scout Brain v6",                 "type": "main", "index": 0 }]] },
    "Scout Brain v6":                   { "main": [[{ "node": "Mission Transform + Lifecycle v1","type": "main", "index": 0 }]] },
    "Mission Transform + Lifecycle v1": { "main": [[{ "node": "Log to Supabase v6",             "type": "main", "index": 0 }]] },
    "Log to Supabase v6":               { "main": [[{ "node": "Split Opportunities",            "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Scout" }, { "name": "v6" }, { "name": "BD-Analyst" }, { "name": "Supabase" }, { "name": "MissionTransform" }, { "name": "StrategicDiscovery" }]
}
