workflows/2_scout_v5.json
{
  "name": "Scout - BD Research v5",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 0 11 * * 1-5" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -120],
      "id": "scout-001",
      "name": "Daily 7AM Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout-research",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 80],
      "id": "scout-002",
      "name": "Webhook Trigger",
      "webhookId": "bad5071c-c38c-4e8b-99ec-21573ac025ed"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nconst isScheduled = !body.query && !body.command;\nconst query = String(body.query || body.command || '');\nconst today = new Date();\nconst day = today.getDay();\nconst startOfYear = new Date(today.getFullYear(), 0, 1);\nconst weekNum = Math.ceil(((today - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst isWeekA = weekNum % 2 !== 0;\nconst weekA = {\n  1: { mode: 'grant', query: 'Maryland Lighthouse Industries Upskilling Reskilling Program 2026 workforce grant nonprofit aerospace defense IT manufacturing site:dllr.state.md.us OR site:governor.maryland.gov OR site:commerce.maryland.gov', grantName: 'MD_Lighthouse_Upskilling_2026.txt', source: 'Maryland DLLR — Lighthouse Sectors' },\n  2: { mode: 'grant', query: 'TEDCO Maryland technology development corporation grant 2026 autonomous drone UAS cybersecurity defense startup SBIR matching funds site:tedco.md OR tedco.md', grantName: 'TEDCO_2026.txt', source: 'TEDCO Maryland' },\n  3: { mode: 'grant', query: 'Maryland \"Build Our Future\" grant 2026 OR \"DECADE Act\" autonomous technology cybersecurity aerospace defense nonprofit private company site:commerce.maryland.gov OR site:governor.maryland.gov', grantName: 'MD_BuildOurFuture_DECADE_2026.txt', source: 'Maryland Commerce — Build Our Future / DECADE Act' },\n  4: { mode: 'grant', query: 'FEMA C-UAS SLTT counter drone Homeland Security Grant Program 2026 state local tribal territorial FIFA World Cup security grant site:dhs.gov OR site:fema.gov', grantName: 'FEMA_CUAS_SLTT_2026.txt', source: 'FEMA / DHS' },\n  5: { mode: 'grant', query: 'FAA Aircraft Pilots Workforce Development UAS drone operator grant 2026 OR Maryland Governor Moore press release grant technology workforce announcement site:faa.gov OR site:governor.maryland.gov', grantName: 'FAA_Workforce_MD_Governor_2026.txt', source: 'FAA Workforce / MD Governor Office' }\n};\nconst weekB = {\n  1: { mode: 'bd', query: 'Maryland State Highway Administration MDSHA bridge inspection vendor registration drone aerial UAS Part 107 2026 OR Anne Arundel County DPW infrastructure inspection contract RFP', source: 'V1 Infrastructure — MDSHA + County DPW' },\n  2: { mode: 'bd', query: 'BGE Baltimore Gas Electric NERC FAC-001 FAC-003 drone transmission inspection vendor 2026 OR OMB M-26-02 federal agency UAS compliance deadline May 2026 drone consulting', source: 'V1 Utility BD + V3 OMB Compliance' },\n  3: { mode: 'bd', query: 'Amazon fulfillment warehouse Baltimore autonomous inventory scanning drone 2026 OR pharmaceutical distribution center Maryland autonomous inventory drone inspection 3PL vendor', source: 'V2 Warehouse Autonomous Operations' },\n  4: { mode: 'bd', query: 'Baltimore City Police drone first responder DFR program 2026 OR Anne Arundel Howard County police drone program vendor RFP OR Port Baltimore PSGP security grant drone', source: 'V3 DFR / Public Safety' },\n  5: { mode: 'grant', query: 'SBIR DHS DoD drone autonomous UAS trust cybersecurity hardware 2026 Phase I grant site:sbir.gov OR DroneDeploy Resilient Futures grant 2026 nonprofit OR Northrop Grumman Foundation STEM workforce drone grant', grantName: 'SBIR_Private_Foundation_2026.txt', source: 'SBIR + Private Foundations' }\n};\nlet mode, resolvedQuery, grantName, sourceLabel;\nif (isScheduled) {\n  const schedule = isWeekA ? weekA : weekB;\n  const target = schedule[day] || weekA[1];\n  mode = target.mode; resolvedQuery = target.query; grantName = target.grantName || null; sourceLabel = target.source || 'Scheduled';\n} else {\n  mode = body.mode || 'bd'; resolvedQuery = query || 'Maryland drone infrastructure inspection contracts 2026'; grantName = body.grantName || null; sourceLabel = 'Manual';\n}\nreturn [{ json: { mode, query: resolvedQuery, grantName, sourceLabel, isScheduled, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "scout-003",
      "name": "Route + Build Task v5"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp } = $input.first().json;\nconst BRAVE_API_KEY = 'BSAWHBob7ILPlWV-JX8iFTOr4wDaQ1I';\nconst encodedQuery = encodeURIComponent(query);\nconst path = `/res/v1/web/search?q=${encodedQuery}&count=5&search_lang=en&country=us&text_decorations=false&extra_snippets=true`;\nconst options = {\n  hostname: 'api.search.brave.com',\n  port: 443,\n  path: path,\n  method: 'GET',\n  headers: { 'Accept': 'application/json', 'X-Subscription-Token': BRAVE_API_KEY }\n};\nconst rawResponse = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    const chunks = [];\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n  });\n  req.on('error', reject);\n  req.end();\n});\nlet braveResults = [];\nlet braveError = null;\nif (rawResponse.status === 200) {\n  try {\n    const parsed = JSON.parse(rawResponse.body);\n    const webResults = parsed?.web?.results || [];\n    braveResults = webResults.slice(0, 5).map((r, i) => ({ index: i + 1, title: r.title || '', url: r.url || '', description: r.description || '', extra_snippets: (r.extra_snippets || []).slice(0, 2) }));\n  } catch(e) { braveError = 'Failed to parse Brave response: ' + e.message; }\n} else {\n  braveError = `Brave API returned status ${rawResponse.status}: ${rawResponse.body.substring(0, 200)}`;\n}\nlet braveContext = '';\nif (braveResults.length > 0) {\n  braveContext = braveResults.map(r => {\n    const snippets = r.extra_snippets.length > 0 ? r.extra_snippets.join(' ') : '';\n    return `[${r.index}] ${r.title}\\nURL: ${r.url}\\nSummary: ${r.description}\\n${snippets ? 'Detail: ' + snippets : ''}`;\n  }).join('\\n\\n');\n} else {\n  braveContext = braveError || 'No results returned from Brave Search.';\n}\nconst fetchUrls = braveResults.slice(0, 2).map(r => r.url).filter(u => u.length > 0);\nreturn [{ json: { mode, query, grantName, sourceLabel, isScheduled, timestamp, braveContext, braveResults, fetchUrls, braveError } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "scout-004",
      "name": "Brave Search v5"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp, braveContext, braveResults, fetchUrls, braveError } = $input.first().json;\nconst WORD_THRESHOLD = 500;\nconst FETCH_TIMEOUT_MS = 8000;\nconst MAX_CONTENT_CHARS = 8000;\nfunction fetchUrl(url) {\n  return new Promise((resolve) => {\n    const timer = setTimeout(() => resolve({ ok: false, reason: 'timeout', content: '' }), FETCH_TIMEOUT_MS);\n    try {\n      const lib = url.startsWith('https') ? https : http;\n      const req = lib.get(url, { headers: { 'User-Agent': 'Mozilla/5.0 (compatible; KAI-Netics-Scout/5.0)' } }, (res) => {\n        if ((res.statusCode === 301 || res.statusCode === 302) && res.headers.location) { clearTimeout(timer); fetchUrl(res.headers.location).then(resolve); return; }\n        if (res.statusCode !== 200) { clearTimeout(timer); resolve({ ok: false, reason: `HTTP ${res.statusCode}`, content: '' }); return; }\n        const chunks = [];\n        res.on('data', c => chunks.push(c));\n        res.on('end', () => {\n          clearTimeout(timer);\n          let text = Buffer.concat(chunks).toString('utf8', 0, 60000);\n          text = text.replace(/<script[\\s\\S]*?<\\/script>/gi, '').replace(/<style[\\s\\S]*?<\\/style>/gi, '').replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/\\s{3,}/g, '\\n\\n').trim();\n          resolve({ ok: true, content: text.substring(0, MAX_CONTENT_CHARS) });\n        });\n      });\n      req.on('error', (e) => { clearTimeout(timer); resolve({ ok: false, reason: e.message, content: '' }); });\n    } catch(e) { clearTimeout(timer); resolve({ ok: false, reason: e.message, content: '' }); }\n  });\n}\nfunction wordCount(text) { return text.split(/\\s+/).filter(w => w.length > 0).length; }\nconst fetchPromises = (fetchUrls || []).slice(0, 2).map(url => fetchUrl(url).then(result => ({ url, ...result })));\nconst fetchResults = await Promise.all(fetchPromises);\nlet enrichedContext = '';\nconst fetchSummary = [];\nfor (const result of fetchResults) {\n  const wc = wordCount(result.content || '');\n  if (result.ok && wc >= WORD_THRESHOLD) {\n    enrichedContext += `\\n\\n=== FULL PAGE CONTENT: ${result.url} ===\\n${result.content}\\n`;\n    fetchSummary.push(`FULL CONTENT (${wc} words): ${result.url}`);\n  } else {\n    const reason = !result.ok ? result.reason : `only ${wc} words`;\n    enrichedContext += `\\n\\n=== PARTIAL/UNAVAILABLE: ${result.url} ===\\n[Full content unavailable: ${reason}.]\\n`;\n    fetchSummary.push(`SNIPPET FALLBACK (${reason}): ${result.url}`);\n  }\n}\nconst combinedContext = ['=== LIVE BRAVE SEARCH RESULTS ===', braveContext || 'No Brave results available.', enrichedContext || ''].join('\\n');\nreturn [{ json: { mode, query, grantName, sourceLabel, isScheduled, timestamp, combinedContext, fetchSummary, braveResults } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "scout-005",
      "name": "Web Fetch + Fallback v5"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), https = require('https');\nlet ctx = {};\ntry { ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { ctx = {}; }\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp, combinedContext, fetchSummary, braveResults } = $input.first().json;\nconst founder = ctx.founder || {};\nconst verticals = ctx.verticals || {};\nconst entities = ctx.entities || {};\nconst naics = ctx.naics || {};\nconst revenue = ctx.revenue_targets || {};\nconst tech = ctx.technology || {};\nconst verticalList = Object.entries(verticals).map(([k,v]) => `${k}: ${v.name} | Pricing: ${v.pricing || v.revenue_projection || 'TBD'} | Margin: ${v.margin || 'TBD'}`).join('\\n');\nconst eafProfile = `EAF: ${entities.EAF?.name} | EIN: ${entities.EAF?.ein} | Status: ${entities.EAF?.status}`;\nconst fpProfile  = `FP:  ${entities.FP?.name}  | EIN: ${entities.FP?.ein} | Status: ${entities.FP?.status}`;\nconst monkProfile = `MONK: ${entities.MONK?.name} | Role: ${entities.MONK?.role} | Status: ${entities.MONK?.status}`;\nconst techSummary = [`MONK: ${tech.MONK?.description || ''} Status: ${tech.MONK?.status || ''}`, `AKMS: ${tech.AKMS?.description || ''}`, `CAKO: ${tech.CAKO?.description || ''} Cohort 1: ${tech.CAKO?.cohort_1_target || ''}`].join('\\n');\nconst credStack = (founder.credentials || []).join(', ');\nconst complianceRules = (ctx.compliance_rules || []).join(' | ');\nconst activePrograms = (ctx.deadlines || []).filter(d => d.status !== 'FILED' && d.status !== 'COMPLETE' && d.status !== 'EXEMPT').map(d => `${d.item} | Due: ${d.date} | Entity: ${d.entity} | Notes: ${d.notes || ''}`).join('\\n');\nlet systemMessage, userMessage, outputFolder, outputPrefix;\nif (mode === 'grant') {\n  systemMessage = `You are Scout, Grant Intelligence Agent for KAI-Netics.\\n\\nENTITY PROFILES:\\n${eafProfile}\\n${fpProfile}\\n${monkProfile}\\n\\nFOUNDER: ${founder.name} — ${credStack}\\nBACKGROUND: ${founder.background}\\n\\nTECHNOLOGY ASSETS:\\n${techSummary}\\n\\nSEVEN VERTICALS:\\n${verticalList}\\n\\nNAICS REGISTERED: ${(naics.registered||[]).map(n=>n.code+' '+n.description).join(', ')}\\n\\nACTIVE PROGRAMS + DEADLINES:\\n${activePrograms || 'None currently active.'}\\n\\nREVENUE TARGETS: Y1 ${revenue.year1_total} | Y2 ${revenue.year2_total} | Y3 ${revenue.year3_total}\\n\\nCOMPLIANCE RULES: ${complianceRules}\\n\\nIMPORTANT: Use LIVE WEB SEARCH RESULTS as primary source. State UNCONFIRMED if field cannot be verified.\\n\\nFORMAT OUTPUT EXACTLY:\\n\\nFUNDER: [exact legal name]\\nPROGRAM: [exact program name]\\nDEADLINE: [from live content, or UNCONFIRMED]\\nAWARD RANGE: [from live content, or UNCONFIRMED]\\nPORTAL / CONTACT: [exact URL]\\nELIGIBILITY: [from live content]\\nEAF FIT SCORE: [0-100%]\\nFP FIT SCORE: [0-100%]\\nFIT RATIONALE: [2-3 sentences]\\n\\nTOP 3 ALIGNMENT POINTS:\\n1.\\n2.\\n3.\\n\\nTOP 2 RISKS:\\n1.\\n2.\\n\\nCOMPETING APPLICANTS: [landscape]\\nRECOMMENDED ACTION: [APPLY IMMEDIATELY / APPLY / WATCH / PASS]\\nNEXT STEP: [single action with URL or contact]\\nDATA CONFIDENCE: [HIGH / MEDIUM / LOW]\\n\\nLOI DRAFT:\\n[300-400 word LOI ready for Jordan to refine.]`;\n  userMessage = `Research this grant using live search results.\\n\\nQUERY: ${query}\\nToday: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}\\n\\n--- LIVE SEARCH DATA ---\\n${combinedContext}\\n--- END LIVE SEARCH DATA ---`;\n  outputFolder = 'Maryland_Grants';\n  outputPrefix = grantName ? grantName.replace('.txt','') : 'Grant_Intel_' + new Date().toISOString().slice(0,10);\n} else {\n  systemMessage = `You are Scout, BD Research Agent for KAI-Netics.\\n\\nENTITY PROFILES:\\n${fpProfile}\\n${eafProfile}\\n${monkProfile}\\n\\nFOUNDER: ${founder.name} — ${credStack}\\nBACKGROUND: ${founder.background}\\n\\nKEVIN'S TWO ROLES: (1) Sales and BD; (2) MONK technology development.\\n\\nSEVEN VERTICALS:\\n${verticalList}\\n\\nTECHNOLOGY ASSETS:\\n${techSummary}\\n\\nNAICS REGISTERED: ${(naics.registered||[]).map(n=>n.code+' '+n.description).join(', ')}\\nKEY COMPLIANCE HOOKS: FHWA 23 CFR 650, PHMSA 49 CFR 192, OMB M-26-02 May 20 2026, NDAA fleet cert, NERC FAC-001/003, FAA Part 107, CISSP framework\\n\\nACTIVE PIPELINE:\\n${activePrograms || 'None currently active.'}\\n\\nIMPORTANT: Use LIVE WEB SEARCH RESULTS as primary source. State UNCONFIRMED if field cannot be verified.\\n\\nProduce ALL 9 sections:\\n1. TARGET ORG — full name, named decision maker with exact title\\n2. PROCUREMENT PORTAL — exact URL\\n3. CONTRACT VEHICLE — how they procure\\n4. FIT SCORE 0-100% — with rationale\\n5. CAPABILITY STATEMENT — 2-3 paragraphs; lead with CISSP + PMP + Part 107\\n6. CERTIFICATIONS NEEDED — exact gaps\\n7. NEXT ACTION — specific name, phone, email, URL\\n8. FOLLOW-UP SEQUENCE — 3-touch plan with dates\\n9. DATA CONFIDENCE: [HIGH / MEDIUM / LOW]\\n\\nNever fabricate contacts. Today: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}.`;\n  userMessage = `Research this BD target using live search results.\\n\\nQUERY: ${query}\\nToday: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}\\n\\n--- LIVE SEARCH DATA ---\\n${combinedContext}\\n--- END LIVE SEARCH DATA ---`;\n  outputFolder = 'Aidan_Outputs/Scout';\n  outputPrefix = 'Scout_BD_' + new Date().toISOString().slice(0,10).replace(/-/g,'');\n}\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: systemMessage, messages: [{ role: 'user', content: userMessage }] });\nconst options = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': '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', 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\nlet aiOutput = '';\ntry { aiOutput = JSON.parse(result.body).content?.[0]?.text || 'No response from Claude.'; } catch(e) { aiOutput = result.body.substring(0, 500); }\nconst dateStr = new Date().toISOString().replace(/[:.]/g,'-');\nconst filename = mode === 'grant' ? `${outputPrefix}.txt` : `${outputPrefix}_${dateStr}.txt`;\nconst folderPath = `/data/${outputFolder}`;\nfs.mkdirSync(folderPath, { recursive: true });\nconst fetchLog = fetchSummary && fetchSummary.length > 0 ? '\\n\\n--- FETCH LOG ---\\n' + fetchSummary.join('\\n') : '';\nconst header = [`SCOUT v5 — KAI-NETICS`, `Mode: ${mode.toUpperCase()}`, `Source: ${sourceLabel}`, `Query: ${query}`, `Generated: ${timestamp}`, `Scheduled: ${isScheduled}`, `Live Search: YES (Brave API)`, ``, ``].join('\\n');\nfs.writeFileSync(`${folderPath}/${filename}`, header + aiOutput + fetchLog + '\\n', 'utf8');\nconst fitMatch = aiOutput.match(/(?:EAF FIT SCORE|FIT SCORE)[:\\s*\\*]*\\s*\\*?\\*?(\\d+)/i);\nconst fitScore = fitMatch ? parseInt(fitMatch[1]) : null;\nconst fitScoreDisplay = fitScore !== null ? fitScore + '%' : 'See report';\nconst actionMatch = aiOutput.match(/RECOMMENDED ACTION[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst action = actionMatch ? actionMatch[1].trim().replace(/\\*/g,'') : 'Review report';\nconst nextMatch = aiOutput.match(/NEXT (?:STEP|ACTION)[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst nextStep = nextMatch ? nextMatch[1].trim().replace(/\\*/g,'').substring(0,100) : 'See report';\nconst confMatch = aiOutput.match(/DATA CONFIDENCE[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst confidence = confMatch ? confMatch[1].trim().replace(/\\*/g,'') : 'See report';\nconst modeLabel = mode === 'grant' ? 'GRANT INTEL' : 'BD REPORT';\nconst summary = [`SCOUT v5 ${modeLabel} — ${sourceLabel}`, `Live Search: YES | Confidence: ${confidence}`, `Fit: ${fitScoreDisplay} | Action: ${action}`, `Next: ${nextStep}`, `Saved: /data/${outputFolder}/${filename}`].join('\\n');\n\n// Extract target name for Supabase\nconst targetMatch = aiOutput.match(/TARGET ORG[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i) || aiOutput.match(/FUNDER[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst targetName = targetMatch ? targetMatch[1].trim().replace(/\\*/g,'').substring(0,100) : sourceLabel;\n\n// Generate content hash for deduplication\nconst crypto = require('crypto');\nconst contentHash = crypto.createHash('md5').update(query + mode + new Date().toISOString().slice(0,10)).digest('hex');\n\nreturn [{ json: { aiOutput, summary, savedTo: `${folderPath}/${filename}`, query, fitScore, fitScoreDisplay, action, mode, filename, outputFolder, isScheduled, sourceLabel, timestamp, confidence, targetName, contentHash } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "scout-006",
      "name": "Scout Brain v5"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst { summary, fitScore, action, mode, sourceLabel, confidence, targetName, contentHash, savedTo, query, timestamp } = $input.first().json;\n\n// Write to Supabase scout_reports table\nconst SUPABASE_URL = 'https://raxpmeltyxmtiihxoxpa.supabase.co';\nconst SUPABASE_KEY = 'sb_secret_Jz8T31FHgqpfOrqijr1qtQ_HcbbZ8Nu';\n\nconst record = {\n  run_date: new Date().toISOString().slice(0,10),\n  mode: mode || 'bd',\n  source_label: sourceLabel,\n  query: query ? query.substring(0, 500) : null,\n  target_name: targetName,\n  fit_score: fitScore || null,\n  recommended_action: action ? action.substring(0, 100) : null,\n  data_confidence: confidence ? confidence.substring(0, 50) : null,\n  saved_file_path: savedTo,\n  content_hash: contentHash,\n  status: 'new'\n};\n\ntry {\n  const body = JSON.stringify(record);\n  const url = new URL(`${SUPABASE_URL}/rest/v1/scout_reports`);\n  const result = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: url.hostname,\n      port: 443,\n      path: url.pathname,\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'apikey': SUPABASE_KEY,\n        'Authorization': `Bearer ${SUPABASE_KEY}`,\n        'Prefer': 'return=minimal',\n        'Content-Length': Buffer.byteLength(body)\n      }\n    }, (res) => {\n      let d = '';\n      res.on('data', c => d += c);\n      res.on('end', () => resolve({ status: res.statusCode, body: d }));\n    });\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n  const logged = result.status === 201 || result.status === 200;\n  return [{ json: { ...$input.first().json, supabaseLogged: logged, supabaseStatus: result.status } }];\n} catch(e) {\n  // Never let Supabase failure break the workflow\n  return [{ json: { ...$input.first().json, supabaseLogged: false, supabaseError: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "scout-008",
      "name": "Log to Supabase"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { summary = 'Scout complete.', fitScoreDisplay, query, mode, isScheduled, sourceLabel, confidence, supabaseLogged } = $input.first().json;\nconst modeLabel = mode?.toUpperCase() === 'GRANT' ? 'GRANT INTEL' : 'BD REPORT';\nconst dbStatus = supabaseLogged ? '💾 Logged to Supabase' : '⚠️ Supabase log failed';\nconst msgText = isScheduled \n  ? `SCOUT v5 MORNING SCAN LIVE\\n${sourceLabel || 'Scheduled'}\\n\\n${summary}\\n\\n${dbStatus}`\n  : `SCOUT v5 ${modeLabel} LIVE\\nSource: ${sourceLabel || 'Manual'}\\n\\n${summary}\\n\\n${dbStatus}`;\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: msgText } });\nconst opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(r => { const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\nconst cbBody = JSON.stringify({ agent: 'Scout', version: 'v5', summary, fitScore: fitScoreDisplay, query, mode, sourceLabel, confidence, isScheduled, liveSearch: true, supabaseLogged, timestamp: new Date().toISOString() });\nconst cbOpts = { hostname: 'host.docker.internal', port: 5678, path: '/webhook/aidan-callback', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } };\nconst cbReq = http.request(cbOpts, res => { res.on('data',()=>{}); res.on('end',()=>{}); }); cbReq.on('error',()=>{}); cbReq.write(cbBody); cbReq.end();\nreturn [{ json: { success: true, agent: 'Scout', version: 'v5', summary, mode, sourceLabel, confidence, liveSearch: true, supabaseLogged } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0],
      "id": "scout-007",
      "name": "Aidan Callback v5"
    }
  ],
  "connections": {
    "Daily 7AM Trigger":       { "main": [[{ "node": "Route + Build Task v5",  "type": "main", "index": 0 }]] },
    "Webhook Trigger":         { "main": [[{ "node": "Route + Build Task v5",  "type": "main", "index": 0 }]] },
    "Route + Build Task v5":   { "main": [[{ "node": "Brave Search v5",        "type": "main", "index": 0 }]] },
    "Brave Search v5":         { "main": [[{ "node": "Web Fetch + Fallback v5","type": "main", "index": 0 }]] },
    "Web Fetch + Fallback v5": { "main": [[{ "node": "Scout Brain v5",         "type": "main", "index": 0 }]] },
    "Scout Brain v5":          { "main": [[{ "node": "Log to Supabase",        "type": "main", "index": 0 }]] },
    "Log to Supabase":         { "main": [[{ "node": "Aidan Callback v5",      "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Scout" }, { "name": "v5" }, { "name": "Supabase" }, { "name": "LiveSearch" }]
}
