workflows/4_iris_v3.json
{
  "name": "Iris - Compliance Monitor v3",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "iris-monitor", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 80],
      "id": "iris-001", "name": "Webhook", "webhookId": "41a73734-f3bf-4b0f-8d8c-5da8db94cdbb"
    },
    {
      "parameters": { "rule": { "interval": [{ "triggerAtHour": 8 }] } },
      "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.3, "position": [0, -80],
      "id": "iris-002", "name": "Daily 8AM Trigger"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// IRIS BRAIN v3 — Dynamic deadline reader\n// All deadlines live in KAI_Context.json > deadlines[]\n// To add/remove/close a deadline: edit KAI_Context.json only.\n// status: 'FILED' | 'COMPLETE' | 'ACTIVE' (default)\n// Dates must be YYYY-MM-DD. Non-date strings are skipped.\n// ============================================================\n\nconst fs = require('fs');\n\n// --- Load context ---\nlet ctx = {};\ntry {\n  ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8'));\n} catch(e) {\n  ctx = {};\n}\n\nconst rawDeadlines = ctx.deadlines || [];\nconst compliance   = ctx.compliance_rules || [];\nconst today        = new Date();\ntoday.setHours(0, 0, 0, 0);\n\n// --- Helpers ---\nconst isValidDate = s => /^\\d{4}-\\d{2}-\\d{2}$/.test(s) && !isNaN(new Date(s).getTime());\nconst daysUntil   = s => Math.ceil((new Date(s) - today) / (1000 * 60 * 60 * 24));\n\n// --- Filter: skip FILED / COMPLETE, skip non-date strings ---\nconst deadlines = rawDeadlines.filter(d => {\n  if (!d || !d.item || !d.date) return false;\n  const st = (d.status || '').toUpperCase();\n  if (st === 'FILED' || st === 'COMPLETE') return false;\n  return isValidDate(d.date);\n});\n\n// --- Bucket ---\nconst overdue  = deadlines.filter(d => daysUntil(d.date) <  0);\nconst critical = deadlines.filter(d => { const n = daysUntil(d.date); return n >= 0 && n <=  7; });\nconst urgent   = deadlines.filter(d => { const n = daysUntil(d.date); return n >  7 && n <= 21; });\nconst upcoming = deadlines.filter(d => { const n = daysUntil(d.date); return n > 21 && n <= 90; });\n\n// --- Full report (saved to file) ---\nlet report = `IRIS COMPLIANCE MONITOR v3\\n`;\nreport    += `Generated: ${today.toLocaleString('en-US', { timeZone: 'America/New_York' })} EST\\n`;\nreport    += `KAI_Context.json v${ctx.meta?.version || 'unknown'} loaded\\n`;\nreport    += `Active deadlines tracked: ${deadlines.length} | Filed/Complete skipped: ${rawDeadlines.length - deadlines.length}\\n\\n`;\n\nif (overdue.length) {\n  report += '🔴 OVERDUE:\\n';\n  overdue.forEach(d => {\n    report += `  • ${d.item} — ${Math.abs(daysUntil(d.date))}d overdue [${d.entity || '?'}]\\n`;\n    if (d.notes) report += `    Notes: ${d.notes}\\n`;\n  });\n  report += '\\n';\n}\n\nif (critical.length) {\n  report += '🚨 CRITICAL (≤7 days):\\n';\n  critical.forEach(d => {\n    report += `  • ${d.item} — ${daysUntil(d.date)}d (${d.date}) [${d.entity || '?'}] Owner: ${d.owner || 'Kevin'}\\n`;\n    if (d.notes) report += `    Notes: ${d.notes}\\n`;\n  });\n  report += '\\n';\n}\n\nif (urgent.length) {\n  report += '⚠️  URGENT (8-21 days):\\n';\n  urgent.forEach(d => {\n    report += `  • ${d.item} — ${daysUntil(d.date)}d (${d.date}) [${d.entity || '?'}]\\n`;\n    if (d.notes) report += `    Notes: ${d.notes}\\n`;\n  });\n  report += '\\n';\n}\n\nif (upcoming.length) {\n  report += '📅 UPCOMING (22-90 days):\\n';\n  upcoming.forEach(d => {\n    report += `  • ${d.item} — ${daysUntil(d.date)}d (${d.date}) [${d.entity || '?'}]\\n`;\n  });\n  report += '\\n';\n}\n\nif (!overdue.length && !critical.length && !urgent.length) {\n  report += '✅ No overdue, critical, or urgent items.\\n\\n';\n}\n\nreport += `COMPLIANCE RULES:\\n${compliance.map(r => '• ' + r).join('\\n')}\\n\\n`;\nreport += `REGULATORY WATCH:\\n`;\nreport += `• FAA Part 108 BVLOS final rule INCOMING — flagged for Atlas SBIR\\n`;\nreport += `• FAA-2022-1258 BVLOS rulemaking active\\n`;\nreport += `• OMB M-26-02 federal drone compliance deadline: 2026-05-20\\n`;\nreport += `• DJI ban risk — NDAA Section 1828 security review status: monitor\\n`;\n\n// --- Save report ---\nconst outputPath = `/data/Aidan_Outputs/Iris/Iris_Report_${today.toISOString().replace(/[:.]/g, '-')}.txt`;\nfs.mkdirSync('/data/Aidan_Outputs/Iris', { recursive: true });\nfs.writeFileSync(outputPath, report, 'utf8');\n\n// --- WhatsApp summary (concise) ---\nlet whatsappMsg = `🛡️ IRIS COMPLIANCE v3\\n`;\nwhatsappMsg    += `${today.toLocaleDateString('en-US', { timeZone: 'America/New_York', month:'short', day:'numeric' })} | Tracking: ${deadlines.length} items\\n\\n`;\n\nif (overdue.length) {\n  whatsappMsg += `🔴 OVERDUE (${overdue.length}):\\n`;\n  overdue.forEach(d => { whatsappMsg += `• ${d.item} — ${Math.abs(daysUntil(d.date))}d ago\\n`; });\n  whatsappMsg += '\\n';\n}\nif (critical.length) {\n  whatsappMsg += `🚨 CRITICAL (${critical.length}):\\n`;\n  critical.forEach(d => { whatsappMsg += `• ${d.item} — ${daysUntil(d.date)}d\\n`; });\n  whatsappMsg += '\\n';\n}\nif (urgent.length) {\n  whatsappMsg += `⚠️ URGENT (${urgent.length}):\\n`;\n  urgent.forEach(d => { whatsappMsg += `• ${d.item} — ${daysUntil(d.date)}d\\n`; });\n  whatsappMsg += '\\n';\n}\nif (!overdue.length && !critical.length && !urgent.length) {\n  whatsappMsg += `✅ All clear — no critical or overdue items.\\n\\n`;\n}\nwhatsappMsg += `Part 108 BVLOS: INCOMING — Atlas flagged.`;\n\nconst summary = `IRIS v3 COMPLETE | Critical: ${critical.length} | Urgent: ${urgent.length} | Overdue: ${overdue.length} | Saved: ${outputPath}`;\n\nreturn [{\n  json: {\n    report,\n    whatsappMsg,\n    summary,\n    criticalCount: critical.length,\n    urgentCount:   urgent.length,\n    overdueCount:  overdue.length,\n    activeCount:   deadlines.length,\n    skippedCount:  rawDeadlines.length - deadlines.length,\n    savedTo:       outputPath\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0], "id": "iris-003", "name": "Iris Brain v3"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { whatsappMsg, summary = 'Iris complete.', criticalCount, urgentCount, overdueCount } = $input.first().json;\n\n// --- Send WhatsApp ---\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: whatsappMsg } });\nconst opts = {\n  hostname: 'host.docker.internal', port: 8081,\n  path: '/message/sendText/Aidan', method: 'POST',\n  headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) }\n};\nawait new Promise(r => {\n  const req = http.request(opts, res => { res.on('data', () => {}); res.on('end', r); });\n  req.on('error', r);\n  req.write(msgBody);\n  req.end();\n});\n\n// --- Callback to Aidan orchestrator ---\nconst cbBody = JSON.stringify({ agent: 'Iris', summary, criticalCount, urgentCount, overdueCount, timestamp: new Date().toISOString() });\nconst cbOpts = {\n  hostname: 'host.docker.internal', port: 5678,\n  path: '/webhook/aidan-callback', method: 'POST',\n  headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) }\n};\nconst cbReq = http.request(cbOpts, res => { res.on('data', () => {}); res.on('end', () => {}); });\ncbReq.on('error', () => {});\ncbReq.write(cbBody);\ncbReq.end();\n\nreturn [{ json: { success: true, agent: 'Iris', summary } }];\n"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 0], "id": "iris-004", "name": "Aidan Callback"
    }
  ],
  "connections": {
    "Webhook":          { "main": [[{ "node": "Iris Brain v3", "type": "main", "index": 0 }]] },
    "Daily 8AM Trigger":{ "main": [[{ "node": "Iris Brain v3", "type": "main", "index": 0 }]] },
    "Iris Brain v3":    { "main": [[{ "node": "Aidan Callback",  "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Iris" }, { "name": "Compliance" }]
}
