workflows/5_orchestrator.json
{
  "name": "Aidan - Orchestra Orchestrator",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 0 9 * * 1-5" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -120],
      "id": "orch-006",
      "name": "Daily 9AM Trigger"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "aidan-orchestra", "responseMode": "lastNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "id": "orch-001", "name": "Orchestra Trigger"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), http = require('http');\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\n// ============================================================\n// LOOP GUARD — prevents agent callbacks from re-triggering fan out\n// Agent callbacks arrive at /webhook/aidan-orchestra with an 'agent' field.\n// If this is a callback from an agent, route to callback handler, not fan out.\n// ============================================================\nif (body.agent && ['Scout','Jordan','Iris','Atlas','Nova','Sage','Pulse'].includes(body.agent)) {\n  return [{ json: { ...body, _isCallback: true, _guardTriggered: true } }];\n}\n\nconst masterQuery = String(body.query || body.command || 'Full platform status — compliance, BD targets, grant pipeline, technology milestones.');\nconst sessionId = 'orch_' + Date.now();\nfs.mkdirSync('/data/Aidan_Outputs/Orchestra', { recursive: true });\nfs.writeFileSync(`/data/Aidan_Outputs/Orchestra/session_${sessionId}.json`, JSON.stringify({ sessionId, masterQuery, startTime: new Date().toISOString(), agents: { Atlas: null, Scout: null, Jordan: null, Iris: null } }, null, 2), 'utf8');\n\n// ============================================================\n// FAN OUT — fires all four agents in parallel\n// Atlas status: current platform status\n// Scout: top 3 DMV contract/grant opportunities\n// Jordan: grant pipeline status\n// Iris: compliance and deadline watchlist\n// ============================================================\nconst agentCalls = [\n  { path: '/webhook/atlas-architect', payload: { command: 'Atlas status', detail: masterQuery, sessionId } },\n  { path: '/webhook/scout-research', payload: { query: masterQuery + ' — top 3 DMV contract opportunities', sessionId } },\n  { path: '/webhook/grant-writer', payload: { trigger: 'orchestra', query: masterQuery, sessionId } },\n  { path: '/webhook/iris-monitor', payload: { trigger: 'orchestra', sessionId } }\n];\n\nconst fireAgent = (agentPath, payload) => new Promise(resolve => {\n  const bodyStr = JSON.stringify(payload);\n  const opts = { hostname: 'host.docker.internal', port: 5678, path: agentPath, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } };\n  const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end', () => resolve({ path: agentPath, fired: true })); });\n  req.on('error', e => resolve({ path: agentPath, fired: false, error: e.message }));\n  req.write(bodyStr); req.end();\n});\n\nconst results = await Promise.all(agentCalls.map(a => fireAgent(a.path, a.payload)));\nconst agentNames = ['Atlas','Scout','Jordan','Iris'];\nconst launchMsg = `🎼 ORCHESTRA LAUNCHED\\n\\n${agentNames.map((a,i) => `${results[i].fired?'✅':'❌'} ${a}`).join('\\n')}\\n\\nConsolidated brief incoming ~2 minutes.`;\n\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: launchMsg } });\nconst waOpts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(r => { const req = http.request(waOpts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\n\nreturn [{ json: { sessionId, masterQuery, results, launched: true, _isCallback: false } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0], "id": "orch-002", "name": "Fan Out to All Agents"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "aidan-callback", "responseMode": "lastNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 240], "id": "orch-003", "name": "Agent Callback Receiver"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), http = require('http'), https = require('https');\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\n// ============================================================\n// CALLBACK CONSOLIDATOR\n// Waits for all four agents within a 15-minute window before synthesizing.\n// Window widened from 5 to 15 minutes to account for Claude API latency.\n// ============================================================\nconst agentName = body.agent || 'Unknown';\nconst timestamp = body.timestamp || new Date().toISOString();\nfs.mkdirSync('/data/Aidan_Outputs/Callbacks', { recursive: true });\nfs.writeFileSync(`/data/Aidan_Outputs/Callbacks/${agentName}_${timestamp.replace(/[:.]/g,'-')}.json`, JSON.stringify(body, null, 2), 'utf8');\n\nconst cbDir = '/data/Aidan_Outputs/Callbacks/';\nconst allFiles = fs.readdirSync(cbDir).filter(f => f.endsWith('.json'));\nconst cutoff = Date.now() - (15 * 60 * 1000);\nconst recentCallbacks = {};\nallFiles.forEach(f => {\n  try {\n    const stat = fs.statSync(cbDir + f);\n    if (stat.mtimeMs > cutoff) {\n      const data = JSON.parse(fs.readFileSync(cbDir + f, 'utf8'));\n      if (data.agent) recentCallbacks[data.agent] = data;\n    }\n  } catch(e) {}\n});\n\nconst allFour = ['Atlas','Scout','Jordan','Iris'].every(a => Object.keys(recentCallbacks).includes(a));\nif (!allFour) return [{ json: { received: agentName, waiting: true, receivedSoFar: Object.keys(recentCallbacks), allFour: false } }];\n\nconst atlas = recentCallbacks['Atlas'] || {};\nconst scout = recentCallbacks['Scout'] || {};\nconst jordan = recentCallbacks['Jordan'] || {};\nconst iris = recentCallbacks['Iris'] || {};\n\nconst systemMessage = `You are Aidan, Chief of Staff to Kevin Alexander Smith, CEO of KAI-Netics. Synthesize four agent reports into a single executive morning briefing. BLUF first. Entity-tagged action items. Decisive and concise — Kevin reads this on his phone. Priority order: EAF compliance > FP contracts > MONK IP. Clearly separate what Kevin must decide today from what Aidan handles autonomously.`;\n\nconst userMessage = `Synthesize these four agent reports into the morning brief:\\n\\nATLAS (Platform Status):\\n${atlas.summary || atlas.statusReport || 'No report'}\\n\\nSCOUT (BD & Grant Intel):\\n${scout.summary || 'No report'}\\nFit Score: ${scout.fitScore || 'N/A'} | Source: ${scout.sourceLabel || 'N/A'}\\n\\nJORDAN (Grant Pipeline):\\n${jordan.summary || 'No report'}\\nFit Score: ${jordan.fitScore || 'N/A'}\\n\\nIRIS (Compliance & Deadlines):\\n${iris.summary || 'No report'}\\nCritical: ${iris.criticalCount || 0} | Urgent: ${iris.urgentCount || 0}\\n\\nFormat the brief exactly as follows:\\n\\n🎯 BLUF\\n[3 sentences max — what matters most today]\\n\\n🔴 KEVIN DECIDES TODAY\\n[Numbered list — items requiring Kevin's direct action or decision]\\n\\n📋 AIDAN HANDLES\\n[Numbered list — items Aidan executes autonomously, no Kevin decision needed]\\n\\n📊 INTEL SUMMARY\\nAtlas: [1-2 sentences]\\nScout: [1-2 sentences — top opportunity and fit score]\\nJordan: [1-2 sentences — top grant and fit score]\\nIris: [1-2 sentences — most urgent compliance item]\\n\\n⚠️ FLAGS & RISKS\\n[Bulleted list — anything needing attention in next 7 days]`;\n\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2048, system: systemMessage, messages: [{ role: 'user', content: userMessage }] });\nconst apiOptions = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': 'REPLACE_WITH_KEY', 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\n\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(apiOptions, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\n\nlet brief = '';\ntry { brief = JSON.parse(result.body).content?.[0]?.text || 'Consolidation failed.'; } catch(e) { brief = 'Parse error: ' + result.body.substring(0,500); }\n\nconst briefPath = `/data/Aidan_Outputs/Orchestra/Brief_${new Date().toISOString().replace(/[:.]/g,'-')}.txt`;\nfs.writeFileSync(briefPath, brief, 'utf8');\n\nconst fullMsg = `🎼 AIDAN MORNING BRIEF\\n${new Date().toLocaleString('en-US',{timeZone:'America/New_York'})} EST\\n\\n${brief}`;\nconst chunks = [];\nfor (let i = 0; i < fullMsg.length; i += 3800) chunks.push(fullMsg.substring(i, i + 3800));\nfor (const chunk of chunks) {\n  const mb = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: chunk } });\n  const wo = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(mb) } };\n  await new Promise(r => { const req = http.request(wo, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(mb); req.end(); });\n  await new Promise(r => setTimeout(r, 1000));\n}\n\nreturn [{ json: { success: true, allFour: true, briefPath } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 240], "id": "orch-004", "name": "Collect + Consolidate"
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"ok\",\"agent\":\"Aidan Orchestrator\"}" },
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [440, 120], "id": "orch-005", "name": "ACK"
    }
  ],
  "connections": {
    "Daily 9AM Trigger":     { "main": [[{ "node": "Fan Out to All Agents", "type": "main", "index": 0 }]] },
    "Orchestra Trigger":     { "main": [[{ "node": "Fan Out to All Agents", "type": "main", "index": 0 }]] },
    "Fan Out to All Agents": { "main": [[{ "node": "Collect + Consolidate", "type": "main", "index": 0 }, { "node": "ACK", "type": "main", "index": 0 }]] },
    "Agent Callback Receiver": { "main": [[{ "node": "Collect + Consolidate", "type": "main", "index": 0 }]] },
    "Collect + Consolidate": { "main": [[{ "node": "ACK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Aidan" }, { "name": "Orchestrator" }]
}
