workflows/5b_callback_consolidator.json
{
  "name": "Aidan - Callback Consolidator",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "aidan-callback", "responseMode": "lastNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0],
      "id": "callback-001", "name": "Agent Callback Receiver", "webhookId": "aidan-callback-receiver"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), http = require('http'), https = require('https');\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst agentName = body.agent || 'Unknown';\nconst timestamp = body.timestamp || new Date().toISOString();\nfs.mkdirSync('/data/Aidan_Outputs/Callbacks', { recursive: true });\nfs.writeFileSync(`/data/Aidan_Outputs/Callbacks/${agentName}_${timestamp.replace(/[:.]/g,'-')}.json`, JSON.stringify(body, null, 2), 'utf8');\nconst cbDir = '/data/Aidan_Outputs/Callbacks/';\nconst allFiles = fs.readdirSync(cbDir).filter(f => f.endsWith('.json'));\nconst cutoff = Date.now() - (5 * 60 * 1000);\nconst recentCallbacks = {};\nallFiles.forEach(f => {\n  try {\n    const stat = fs.statSync(cbDir + f);\n    if (stat.mtimeMs > cutoff) {\n      const data = JSON.parse(fs.readFileSync(cbDir + f, 'utf8'));\n      if (data.agent) recentCallbacks[data.agent] = data;\n    }\n  } catch(e) {}\n});\nconst allFour = ['Atlas','Scout','Jordan','Iris'].every(a => Object.keys(recentCallbacks).includes(a));\nif (!allFour) {\n  return [{ json: { received: agentName, waiting: true, receivedSoFar: Object.keys(recentCallbacks), allFour: false } }];\n}\nconst atlas = recentCallbacks['Atlas'] || {}, scout = recentCallbacks['Scout'] || {}, jordan = recentCallbacks['Jordan'] || {}, iris = recentCallbacks['Iris'] || {};\nconst systemMessage = `You are Aidan, Chief of Staff to Kevin Alexander Smith, CEO of KAI-Netics. Synthesize four agent reports into a single executive briefing for Kevin to READ and DECIDE -- not act on autonomously.\n\nCRITICAL RULE: You are an intelligence and recommendation system only. You NEVER take outward action, send anything, file anything, submit anything, or contact anyone on Kevin's behalf. Every action item is a RECOMMENDATION for Kevin to approve. Never say \"Aidan will file\", \"Aidan will send\", \"Aidan will submit\", or any language implying autonomous outward action. Instead say \"RECOMMENDED: Kevin to file\", \"RECOMMENDED: Kevin to send\", \"Pending Kevin approval\".\n\nSTAFF CONTEXT:\n- Atlas: Chief Architect -- platform intelligence, architecture, cost tracking\n- Scout: BD Manager -- pipeline, targets, market intelligence\n- Jordan: Grant Writer -- federal and state funding, LOIs, eligibility\n- Iris: Compliance Officer -- deadlines, regulatory calendar, risk flags\n- Kevin is the CEO. All recommendations go to him for approval.\n\nFormat: BLUF first. Entity-tagged action items. Decisive, concise. Priority: EAF compliance > FP revenue > MONK IP.\n\nEnd every brief with an APPROVAL QUEUE listing any recommended outward actions that require Kevin's explicit WhatsApp approval before anyone proceeds.`;\nconst userMessage = `Synthesize these four agent reports:\\n\\nATLAS:\\n${atlas.summary||'No report'}\\n\\nSCOUT:\\n${scout.summary||'No report'}\\nFit: ${scout.fitScore||'N/A'}\\n\\nJORDAN:\\n${jordan.summary||'No report'}\\nFit: ${jordan.fitScore||'N/A'}\\n\\nIRIS:\\n${iris.summary||'No report'}\\nCritical: ${iris.criticalCount||0} | Urgent: ${iris.urgentCount||0}\\n\\nFormat:\\n1. BLUF (3 sentences max)\\n2. CRITICAL ACTIONS -- Kevin today\\n3. RECOMMENDED ACTIONS -- Pending Kevin approval\\n4. INTEL SUMMARY (key findings per agent)\\n5. FLAGS & RISKS\\n6. APPROVAL QUEUE (list anything needing Kevin WhatsApp approval to execute)`;\nconst requestBody = JSON.stringify({ model: 'claude-opus-4-6', max_tokens: 2048, system: systemMessage, messages: [{ role: 'user', content: userMessage }] });\nconst apiOptions = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': $env.ANTHROPIC_API_KEY, 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(apiOptions, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\nlet brief = '';\ntry { brief = JSON.parse(result.body).content?.[0]?.text || 'Consolidation failed.'; } catch(e) { brief = 'Parse error: ' + result.body.substring(0,500); }\nconst briefPath = `/data/Aidan_Outputs/Orchestra/Brief_${new Date().toISOString().replace(/[:.]/g,'-')}.txt`;\nfs.mkdirSync('/data/Aidan_Outputs/Orchestra', { recursive: true });\nfs.writeFileSync(briefPath, brief, 'utf8');\nconst fullMsg = `AIDAN CONSOLIDATED BRIEF\\n${new Date().toLocaleString('en-US',{timeZone:'America/New_York'})} EST\\n\\n${brief}`;\nconst chunks = [];\nfor (let i = 0; i < fullMsg.length; i += 3800) chunks.push(fullMsg.substring(i, i + 3800));\nfor (const chunk of chunks) {\n  const mb = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: chunk } });\n  const wo = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(mb) } };\n  await new Promise(r => { const req = http.request(wo, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(mb); req.end(); });\n  await new Promise(r => setTimeout(r, 1000));\n}\nreturn [{ json: { success: true, allFour: true, briefPath } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0],
      "id": "callback-002", "name": "Collect + Consolidate"
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"ok\",\"agent\":\"Aidan Callback\"}" },
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [440, 0],
      "id": "callback-003", "name": "ACK"
    }
  ],
  "connections": {
    "Agent Callback Receiver": { "main": [[{ "node": "Collect + Consolidate", "type": "main", "index": 0 }]] },
    "Collect + Consolidate": { "main": [[{ "node": "ACK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Aidan" }, { "name": "Orchestrator" }]
}
