workflows/6_aidan_router_v2.json
{
  "name": "Aidan - WhatsApp Bridge v2",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "whatsapp-inbound", "responseMode": "responseNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0],
      "id": "router-001", "name": "Webhook Trigger", "webhookId": "58cf22c1-34c6-4dbe-b076-445b2c77b7bf"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst event = raw.event || raw.body?.event || 'no-event';\nconst data = raw.data || raw.body?.data || {};\nconst msgText = data.message?.conversation || data.message?.extendedTextMessage?.text || '';\nconst t = msgText.toLowerCase().trim();\nif (event !== 'messages.upsert') return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nif (t.includes('bot reply:')) return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nconst agents = ['aidan','jordan','scout','iris','atlas','nova','sage','pulse','orchestra'];\nif (!t || !agents.some(function(a) { return t.startsWith(a); })) return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nconst from = data.key?.remoteJid || data.remoteJid || '14432576836@s.whatsapp.net';\nlet reply = '';\nconst http = require('http');\nconst fs = require('fs');\n\nconst fireWebhook = async function(path, payload) {\n  const bodyStr = JSON.stringify(payload);\n  const opts = { hostname: 'host.docker.internal', port: 5678, path: path, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } };\n  await new Promise(function(r) { const req = http.request(opts, function(res) { res.on('data',function(){}); res.on('end',r); }); req.on('error',r); req.write(bodyStr); req.end(); });\n};\n\nconst sendWhatsApp = async function(text, number) {\n  const chunks = [];\n  for (let i = 0; i < text.length; i += 3800) chunks.push(text.substring(i, i + 3800));\n  for (let i = 0; i < chunks.length; i++) {\n    const mb = JSON.stringify({ number: number, textMessage: { text: chunks[i] } });\n    const wo = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(mb) } };\n    await new Promise(function(r) { const req = http.request(wo, function(res) { res.on('data',function(){}); res.on('end',r); }); req.on('error',r); req.write(mb); req.end(); });\n    if (chunks.length > 1) await new Promise(function(r) { setTimeout(r, 1000); });\n  }\n};\n\nif (t.startsWith('orchestra')) {\n  const query = t.replace(/^orchestra[,\\s]*/i,'').trim() || 'Full platform status — compliance, BD targets, grants, MEIA readiness';\n  await fireWebhook('/webhook/aidan-orchestra', { query: query, from: from });\n  reply = 'Bot reply: ORCHESTRA INITIATED\\nFiring: Atlas + Scout + Jordan + Iris\\nQuery: ' + query.substring(0,80) + '\\n\\nConsolidated brief incoming ~90 seconds.';\n\n} else if (t.startsWith('aidan')) {\n  const cmd = t.replace(/^aidan[,\\s]*/i,'').trim();\n  if (cmd === 'help' || cmd === '?') {\n    reply = 'Bot reply: AIDAN v2 Commands\\n\\nAgents:\\n* Atlas SBIR/MEIA/MONK/BVLOS/V1-V7/Kott prep\\n* Scout [target]\\n* Jordan grant\\n* Iris deadlines\\n* Nova [rfp text]\\n* Sage board | Sage market\\n* Pulse\\n\\nOrchestration:\\n* Orchestra [query] — fires ALL agents\\n\\nNewsletter Approval:\\n* Sage send board — sends EAF board newsletter\\n* Sage send market — sends FP market newsletter\\n\\nBriefings:\\n* Aidan summary | Aidan status | Aidan help';\n  } else if (cmd === 'summary') {\n    try {\n      const orchDir = '/data/Aidan_Outputs/Orchestra/';\n      const files = fs.readdirSync(orchDir).filter(function(f) { return f.startsWith('Brief_') && f.endsWith('.txt'); }).sort().reverse();\n      if (files.length === 0) {\n        reply = 'Bot reply: No consolidated brief found yet. Say Orchestra to generate one.';\n      } else {\n        const content = fs.readFileSync(orchDir + files[0], 'utf8');\n        const ts = files[0].replace('Brief_','').replace('.txt','').replace(/T/,' ').substring(0,16);\n        const fullMsg = 'Bot reply: AIDAN SUMMARY\\nBrief: ' + ts + ' UTC\\n\\n' + content;\n        await sendWhatsApp(fullMsg, from);\n        return [{ json: { reply: 'skip', phoneNumber: from, skip: true } }];\n      }\n    } catch(e) {\n      reply = 'Bot reply: Error reading summary: ' + e.message;\n    }\n  } else if (cmd.includes('brief') || cmd.includes('status') || cmd.includes('morning')) {\n    reply = 'Bot reply: ' + new Date().toLocaleString('en-US',{timeZone:'America/New_York'}) + ' EST\\nAidan v2 online.\\nAgents: Atlas + Scout + Jordan + Iris + Nova + Sage + Pulse\\nSay Orchestra to fire all. Say Aidan help for menu.';\n  } else {\n    reply = 'Bot reply: Aidan received: ' + cmd + '\\nSay Aidan help for full command menu.';\n  }\n\n} else if (t.startsWith('jordan')) {\n  const cmd = t.replace(/^jordan[,\\s]*/i,'').trim();\n  if (cmd.includes('grant detail') || cmd.includes('grant report')) {\n    try {\n      const files = fs.readdirSync('/data/Aidan_Outputs/Jordan/').filter(function(f) { return f.startsWith('Grant_Report'); }).sort().reverse();\n      if (files.length > 0) {\n        const rpt = fs.readFileSync('/data/Aidan_Outputs/Jordan/' + files[0], 'utf8');\n        reply = 'Bot reply: ' + rpt.substring(0,3500) + '\\n(full report in Aidan_Outputs/Jordan)';\n      } else reply = 'Bot reply: No grant reports found. Say Jordan grant to run analysis.';\n    } catch(e) { reply = 'Bot reply: Error reading reports: ' + e.message; }\n  } else {\n    await fireWebhook('/webhook/grant-writer', { trigger: 'whatsapp', from: from });\n    reply = 'Bot reply: Jordan Grant Writer running. Report ready ~45 seconds.';\n  }\n\n} else if (t.startsWith('scout')) {\n  const cmd = t.replace(/^scout[,\\s]*/i,'').trim() || 'Maryland drone infrastructure inspection contracts 2026';\n  await fireWebhook('/webhook/scout-research', { query: cmd });\n  reply = 'Bot reply: Scout running BD research: ' + cmd.substring(0,60) + '\\nReport ready ~60 seconds.';\n\n} else if (t.startsWith('iris')) {\n  await fireWebhook('/webhook/iris-monitor', { trigger: 'whatsapp', from: from });\n  reply = 'Bot reply: Iris compliance check running... ~15 seconds.';\n\n} else if (t.startsWith('atlas')) {\n  const cmd = t.replace(/^atlas[,\\s]*/i,'').trim();\n  const validCmds = ['sbir','meia','monk','bvlos','kott prep','status','v1','v2','v3','v4','v5','v6','v7'];\n  const matched = validCmds.find(function(c) { return cmd.toLowerCase().startsWith(c); });\n  const atlasCmd = 'Atlas ' + (matched ? matched.toUpperCase() : cmd || 'status');\n  const detail = matched ? cmd.replace(new RegExp(matched,'i'),'').trim() : cmd;\n  await fireWebhook('/webhook/atlas-architect', { command: atlasCmd, detail: detail || '' });\n  reply = 'Bot reply: Atlas running: ' + atlasCmd + '\\nReport ready ~45 seconds.';\n\n} else if (t.startsWith('nova')) {\n  const cmd = t.replace(/^nova[,\\s]*/i,'').trim();\n  if (cmd === 'send') {\n    try {\n      const files = fs.readdirSync('/data/Aidan_Outputs/Nova/').filter(function(f) { return f.endsWith('.txt'); }).sort().reverse();\n      if (files.length > 0) {\n        const latest = fs.readFileSync('/data/Aidan_Outputs/Nova/' + files[0], 'utf8');\n        const subjectMatch = latest.match(/SUBJECT:([^\\n]+)/i);\n        const subject = subjectMatch ? subjectMatch[1].trim() : 'KAI-Netics Vendor Introduction';\n        reply = 'Bot reply: NOVA SEND acknowledged.\\nFile: ' + files[0] + '\\nSubject: ' + subject + '\\n\\nForward draft manually from kas@kevin-llc.com to procurement contact.';\n      } else {\n        reply = 'Bot reply: No Nova RFP reports found to send.';\n      }\n    } catch(e) { reply = 'Bot reply: Nova send error: ' + e.message; }\n  } else if (cmd === 'skip') {\n    reply = 'Bot reply: NOVA SKIP recorded. RFP passed — no action taken.';\n  } else if (cmd.length > 10) {\n    await fireWebhook('/webhook/nova-rfp', { rfp_name: 'WhatsApp Manual RFP', agency: 'Unknown', rfp_text: cmd, source: 'whatsapp' });\n    reply = 'Bot reply: Nova RFP analysis running...\\nReport ready ~60 seconds.';\n  } else {\n    reply = 'Bot reply: Nova commands:\\n* Nova [rfp text] — analyze RFP\\n* Nova send — approve awareness draft\\n* Nova skip — pass on latest RFP';\n  }\n\n} else if (t.startsWith('sage')) {\n  const cmd = t.replace(/^sage[,\\s]*/i,'').trim();\n\n  if (cmd === 'send board' || cmd === 'sendboard') {\n    await fireWebhook('/webhook/sage-send-email', { type: 'board' });\n    reply = 'Bot reply: SAGE SEND BOARD fired.\\nEmailing board now:\\n* James L. Scott, Esq.\\n* Keith Millard\\n* Maurice Ellis\\n\\nConfirmation incoming ~15 seconds.';\n\n  } else if (cmd === 'send market' || cmd === 'sendmarket') {\n    await fireWebhook('/webhook/sage-send-email', { type: 'market' });\n    reply = 'Bot reply: SAGE SEND MARKET fired.\\nEmailing market list now.\\n\\nConfirmation incoming ~15 seconds.';\n\n  } else if (cmd === 'board' || cmd.includes('board newsletter')) {\n    await fireWebhook('/webhook/sage-newsletter', { type: 'board', source: 'whatsapp' });\n    reply = 'Bot reply: Sage drafting EAF Board Newsletter (Opus)...\\nPreview ready ~90 seconds.\\nReply SAGE SEND BOARD to approve and send.';\n\n  } else if (cmd === 'market' || cmd.includes('market newsletter')) {\n    await fireWebhook('/webhook/sage-newsletter', { type: 'market', source: 'whatsapp' });\n    reply = 'Bot reply: Sage drafting FP Market Newsletter (Opus)...\\nPreview ready ~90 seconds.\\nReply SAGE SEND MARKET to approve and send.';\n\n  } else if (cmd === 'both') {\n    await fireWebhook('/webhook/sage-newsletter', { type: 'both', source: 'whatsapp' });\n    reply = 'Bot reply: Sage drafting both newsletters (Opus)...\\nPreviews ready ~2 minutes.';\n\n  } else {\n    reply = 'Bot reply: Sage commands:\\n* Sage board — draft EAF board newsletter\\n* Sage market — draft FP market newsletter\\n* Sage both — draft both\\n* Sage send board — approve + email board\\n* Sage send market — approve + email market list';\n  }\n\n} else if (t.startsWith('pulse')) {\n  await fireWebhook('/webhook/pulse-metrics', { trigger: 'whatsapp', from: from });\n  reply = 'Bot reply: Pulse running platform metrics...\\nDashboard ready ~20 seconds.';\n\n} else {\n  reply = 'Bot reply: Command not recognized. Say Aidan help for the full menu.';\n}\n\nreturn [{ json: { reply: reply, phoneNumber: from, skip: false } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0], "id": "router-002", "name": "Intent Router v2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (input.skip || !input.reply || input.reply === 'skip') return [{ json: { success: true, skipped: true } }];\nconst number = (input.phoneNumber || '14432576836@s.whatsapp.net').includes('@lid') ? '14432576836@s.whatsapp.net' : (input.phoneNumber || '14432576836@s.whatsapp.net');\nconst body = JSON.stringify({ number: number, textMessage: { text: input.reply } });\nconst opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(body) } };\nconst result = await new Promise(function(resolve, reject) {\n  const http = require('http');\n  const req = http.request(opts, function(res) { let d = ''; res.on('data', function(c) { d += c; }); res.on('end', function() { resolve({ status: res.statusCode }); }); });\n  req.on('error', reject); req.write(body); req.end();\n});\nreturn [{ json: { success: true, result: result } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 0], "id": "router-003", "name": "WhatsApp Sender"
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK", "options": {} },
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [660, 0], "id": "router-004", "name": "Respond"
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Intent Router v2", "type": "main", "index": 0 }]] },
    "Intent Router v2": { "main": [[{ "node": "WhatsApp Sender", "type": "main", "index": 0 }]] },
    "WhatsApp Sender": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Aidan" }, { "name": "WhatsApp" }]
}
