workflows/6_aidan_router_v2.json
{
  "name": "Aidan - WhatsApp Bridge v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "dcb6efa0-78b0-4455-88bd-5f243f111620",
      "name": "Webhook Trigger",
      "webhookId": "58cf22c1-34c6-4dbe-b076-445b2c77b7bf"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst event = raw.event || raw.body?.event || 'no-event';\nconst data = raw.data || raw.body?.data || {};\nconst msgText = data.message?.conversation || data.message?.extendedTextMessage?.text || '';\nconst t = msgText.toLowerCase().trim();\nif (event !== 'messages.upsert') return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nif (t.includes('bot reply:')) return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nconst agents = ['aidan','jordan','scout','iris','atlas','nova','sage','pulse','orchestra'];\nif (!t || !agents.some(function(a) { return t.startsWith(a); })) return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nconst from = data.key?.remoteJid || data.remoteJid || '14432576836@s.whatsapp.net';\nlet reply = '';\nconst http = require('http');\nconst fs = require('fs');\n\nconst fireWebhook = async function(path, payload) {\n  const bodyStr = JSON.stringify(payload);\n  const opts = { hostname: 'host.docker.internal', port: 5678, path: path, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } };\n  await new Promise(function(r) { const req = http.request(opts, function(res) { res.on('data',function(){}); res.on('end',r); }); req.on('error',r); req.write(bodyStr); req.end(); });\n};\n\nconst sendWhatsApp = async function(text, number) {\n  const chunks = [];\n  for (let i = 0; i < text.length; i += 3800) chunks.push(text.substring(i, i + 3800));\n  for (let i = 0; i < chunks.length; i++) {\n    const mb = JSON.stringify({ number: number, textMessage: { text: chunks[i] } });\n    const wo = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(mb) } };\n    await new Promise(function(r) { const req = http.request(wo, function(res) { res.on('data',function(){}); res.on('end',r); }); req.on('error',r); req.write(mb); req.end(); });\n    if (chunks.length > 1) await new Promise(function(r) { setTimeout(r, 1000); });\n  }\n};\n\nif (t.startsWith('orchestra')) {\n  const query = t.replace(/^orchestra[,\\s]*/i,'').trim() || 'Full platform status -- compliance, BD targets, grants, MEIA readiness';\n  await fireWebhook('/webhook/aidan-orchestra', { query: query, from: from });\n  reply = 'Bot reply: ORCHESTRA INITIATED\\nFiring: Atlas + Scout + Jordan + Iris\\nQuery: ' + query.substring(0,80) + '\\n\\nConsolidated brief incoming ~90 seconds.';\n\n} else if (t.startsWith('aidan')) {\n  const cmd = t.replace(/^aidan[,\\s]*/i,'').trim();\n  if (cmd === 'help' || cmd === '?') {\n    reply = 'Bot reply: AIDAN v2 Commands\\n\\nAgents:\\n* Atlas [query]\\n* Scout [target]\\n* Jordan grant\\n* Iris deadlines\\n* Nova scan -- full proactive intelligence sweep\\n* Nova scan [topic] -- focused sweep\\n* Nova [rfp text] -- score a pasted RFP\\n* Sage board | Sage market\\n* Pulse\\n\\nOrchestration:\\n* Orchestra [query] -- fires ALL agents\\n\\nNewsletter Approval:\\n* Sage send board\\n* Sage send market\\n\\nBriefings:\\n* Aidan summary | Aidan status | Aidan help';\n  } else if (cmd === 'summary') {\n    try {\n      const orchDir = '/data/Aidan_Outputs/Orchestra/';\n      const files = fs.readdirSync(orchDir).filter(function(f) { return f.startsWith('Brief_') && f.endsWith('.txt'); }).sort().reverse();\n      if (files.length === 0) {\n        reply = 'Bot reply: No consolidated brief found yet. Say Orchestra to generate one.';\n      } else {\n        const content = fs.readFileSync(orchDir + files[0], 'utf8');\n        const ts = files[0].replace('Brief_','').replace('.txt','').replace(/T/,' ').substring(0,16);\n        const fullMsg = 'Bot reply: AIDAN SUMMARY\\nBrief: ' + ts + ' UTC\\n\\n' + content;\n        await sendWhatsApp(fullMsg, from);\n        return [{ json: { reply: 'skip', phoneNumber: from, skip: true } }];\n      }\n    } catch(e) {\n      reply = 'Bot reply: Error reading summary: ' + e.message;\n    }\n  } else if (cmd.includes('brief') || cmd.includes('status') || cmd.includes('morning')) {\n    reply = 'Bot reply: ' + new Date().toLocaleString('en-US',{timeZone:'America/New_York'}) + ' EST\\nAidan v2 online.\\nAgents: Atlas + Scout + Jordan + Iris + Nova + Sage + Pulse\\nSay Orchestra to fire all. Say Aidan help for menu.';\n  } else {\n    reply = 'Bot reply: Aidan received: ' + cmd + '\\nSay Aidan help for full command menu.';\n  }\n\n} else if (t.startsWith('jordan')) {\n  const cmd = t.replace(/^jordan[,\\s]*/i,'').trim();\n  if (cmd.includes('grant detail') || cmd.includes('grant report')) {\n    try {\n      const files = fs.readdirSync('/data/Aidan_Outputs/Jordan/').filter(function(f) { return f.startsWith('Grant_Report'); }).sort().reverse();\n      if (files.length > 0) {\n        const rpt = fs.readFileSync('/data/Aidan_Outputs/Jordan/' + files[0], 'utf8');\n        reply = 'Bot reply: ' + rpt.substring(0,3500) + '\\n(full report in Aidan_Outputs/Jordan)';\n      } else reply = 'Bot reply: No grant reports found. Say Jordan grant to run analysis.';\n    } catch(e) { reply = 'Bot reply: Error reading reports: ' + e.message; }\n  } else {\n    await fireWebhook('/webhook/grant-writer', { trigger: 'whatsapp', from: from });\n    reply = 'Bot reply: Jordan Grant Writer running. Report ready ~45 seconds.';\n  }\n\n} else if (t.startsWith('nova')) {\n  const cmd = t.replace(/^nova[,\\s]*/i,'').trim();\n  if (cmd === 'scan' || cmd === 'proactive' || cmd === '') {\n    await fireWebhook('/webhook/nova-proactive', { source: 'whatsapp' });\n    reply = 'Bot reply: Nova Proactive v3 running.\\nUSASpending + SAM + SBIR + Grants + Regulations + Brave.\\nDeriving regulatory and business targets from KAI_Context.\\nTier 1 brief incoming ~2 minutes.';\n  } else if (cmd.startsWith('scan ') || cmd.startsWith('focus ')) {\n    const focus = cmd.replace(/^(scan|focus)\\s*/i,'').trim();\n    await fireWebhook('/webhook/nova-proactive', { focus: focus, source: 'whatsapp' });\n    reply = 'Bot reply: Nova Proactive focused sweep: ' + focus.substring(0,60) + '\\nBrief incoming ~2 minutes.';\n  } else {\n    await fireWebhook('/webhook/nova-rfp', { rfp_text: cmd, rfp_name: 'WhatsApp RFP', agency: 'Unknown', source: 'whatsapp' });\n    reply = 'Bot reply: Nova RFP analysis running.\\nReport ready ~45 seconds.';\n  }\n\n} else if (t.startsWith('scout')) {\n  const cmd = t.replace(/^scout[,\\s]*/i,'').trim() || 'Maryland drone infrastructure inspection contracts 2026';\n  await fireWebhook('/webhook/scout-research', { query: cmd });\n  reply = 'Bot reply: Scout running BD research: ' + cmd.substring(0,60) + '\\nReport ready ~60 seconds.';\n\n} else if (t.startsWith('iris')) {\n  await fireWebhook('/webhook/iris-monitor', { trigger: 'whatsapp', from: from });\n  reply = 'Bot reply: Iris running compliance check. Report ready ~30 seconds.';\n\n} else if (t.startsWith('atlas')) {\n  const cmd = t.replace(/^atlas[,\\s]*/i,'').trim() || 'platform architecture review';\n  await fireWebhook('/webhook/atlas-architect', { query: cmd, from: from });\n  reply = 'Bot reply: Atlas running: ' + cmd.substring(0,60) + '\\nReport ready ~60 seconds.';\n\n} else if (t.startsWith('sage')) {\n  const cmd = t.replace(/^sage[,\\s]*/i,'').trim();\n  if (cmd === 'send board') {\n    await fireWebhook('/webhook/sage-send', { newsletter: 'board', from: from });\n    reply = 'Bot reply: Sage sending EAF Board newsletter.';\n  } else if (cmd === 'send market') {\n    await fireWebhook('/webhook/sage-send', { newsletter: 'market', from: from });\n    reply = 'Bot reply: Sage sending FP Market newsletter.';\n  } else {\n    await fireWebhook('/webhook/sage-newsletter', { trigger: cmd || 'board', from: from });\n    reply = 'Bot reply: Sage Newsletter running. Draft ready ~45 seconds.';\n  }\n\n} else if (t.startsWith('pulse')) {\n  await fireWebhook('/webhook/pulse-metrics', { trigger: 'whatsapp', from: from });\n  reply = 'Bot reply: Pulse running platform health check. Report ready ~30 seconds.';\n\n} else {\n  reply = 'Bot reply: Command not recognized. Say Aidan help for full menu.';\n}\n\nreturn [{ json: { reply: reply, phoneNumber: from } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "id": "e4a96c74-cc71-4eb2-afd4-5751832d01bf",
      "name": "Intent Router v2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (input.skip || !input.reply || input.reply === 'skip') return [{ json: { success: true, skipped: true } }];\nconst number = (input.phoneNumber || '14432576836@s.whatsapp.net').includes('@lid') ? '14432576836@s.whatsapp.net' : (input.phoneNumber || '14432576836@s.whatsapp.net');\nconst body = JSON.stringify({ number: number, textMessage: { text: input.reply } });\nconst opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(body) } };\nconst result = await new Promise(function(resolve, reject) {\n  const http = require('http');\n  const req = http.request(opts, function(res) { let d = ''; res.on('data', function(c) { d += c; }); res.on('end', function() { resolve({ status: res.statusCode }); }); });\n  req.on('error', reject); req.write(body); req.end();\n});\nreturn [{ json: { success: true, result: result } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [448, 0],
      "id": "32d793f1-dffb-4a01-bfc5-d831c5538585",
      "name": "WhatsApp Sender"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [672, 0],
      "id": "3b07a3c0-cf7b-4afd-b11b-dec83103be0f",
      "name": "Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Intent Router v2", "type": "main", "index": 0 }]]
    },
    "Intent Router v2": {
      "main": [[{ "node": "WhatsApp Sender", "type": "main", "index": 0 }]]
    },
    "WhatsApp Sender": {
      "main": [[{ "node": "Respond", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5cc5a878-4b9a-415a-9686-229f29aecc8f",
  "meta": {
    "instanceId": "7912e0e7adcd7343a625bb37c874985a5d34dd3aa3c039277d1df96852bff0ff"
  },
  "id": "7JfD9oI2ZFMHAhlS",
  "tags": [
    { "updatedAt": "2026-04-09T15:18:19.773Z", "createdAt": "2026-04-09T15:18:19.773Z", "id": "0pAij6xUXjEjeLDr", "name": "WhatsApp" },
    { "updatedAt": "2026-04-07T01:42:36.297Z", "createdAt": "2026-04-07T01:42:36.297Z", "id": "4GdpfuL6OhWIXCXO", "name": "KAI-Netics" },
    { "updatedAt": "2026-04-07T01:42:36.295Z", "createdAt": "2026-04-07T01:42:36.295Z", "id": "B0QrEiqfwdS6WU2L", "name": "Aidan" }
  ]
}
