workflows/6_aidan_router_v2.json
{
  "name": "Aidan - WhatsApp Bridge v2",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "whatsapp-inbound", "responseMode": "responseNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0],
      "id": "router-001", "name": "Webhook Trigger", "webhookId": "58cf22c1-34c6-4dbe-b076-445b2c77b7bf"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst event = raw.event || raw.body?.event || 'no-event';\nconst data = raw.data || raw.body?.data || {};\nconst msgText = data.message?.conversation || data.message?.extendedTextMessage?.text || '';\nconst t = msgText.toLowerCase().trim();\nif (event !== 'messages.upsert') return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nif (t.includes('bot reply:')) return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nconst agents = ['aidan','jordan','scout','iris','atlas','nova','sage','pulse','orchestra'];\nif (!t || !agents.some(a => t.startsWith(a))) return [{ json: { reply: 'skip', phoneNumber: '14432576836@s.whatsapp.net', skip: true } }];\nconst from = data.key?.remoteJid || data.remoteJid || '14432576836@s.whatsapp.net';\nlet reply = '';\nconst http = require('http');\nconst fireWebhook = async (path, payload) => {\n  const bodyStr = JSON.stringify(payload);\n  const opts = { hostname: 'host.docker.internal', port: 5678, path, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } };\n  await new Promise(r => { const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(bodyStr); req.end(); });\n};\nconst sendChunked = async (text, number) => {\n  const chunks = [];\n  for (let i = 0; i < text.length; i += 3800) chunks.push(text.substring(i, i + 3800));\n  for (const chunk of chunks) {\n    const mb = JSON.stringify({ number, textMessage: { text: chunk } });\n    const wo = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(mb) } };\n    await new Promise(r => { const req = http.request(wo, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(mb); req.end(); });\n    if (chunks.length > 1) await new Promise(r => setTimeout(r, 1000));\n  }\n};\nif (t.startsWith('orchestra')) {\n  const query = t.replace(/^orchestra[,\\s]*/i,'').trim() || 'Full platform status — compliance, BD targets, grants, MEIA readiness';\n  await fireWebhook('/webhook/aidan-orchestra', { query, from });\n  reply = `Bot reply: 🎼 ORCHESTRA INITIATED\\nFiring: Atlas + Scout + Jordan + Iris\\nQuery: ${query.substring(0,80)}\\n\\nConsolidated brief incoming ~90 seconds.`;\n} else if (t.startsWith('aidan')) {\n  const cmd = t.replace(/^aidan[,\\s]*/i,'').trim();\n  if (cmd === 'help' || cmd === '?') {\n    reply = 'Bot reply: AIDAN v2 Commands\\n\\nAgents:\\n• Atlas SBIR/MEIA/MONK/BVLOS/V1-V7/Kott prep\\n• Scout [target]\\n• Jordan grant / Jordan grant detail\\n• Iris deadlines\\n\\nOrchestration:\\n• Orchestra [query] — fires ALL agents\\n\\nBriefings:\\n• Aidan summary — last consolidated brief\\n• Aidan brief | Aidan status | Aidan help';\n  } else if (cmd === 'summary') {\n    const fs = require('fs');\n    try {\n      const orchDir = '/data/Aidan_Outputs/Orchestra/';\n      const files = fs.readdirSync(orchDir).filter(f => f.startsWith('Brief_') && f.endsWith('.txt')).sort().reverse();\n      if (files.length === 0) {\n        reply = 'Bot reply: 📭 No consolidated brief found yet.\\nFire Orchestra to generate one: say Orchestra';\n      } else {\n        const latestFile = files[0];\n        const content = fs.readFileSync(orchDir + latestFile, 'utf8');\n        const ts = latestFile.replace('Brief_','').replace('.txt','').replace(/T/,' ').substring(0,16);\n        const header = `Bot reply: 📋 AIDAN SUMMARY (on-demand)\\nBrief: ${ts} UTC\\n\\n`;\n        const fullMsg = header + content;\n        await sendChunked(fullMsg, from);\n        return [{ json: { reply: 'skip', phoneNumber: from, skip: true } }];\n      }\n    } catch(e) {\n      reply = 'Bot reply: ⚠️ Error reading summary: ' + e.message;\n    }\n  } else if (cmd.includes('brief') || cmd.includes('status') || cmd.includes('morning')) {\n    reply = `Bot reply: ${new Date().toLocaleString('en-US',{timeZone:'America/New_York'})} EST\\nAidan v2 online. Agents: Atlas ✅ Scout ✅ Jordan ✅ Iris ✅\\nOrchestra ready. Say Orchestra to fire all agents.\\nSay Aidan summary to retrieve last brief.`;\n  } else {\n    reply = `Bot reply: Aidan received: ${cmd}\\nSay Aidan help for full command menu.`;\n  }\n} else if (t.startsWith('jordan')) {\n  const cmd = t.replace(/^jordan[,\\s]*/i,'').trim();\n  if (cmd.includes('grant detail') || cmd.includes('grant report')) {\n    const fs = require('fs');\n    try {\n      const files = fs.readdirSync('/data/Aidan_Outputs/Jordan/').filter(f=>f.startsWith('Grant_Report')).sort().reverse();\n      if (files.length > 0) {\n        const rpt = fs.readFileSync('/data/Aidan_Outputs/Jordan/' + files[0], 'utf8');\n        reply = 'Bot reply: ' + rpt.substring(0,3500) + '\\n_(full report in Aidan_Outputs/Jordan)_';\n      } else reply = 'Bot reply: No grant reports found. Say Jordan grant to run analysis.';\n    } catch(e) { reply = 'Bot reply: Error reading reports: ' + e.message; }\n  } else {\n    await fireWebhook('/webhook/grant-writer', { trigger: 'whatsapp', from });\n    reply = 'Bot reply: Jordan Grant Writer running. Report ready ~45 seconds.';\n  }\n} else if (t.startsWith('scout')) {\n  const cmd = t.replace(/^scout[,\\s]*/i,'').trim() || 'Maryland drone infrastructure inspection contracts 2026';\n  await fireWebhook('/webhook/scout-research', { query: cmd });\n  reply = `Bot reply: Scout running BD research: ${cmd.substring(0,60)}\\nReport ready ~60 seconds.`;\n} else if (t.startsWith('iris')) {\n  await fireWebhook('/webhook/iris-monitor', { trigger: 'whatsapp', from });\n  reply = 'Bot reply: Iris compliance check running... ~15 seconds.';\n} else if (t.startsWith('atlas')) {\n  const cmd = t.replace(/^atlas[,\\s]*/i,'').trim();\n  const validCmds = ['sbir','meia','monk','bvlos','kott prep','status','v1','v2','v3','v4','v5','v6','v7'];\n  const matched = validCmds.find(c => cmd.toLowerCase().startsWith(c));\n  const atlasCmd = 'Atlas ' + (matched ? matched.toUpperCase() : cmd || 'status');\n  const detail = matched ? cmd.replace(new RegExp(matched,'i'),'').trim() : cmd;\n  await fireWebhook('/webhook/atlas-architect', { command: atlasCmd, detail: detail || '' });\n  reply = `Bot reply: Atlas running: ${atlasCmd}\\nReport ready ~45 seconds.`;\n} else if (t.startsWith('nova') || t.startsWith('sage') || t.startsWith('pulse')) {\n  const name = t.split(/\\s/)[0];\n  reply = `Bot reply: ${name.charAt(0).toUpperCase()+name.slice(1)} not yet built. Say Orchestra to fire all live agents, or Aidan help for menu.`;\n} else {\n  reply = 'Bot reply: Command not recognized. Say Aidan help for the full menu.';\n}\nreturn [{ json: { reply, phoneNumber: from, skip: false } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0], "id": "router-002", "name": "Intent Router v2"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nif (input.skip || !input.reply || input.reply === 'skip') return [{ json: { success: true, skipped: true } }];\nconst number = (input.phoneNumber || '14432576836@s.whatsapp.net').includes('@lid') ? '14432576836@s.whatsapp.net' : (input.phoneNumber || '14432576836@s.whatsapp.net');\nconst body = JSON.stringify({ number, textMessage: { text: input.reply } });\nconst opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(body) } };\nconst result = await new Promise((resolve, reject) => {\n  const http = require('http');\n  const req = http.request(opts, res => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode })); });\n  req.on('error', reject); req.write(body); req.end();\n});\nreturn [{ json: { success: true, result } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 0], "id": "router-003", "name": "WhatsApp Sender"
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "OK", "options": {} },
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.5, "position": [660, 0], "id": "router-004", "name": "Respond"
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Intent Router v2", "type": "main", "index": 0 }]] },
    "Intent Router v2": { "main": [[{ "node": "WhatsApp Sender", "type": "main", "index": 0 }]] },
    "WhatsApp Sender": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Aidan" }, { "name": "WhatsApp" }]
}
