workflows/9_nova_rfp.json
{
  "name": "Nova - RFP Intelligence Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nova-rfp",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "nova-001",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "kai-nova-rfp"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst body = input.body || input;\n\n// Accept input from multiple sources:\n// 1. Email Router (eMMA email forwarded from Gmail)\n// 2. WhatsApp manual: 'Nova rfp [paste text]'\n// 3. Direct webhook with rfp_text or rfp_name\n\nconst rfpText = String(body.rfp_text || body.text || body.email_body || '');\nconst rfpName = String(body.rfp_name || body.subject || body.rfx_name || 'Manual RFP');\nconst agency = String(body.agency || body.from || 'Unknown Agency');\nconst bpmId = String(body.bpm_id || body.rfx_id || '');\nconst deadline = String(body.deadline || body.end_date || '');\nconst commodity = String(body.commodity || body.main_commodity || '');\nconst source = String(body.source || 'manual');\n\nif (!rfpText || rfpText.length < 10) {\n  return [{ json: {\n    error: true,\n    message: 'No RFP content provided. Send rfp_text in the request body.',\n    rfpName: rfpName\n  }}];\n}\n\nconst crypto = require('crypto');\nconst contentHash = crypto.createHash('md5').update(rfpText.substring(0, 500) + agency).digest('hex');\n\nreturn [{ json: {\n  rfpText: rfpText,\n  rfpName: rfpName,\n  agency: agency,\n  bpmId: bpmId,\n  deadline: deadline,\n  commodity: commodity,\n  source: source,\n  contentHash: contentHash,\n  timestamp: new Date().toISOString()\n}}];"
      },
      "id": "nova-002",
      "name": "Parse RFP Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst input = $input.first().json;\n\nif (input.error) {\n  return [{ json: input }];\n}\n\nconst SUPABASE_URL = 'raxpmeltyxmtiihxoxpa.supabase.co';\nconst SUPABASE_KEY = 'sb_secret_Jz8T31FHgqpfOrqijr1qtQ_HcbbZ8Nu';\n\n// Check if we already processed this RFP\ntry {\n  const result = await new Promise(function(resolve, reject) {\n    const path = '/rest/v1/rfp_responses?content_hash=eq.' + input.contentHash + '&select=id,rfp_name,fit_score,kevin_decision';\n    const req = https.request({\n      hostname: SUPABASE_URL,\n      port: 443,\n      path: path,\n      method: 'GET',\n      headers: {\n        'apikey': SUPABASE_KEY,\n        'Authorization': 'Bearer ' + SUPABASE_KEY,\n        'Content-Type': 'application/json'\n      }\n    }, function(res) {\n      let d = '';\n      res.on('data', function(c) { d += c; });\n      res.on('end', function() { resolve({ status: res.statusCode, body: d }); });\n    });\n    req.on('error', reject);\n    req.end();\n  });\n\n  if (result.status === 200) {\n    const existing = JSON.parse(result.body);\n    if (existing && existing.length > 0) {\n      const out = {};\n      const keys = Object.keys(input);\n      for (let i = 0; i < keys.length; i++) { out[keys[i]] = input[keys[i]]; }\n      out.duplicate = true;\n      out.existingRecord = existing[0];\n      return [{ json: out }];\n    }\n  }\n} catch(e) {\n  // if dedup check fails, proceed anyway\n}\n\nconst out = {};\nconst keys = Object.keys(input);\nfor (let i = 0; i < keys.length; i++) { out[keys[i]] = input[keys[i]]; }\nout.duplicate = false;\nreturn [{ json: out }];"
      },
      "id": "nova-003",
      "name": "Deduplicate Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst fs = require('fs');\nconst input = $input.first().json;\n\nif (input.error || input.duplicate) {\n  return [{ json: input }];\n}\n\nlet ctx = {};\ntry { ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { ctx = {}; }\n\nconst founder = ctx.founder || {};\nconst entities = ctx.entities || {};\nconst naics = ctx.naics || {};\n\nconst AGENCY_WATCHLIST = [\n  'mdsha', 'sha.maryland', 'state highway',\n  'mta', 'transit', 'wmata',\n  'baltimore city', 'baltimorecity',\n  'bge', 'pepco', 'smeco', 'utility',\n  'mdot', 'department of transportation',\n  'mema', 'emergency management',\n  'anne arundel', 'howard county', 'prince george',\n  'nih', 'hhs', 'hrsa', 'cms',\n  'fema', 'dhs', 'cisa',\n  'umms', 'university of maryland', 'johns hopkins', 'medstar',\n  'usda', 'rural development',\n  'emma', 'maryland.gov'\n];\n\nconst agencyLower = input.agency.toLowerCase();\nconst rfpLower = input.rfpText.toLowerCase();\nconst onWatchlist = AGENCY_WATCHLIST.some(function(w) {\n  return agencyLower.indexOf(w) !== -1 || rfpLower.indexOf(w) !== -1;\n});\n\nconst naicsList = (naics.registered || []).map(function(n) { return n.code + ' ' + n.description; }).join(', ');\n\nconst systemMessage = 'You are Nova, RFP Intelligence Agent for KAI-Netics. Analyze procurement opportunities and score them for fit. Be precise and decisive. Never fabricate contacts or requirements.';\n\nconst userMessage = 'Analyze this RFP/RFI for KAI-Netics.\\n\\n' +\n  'RFP NAME: ' + input.rfpName + '\\n' +\n  'AGENCY: ' + input.agency + '\\n' +\n  'COMMODITY: ' + input.commodity + '\\n' +\n  'DEADLINE: ' + input.deadline + '\\n\\n' +\n  'RFP CONTENT:\\n' + input.rfpText.substring(0, 3000) + '\\n\\n' +\n  'KAI-NETICS PROFILE:\\n' +\n  'Founder: ' + founder.name + ' | ' + (founder.credentials || []).join(', ') + '\\n' +\n  'Entity FP: ' + (entities.FP && entities.FP.name ? entities.FP.name : '') + '\\n' +\n  'Entity EAF: ' + (entities.EAF && entities.EAF.name ? entities.EAF.name : '') + '\\n' +\n  'NAICS Registered: ' + naicsList + '\\n' +\n  'Capabilities: Commercial drone operations (FAA Part 107), infrastructure inspection, cybersecurity consulting (CISSP), workforce development (EAF/CAKO), MONK hardware trust layer\\n\\n' +\n  'Produce this EXACT format:\\n\\n' +\n  'OPPORTUNITY SUMMARY:\\n[Agency, value if stated, type RFI/RFP/RFQ, deadline]\\n\\n' +\n  'NAICS ALIGNMENT:\\n[Does it match 541519, 488190, or 541690? Yes/No with reason]\\n\\n' +\n  'FIT SCORE: [0-100]\\n\\n' +\n  'GO/NO-GO: [GO / NO-GO / AWARENESS]\\n' +\n  'GO = score 70+ and direct capability match\\n' +\n  'AWARENESS = score 30-69 OR agency on watchlist but low fit\\n' +\n  'NO-GO = score below 30 and agency not on watchlist\\n\\n' +\n  'RATIONALE:\\n[2-3 sentences explaining score]\\n\\n' +\n  'COMPLIANCE FLAGS:\\n[SAM.gov UEI required? Bonding? Insurance minimums? NDAA?]\\n\\n' +\n  'TEAMING RECOMMENDATION:\\n[Prime or sub? Suggested partners from: RK&K, JMT, Mobley & Brown]\\n\\n' +\n  'WIN THEMES:\\n1.\\n2.\\n3.\\n\\n' +\n  'IMMEDIATE NEXT ACTIONS:\\n1. [action | owner | deadline]\\n2. [action | owner | deadline]\\n3. [action | owner | deadline]';\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-6',\n  max_tokens: 2048,\n  system: systemMessage,\n  messages: [{ role: 'user', content: userMessage }]\n});\n\nconst result = await new Promise(function(resolve, reject) {\n  const req = https.request({\n    hostname: 'api.anthropic.com',\n    port: 443,\n    path: '/v1/messages',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': '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',\n      'anthropic-version': '2023-06-01',\n      'Content-Length': Buffer.byteLength(requestBody)\n    }\n  }, function(res) {\n    let d = '';\n    res.on('data', function(c) { d += c; });\n    res.on('end', function() { resolve({ status: res.statusCode, body: d }); });\n  });\n  req.on('error', reject);\n  req.write(requestBody);\n  req.end();\n});\n\nlet analysis = '';\ntry { analysis = JSON.parse(result.body).content[0].text || 'No response.'; } catch(e) { analysis = result.body.substring(0, 500); }\n\nlet fitScore = null;\nconst lines = analysis.split('\\n');\nfor (let i = 0; i < lines.length; i++) {\n  if (lines[i].toUpperCase().indexOf('FIT SCORE') !== -1) {\n    const nums = lines[i].match(/\\d+/);\n    if (nums) { fitScore = parseInt(nums[0]); break; }\n  }\n}\n\nlet goNoGo = 'AWARENESS';\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].toUpperCase();\n  if (line.indexOf('GO/NO-GO') !== -1 || line.indexOf('GO NO GO') !== -1) {\n    if (lines[i].indexOf('NO-GO') !== -1 || lines[i].indexOf('NO GO') !== -1) { goNoGo = 'NO-GO'; }\n    else if (lines[i].indexOf('AWARENESS') !== -1) { goNoGo = 'AWARENESS'; }\n    else if (lines[i].indexOf('GO') !== -1) { goNoGo = 'GO'; }\n    break;\n  }\n}\n\n// Override: if agency on watchlist and score >= 30, minimum AWARENESS\nif (onWatchlist && fitScore !== null && fitScore >= 30 && goNoGo === 'NO-GO') {\n  goNoGo = 'AWARENESS';\n}\n\nconst out = {};\nconst keys = Object.keys(input);\nfor (let i = 0; i < keys.length; i++) { out[keys[i]] = input[keys[i]]; }\nout.analysis = analysis;\nout.fitScore = fitScore;\nout.goNoGo = goNoGo;\nout.onWatchlist = onWatchlist;\nreturn [{ json: out }];"
      },
      "id": "nova-004",
      "name": "Score RFP (Sonnet)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst input = $input.first().json;\n\nif (input.error || input.duplicate) {\n  return [{ json: input }];\n}\n\n// Only draft awareness response if AWARENESS or GO and on watchlist\nconst shouldDraft = (input.goNoGo === 'AWARENESS' || input.goNoGo === 'GO') && input.onWatchlist;\n\nif (!shouldDraft) {\n  const out = {};\n  const keys = Object.keys(input);\n  for (let i = 0; i < keys.length; i++) { out[keys[i]] = input[keys[i]]; }\n  out.awarenessDraft = null;\n  out.draftSkipped = true;\n  return [{ json: out }];\n}\n\nconst systemMessage = 'You are drafting a professional vendor awareness response on behalf of Kevin Alexander Smith, CEO of KAI-Netics (Kevin Alexander International LLC dba KAI-Netics, MWVOB minority-owned). Write in a professional, confident, brief tone. Not a sales pitch — a credentialed vendor making themselves known. Under 200 words total.';\n\nconst userMessage = 'Draft a vendor awareness response for this procurement:\\n\\n' +\n  'Agency: ' + input.agency + '\\n' +\n  'RFP: ' + input.rfpName + '\\n' +\n  'Commodity: ' + input.commodity + '\\n' +\n  'Fit Score: ' + (input.fitScore || 'N/A') + '/100\\n\\n' +\n  'Instructions:\\n' +\n  '1. Acknowledge the solicitation professionally\\n' +\n  '2. If fit is low (below 60): note KAI-Netics scope does not align with THIS requirement, but introduce capabilities\\n' +\n  '3. If fit is higher (60+): express interest and relevant qualifications\\n' +\n  '4. Plant a forward-looking hook for future drone/tech/cybersecurity requirements\\n' +\n  '5. Close with Kevin credentials: FAA Part 107 #5250157, CISSP, PMP, MWVOB\\n\\n' +\n  'Format as a ready-to-send email body. Include subject line on first line prefixed with SUBJECT:';\n\nconst requestBody = JSON.stringify({\n  model: 'claude-opus-4-6',\n  max_tokens: 1024,\n  system: systemMessage,\n  messages: [{ role: 'user', content: userMessage }]\n});\n\nconst result = await new Promise(function(resolve, reject) {\n  const req = https.request({\n    hostname: 'api.anthropic.com',\n    port: 443,\n    path: '/v1/messages',\n    method: 'POST',\n    headers: {\n      'Content-Type': 'application/json',\n      'x-api-key': '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',\n      'anthropic-version': '2023-06-01',\n      'Content-Length': Buffer.byteLength(requestBody)\n    }\n  }, function(res) {\n    let d = '';\n    res.on('data', function(c) { d += c; });\n    res.on('end', function() { resolve({ status: res.statusCode, body: d }); });\n  });\n  req.on('error', reject);\n  req.write(requestBody);\n  req.end();\n});\n\nlet draft = '';\ntry { draft = JSON.parse(result.body).content[0].text || ''; } catch(e) { draft = ''; }\n\nconst out = {};\nconst keys = Object.keys(input);\nfor (let i = 0; i < keys.length; i++) { out[keys[i]] = input[keys[i]]; }\nout.awarenessDraft = draft;\nout.draftSkipped = false;\nreturn [{ json: out }];"
      },
      "id": "nova-005",
      "name": "Draft Response (Opus)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst fs = require('fs');\nconst input = $input.first().json;\n\nconst SUPABASE_URL = 'raxpmeltyxmtiihxoxpa.supabase.co';\nconst SUPABASE_KEY = 'sb_secret_Jz8T31FHgqpfOrqijr1qtQ_HcbbZ8Nu';\n\nif (input.error) {\n  return [{ json: input }];\n}\n\nif (input.duplicate) {\n  const out = {};\n  const keys = Object.keys(input);\n  for (let i = 0; i < keys.length; i++) { out[keys[i]] = input[keys[i]]; }\n  out.supabaseLogged = false;\n  out.supabaseNote = 'duplicate';\n  return [{ json: out }];\n}\n\n// Save analysis to file\nconst safeAgency = input.agency.substring(0, 30).split('').map(function(c) {\n  const code = c.charCodeAt(0);\n  if ((code >= 65 && code <= 90) || (code >= 97 && code <= 122) || (code >= 48 && code <= 57)) return c;\n  return '_';\n}).join('');\n\nconst safeTime = input.timestamp.split(':').join('-').split('.').join('-');\nconst outputPath = '/data/Aidan_Outputs/Nova/RFP_' + safeTime + '_' + safeAgency + '.txt';\nfs.mkdirSync('/data/Aidan_Outputs/Nova', { recursive: true });\n\nlet fileContent = 'NOVA RFP ANALYSIS\\n';\nfileContent += 'Agency: ' + input.agency + '\\n';\nfileContent += 'RFP: ' + input.rfpName + '\\n';\nfileContent += 'BPM ID: ' + input.bpmId + '\\n';\nfileContent += 'Deadline: ' + input.deadline + '\\n';\nfileContent += 'Fit Score: ' + (input.fitScore || 'N/A') + '\\n';\nfileContent += 'Decision: ' + input.goNoGo + '\\n';\nfileContent += 'Generated: ' + input.timestamp + '\\n\\n';\nfileContent += '--- ANALYSIS ---\\n' + (input.analysis || '') + '\\n\\n';\nif (input.awarenessDraft) {\n  fileContent += '--- AWARENESS DRAFT ---\\n' + input.awarenessDraft + '\\n';\n}\nfs.writeFileSync(outputPath, fileContent, 'utf8');\n\n// Log to Supabase\nconst record = {\n  rfp_name: input.rfpName,\n  bpm_id: input.bpmId || null,\n  agency: input.agency,\n  commodity: input.commodity || null,\n  deadline: input.deadline || null,\n  fit_score: input.fitScore || null,\n  go_no_go: input.goNoGo,\n  awareness_draft: input.awarenessDraft || null,\n  kevin_decision: 'PENDING',\n  sent: false,\n  content_hash: input.contentHash,\n  source: input.source || 'manual'\n};\n\nlet supabaseLogged = false;\ntry {\n  const body = JSON.stringify(record);\n  const result = await new Promise(function(resolve, reject) {\n    const req = https.request({\n      hostname: SUPABASE_URL,\n      port: 443,\n      path: '/rest/v1/rfp_responses',\n      method: 'POST',\n      headers: {\n        'Content-Type': 'application/json',\n        'apikey': SUPABASE_KEY,\n        'Authorization': 'Bearer ' + SUPABASE_KEY,\n        'Prefer': 'return=minimal',\n        'Content-Length': Buffer.byteLength(body)\n      }\n    }, function(res) {\n      let d = '';\n      res.on('data', function(c) { d += c; });\n      res.on('end', function() { resolve({ status: res.statusCode }); });\n    });\n    req.on('error', reject);\n    req.write(body);\n    req.end();\n  });\n  supabaseLogged = result.status === 201 || result.status === 200;\n} catch(e) {\n  supabaseLogged = false;\n}\n\nconst out = {};\nconst keys = Object.keys(input);\nfor (let i = 0; i < keys.length; i++) { out[keys[i]] = input[keys[i]]; }\nout.outputPath = outputPath;\nout.supabaseLogged = supabaseLogged;\nreturn [{ json: out }];"
      },
      "id": "nova-006",
      "name": "Save + Log to Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst input = $input.first().json;\n\nif (input.error) {\n  const errMsg = 'NOVA ERROR: ' + input.message;\n  const msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: errMsg } });\n  const opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\n  await new Promise(function(r) { const req = http.request(opts, function(res) { res.on('data', function(){}); res.on('end', r); }); req.on('error', r); req.write(msgBody); req.end(); });\n  return [{ json: { success: false, error: input.message } }];\n}\n\nif (input.duplicate) {\n  const dupMsg = 'NOVA: Duplicate RFP detected -- ' + input.rfpName + ' already processed. Decision: ' + (input.existingRecord && input.existingRecord.kevin_decision ? input.existingRecord.kevin_decision : 'PENDING');\n  const msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: dupMsg } });\n  const opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\n  await new Promise(function(r) { const req = http.request(opts, function(res) { res.on('data', function(){}); res.on('end', r); }); req.on('error', r); req.write(msgBody); req.end(); });\n  return [{ json: { success: true, duplicate: true } }];\n}\n\nconst fitDisplay = input.fitScore !== null ? input.fitScore + '/100' : 'N/A';\nconst dbStatus = input.supabaseLogged ? '💾 Logged' : '⚠️ Log failed';\n\nlet whatsappMsg = 'NOVA RFP ANALYSIS\\n\\n';\nwhatsappMsg += 'RFP: ' + input.rfpName + '\\n';\nwhatsappMsg += 'Agency: ' + input.agency + '\\n';\nif (input.bpmId) { whatsappMsg += 'BPM ID: ' + input.bpmId + '\\n'; }\nif (input.deadline) { whatsappMsg += 'Deadline: ' + input.deadline + '\\n'; }\nwhatsappMsg += 'Fit Score: ' + fitDisplay + '\\n';\nwhatsappMsg += 'Decision: ' + input.goNoGo + '\\n';\nwhatsappMsg += dbStatus + '\\n';\n\nif (input.goNoGo === 'GO') {\n  whatsappMsg += '\\nACTION REQUIRED: High fit -- Jordan drafting capability statement\\n';\n  whatsappMsg += 'Reply: NOVA APPLY or NOVA PASS';\n} else if (input.goNoGo === 'AWARENESS' && !input.draftSkipped) {\n  whatsappMsg += '\\nAwareness response drafted by Opus\\n';\n  whatsappMsg += 'Reply NOVA SEND to send, NOVA SKIP to pass';\n} else {\n  whatsappMsg += '\\nLow fit -- no action required';\n}\n\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: whatsappMsg } });\nconst opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(function(r) {\n  const req = http.request(opts, function(res) { res.on('data', function(){}); res.on('end', r); });\n  req.on('error', r); req.write(msgBody); req.end();\n});\n\n// If awareness draft exists, send it as a second WhatsApp message\nif (input.awarenessDraft && !input.draftSkipped) {\n  await new Promise(function(r) { setTimeout(r, 1500); });\n  const draftPreview = 'OPUS DRAFT PREVIEW:\\n\\n' + input.awarenessDraft.substring(0, 1000);\n  const draftBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: draftPreview } });\n  const draftOpts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(draftBody) } };\n  await new Promise(function(r) { const req = http.request(draftOpts, function(res) { res.on('data', function(){}); res.on('end', r); }); req.on('error', r); req.write(draftBody); req.end(); });\n}\n\nconst cbBody = JSON.stringify({\n  agent: 'Nova',\n  rfpName: input.rfpName,\n  agency: input.agency,\n  fitScore: input.fitScore,\n  goNoGo: input.goNoGo,\n  supabaseLogged: input.supabaseLogged,\n  timestamp: new Date().toISOString()\n});\nconst cbOpts = { hostname: 'host.docker.internal', port: 5678, path: '/webhook/aidan-callback', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } };\nconst cbReq = http.request(cbOpts, function(res) { res.on('data', function(){}); res.on('end', function(){}); });\ncbReq.on('error', function(){});\ncbReq.write(cbBody);\ncbReq.end();\n\nreturn [{ json: { success: true, agent: 'Nova', rfpName: input.rfpName, fitScore: input.fitScore, goNoGo: input.goNoGo, supabaseLogged: input.supabaseLogged } }];"
      },
      "id": "nova-007",
      "name": "WhatsApp Alert + Callback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 0]
    }
  ],
  "connections": {
    "Webhook Trigger":        { "main": [[{ "node": "Parse RFP Input",           "type": "main", "index": 0 }]] },
    "Parse RFP Input":        { "main": [[{ "node": "Deduplicate Check",         "type": "main", "index": 0 }]] },
    "Deduplicate Check":      { "main": [[{ "node": "Score RFP (Sonnet)",        "type": "main", "index": 0 }]] },
    "Score RFP (Sonnet)":     { "main": [[{ "node": "Draft Response (Opus)",     "type": "main", "index": 0 }]] },
    "Draft Response (Opus)":  { "main": [[{ "node": "Save + Log to Supabase",   "type": "main", "index": 0 }]] },
    "Save + Log to Supabase": { "main": [[{ "node": "WhatsApp Alert + Callback", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Nova" }, { "name": "RFP" }, { "name": "Supabase" }]
}
