workflows/archive/2_scout_v5_patch1_ARCHIVED.json
{
  "name": "Scout - BD Research v5",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 0 11 * * 1-5" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -120],
      "id": "scout-001",
      "name": "Daily 7AM Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout-research",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 80],
      "id": "scout-002",
      "name": "Webhook Trigger",
      "webhookId": "bad5071c-c38c-4e8b-99ec-21573ac025ed"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst body = raw.body || raw;\nconst isScheduled = !body.query && !body.command;\nconst query = String(body.query || body.command || '');\nconst today = new Date();\nconst day = today.getDay();\nconst startOfYear = new Date(today.getFullYear(), 0, 1);\nconst weekNum = Math.ceil(((today - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst isWeekA = weekNum % 2 !== 0;\nconst weekA = {\n  1: { mode: 'grant', query: 'Maryland Lighthouse Industries Upskilling Reskilling Program 2026 workforce grant nonprofit aerospace defense IT manufacturing site:dllr.state.md.us OR site:governor.maryland.gov OR site:commerce.maryland.gov', grantName: 'MD_Lighthouse_Upskilling_2026.txt', source: 'Maryland DLLR — Lighthouse Sectors' },\n  2: { mode: 'grant', query: 'TEDCO Maryland technology development corporation grant 2026 autonomous drone UAS cybersecurity defense startup SBIR matching funds site:tedco.md OR tedco.md', grantName: 'TEDCO_2026.txt', source: 'TEDCO Maryland' },\n  3: { mode: 'grant', query: 'Maryland \"Build Our Future\" grant 2026 OR \"DECADE Act\" autonomous technology cybersecurity aerospace defense nonprofit private company site:commerce.maryland.gov OR site:governor.maryland.gov', grantName: 'MD_BuildOurFuture_DECADE_2026.txt', source: 'Maryland Commerce — Build Our Future / DECADE Act' },\n  4: { mode: 'grant', query: 'FEMA C-UAS SLTT counter drone Homeland Security Grant Program 2026 state local tribal territorial FIFA World Cup security grant site:dhs.gov OR site:fema.gov', grantName: 'FEMA_CUAS_SLTT_2026.txt', source: 'FEMA / DHS' },\n  5: { mode: 'grant', query: 'FAA Aircraft Pilots Workforce Development UAS drone operator grant 2026 OR Maryland Governor Moore press release grant technology workforce announcement site:faa.gov OR site:governor.maryland.gov', grantName: 'FAA_Workforce_MD_Governor_2026.txt', source: 'FAA Workforce / MD Governor Office' }\n};\nconst weekB = {\n  1: { mode: 'bd', query: 'Maryland State Highway Administration MDSHA bridge inspection vendor registration drone aerial UAS Part 107 2026 OR Anne Arundel County DPW infrastructure inspection contract RFP', source: 'V1 Infrastructure — MDSHA + County DPW' },\n  2: { mode: 'bd', query: 'BGE Baltimore Gas Electric NERC FAC-001 FAC-003 drone transmission inspection vendor 2026 OR OMB M-26-02 federal agency UAS compliance deadline May 2026 drone consulting', source: 'V1 Utility BD + V3 OMB Compliance' },\n  3: { mode: 'bd', query: 'Amazon fulfillment warehouse Baltimore autonomous inventory scanning drone 2026 OR pharmaceutical distribution center Maryland autonomous inventory drone inspection 3PL vendor', source: 'V2 Warehouse Autonomous Operations' },\n  4: { mode: 'bd', query: 'Baltimore City Police drone first responder DFR program 2026 OR Anne Arundel Howard County police drone program vendor RFP OR Port Baltimore PSGP security grant drone', source: 'V3 DFR / Public Safety' },\n  5: { mode: 'grant', query: 'SBIR DHS DoD drone autonomous UAS trust cybersecurity hardware 2026 Phase I grant site:sbir.gov OR DroneDeploy Resilient Futures grant 2026 nonprofit OR Northrop Grumman Foundation STEM workforce drone grant', grantName: 'SBIR_Private_Foundation_2026.txt', source: 'SBIR + Private Foundations' }\n};\nconst sweepQueries = {\n  grants_gov_uas:         { mode: 'grant', query: 'site:grants.gov UAS unmanned aircraft autonomous drone workforce development 2026 open solicitation', grantName: 'GrantsGov_UAS_Sweep.txt', source: 'Grants.gov UAS Sweep' },\n  grants_gov_workforce:   { mode: 'grant', query: 'site:grants.gov workforce development technology training drone aerospace cybersecurity 2026 nonprofit Maryland', grantName: 'GrantsGov_Workforce_Sweep.txt', source: 'Grants.gov Workforce Sweep' },\n  earn_maryland:          { mode: 'grant', query: 'Maryland EARN workforce development grant 2026 drone technology training nonprofit June deadline', grantName: 'EARN_Maryland_2026.txt', source: 'Maryland EARN' },\n  cdbg_baltimore:         { mode: 'grant', query: 'Maryland CDBG Community Development Block Grant Baltimore City 2026 minority nonprofit facility technology', grantName: 'CDBG_Baltimore_2026.txt', source: 'CDBG Baltimore City' },\n  lighthouse_internship:  { mode: 'grant', query: 'Maryland Lighthouse Industries AI Internship Program 2026 employer application rolling basis workforce', grantName: 'MD_Lighthouse_Internship_2026.txt', source: 'MD Lighthouse Internship Program' },\n  psgp_port_security:     { mode: 'grant', query: 'FEMA Port Security Grant Program PSGP 2026 maritime drone aerial surveillance security', grantName: 'PSGP_PortSecurity_2026.txt', source: 'FEMA PSGP' },\n  uasi_urban_security:    { mode: 'grant', query: 'FEMA Urban Areas Security Initiative UASI 2026 Baltimore Washington drone detection public safety technology grant', grantName: 'UASI_2026.txt', source: 'FEMA UASI' },\n  shsp_state_homeland:    { mode: 'grant', query: 'State Homeland Security Program SHSP 2026 Maryland drone C-UAS technology grant law enforcement', grantName: 'SHSP_2026.txt', source: 'DHS SHSP' },\n  dol_wioa:               { mode: 'grant', query: 'DOL WIOA Workforce Innovation Opportunity Act 2026 technology training drone aerospace cybersecurity Maryland nonprofit', grantName: 'DOL_WIOA_2026.txt', source: 'DOL WIOA' },\n  nsf_ate:                { mode: 'grant', query: 'NSF Advanced Technological Education ATE grant 2026 drone UAS autonomous technology community college workforce', grantName: 'NSF_ATE_2026.txt', source: 'NSF ATE Program' },\n  v3_dfr_public_safety:   { mode: 'bd', query: 'Baltimore City Police drone first responder DFR program 2026 OR Anne Arundel Howard County police drone program vendor RFP', source: 'V3 DFR / Public Safety' },\n  v4_entertainment_shows: { mode: 'bd', query: 'FIFA World Cup 2026 Baltimore Maryland venue security drone show entertainment FEMA grant', source: 'V4 Entertainment / Shows' },\n  v5_bvlos_logistics:     { mode: 'bd', query: 'FAA BVLOS drone delivery Maryland 2026 Part 108 pilot program OR Maryland drone delivery VLOS logistics vendor contract', source: 'V5 BVLOS Logistics' },\n  v7_monk_licensing:      { mode: 'bd', query: 'drone mission authorization hardware trust OEM licensing autonomous UAS BVLOS compliance 2026 OR DoD drone supply chain trusted hardware certification', source: 'V7 MONK Technology Licensing' },\n  cako_partnerships:      { mode: 'bd', query: 'Maryland community college drone workforce training partnership 2026 OR Maryland workforce pipeline employer agreement drone operator Part 107', source: 'CAKO Employer Partnerships' },\n  johns_hopkins_medical:  { mode: 'bd', query: 'Johns Hopkins medical campus drone delivery logistics 2026 OR UMMS MedStar drone medical supply vendor', source: 'Johns Hopkins / UMMS Medical Delivery' },\n  crown_castle_telecom:   { mode: 'bd', query: 'Crown Castle tower inspection drone vendor portal 2026 OR American Tower drone aerial inspection vendor registration Maryland', source: 'V1 Telecom Tower Inspection' },\n  insurance_surge:        { mode: 'bd', query: 'State Farm Allstate Travelers CBRE JLL drone aerial inspection Maryland property insurance claim 2026 vendor', source: 'V1 Insurance / CBRE / JLL' }\n};\nlet mode, resolvedQuery, grantName, sourceLabel;\nif (isScheduled) {\n  const schedule = isWeekA ? weekA : weekB;\n  const target = schedule[day] || weekA[1];\n  mode = target.mode; resolvedQuery = target.query; grantName = target.grantName || null; sourceLabel = target.source || 'Scheduled';\n} else if (body.sweep && sweepQueries[body.sweep]) {\n  const sq = sweepQueries[body.sweep];\n  mode = sq.mode; resolvedQuery = sq.query; grantName = sq.grantName || null; sourceLabel = sq.source || body.sweep;\n} else {\n  mode = body.mode || 'bd'; resolvedQuery = query || 'Maryland drone infrastructure inspection contracts 2026'; grantName = body.grantName || null; sourceLabel = 'Manual';\n}\nreturn [{ json: { mode, query: resolvedQuery, grantName, sourceLabel, isScheduled, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "scout-003",
      "name": "Route + Build Task v5"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp } = $input.first().json;\nconst BRAVE_API_KEY = 'BSAWHBob7ILPlWV-JX8iFTOr4wDaQ1I';\nconst encodedQuery = encodeURIComponent(query);\nconst path = `/res/v1/web/search?q=${encodedQuery}&count=5&search_lang=en&country=us&text_decorations=false&extra_snippets=true`;\nconst options = {\n  hostname: 'api.search.brave.com',\n  port: 443,\n  path: path,\n  method: 'GET',\n  headers: { 'Accept': 'application/json', 'X-Subscription-Token': BRAVE_API_KEY }\n};\nconst rawResponse = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    const chunks = [];\n    res.on('data', c => chunks.push(c));\n    res.on('end', () => resolve({ status: res.statusCode, body: Buffer.concat(chunks).toString() }));\n  });\n  req.on('error', reject);\n  req.end();\n});\nlet braveResults = [];\nlet braveError = null;\nif (rawResponse.status === 200) {\n  try {\n    const parsed = JSON.parse(rawResponse.body);\n    const webResults = parsed?.web?.results || [];\n    braveResults = webResults.slice(0, 5).map((r, i) => ({ index: i + 1, title: r.title || '', url: r.url || '', description: r.description || '', extra_snippets: (r.extra_snippets || []).slice(0, 2) }));\n  } catch(e) { braveError = 'Failed to parse Brave response: ' + e.message; }\n} else {\n  braveError = `Brave API returned status ${rawResponse.status}: ${rawResponse.body.substring(0, 200)}`;\n}\nlet braveContext = '';\nif (braveResults.length > 0) {\n  braveContext = braveResults.map(r => {\n    const snippets = r.extra_snippets.length > 0 ? r.extra_snippets.join(' ') : '';\n    return `[${r.index}] ${r.title}\\nURL: ${r.url}\\nSummary: ${r.description}\\n${snippets ? 'Detail: ' + snippets : ''}`;\n  }).join('\\n\\n');\n} else {\n  braveContext = braveError || 'No results returned from Brave Search.';\n}\nconst fetchUrls = braveResults.slice(0, 2).map(r => r.url).filter(u => u.length > 0);\nreturn [{ json: { mode, query, grantName, sourceLabel, isScheduled, timestamp, braveContext, braveResults, fetchUrls, braveError } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "scout-004",
      "name": "Brave Search v5"
    },
    {
      "parameters": {
        "jsCode": "const https = require('https');\nconst http = require('http');\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp, braveContext, braveResults, fetchUrls, braveError } = $input.first().json;\nconst WORD_THRESHOLD = 500;\nconst FETCH_TIMEOUT_MS = 8000;\nconst MAX_CONTENT_CHARS = 8000;\nfunction fetchUrl(url) {\n  return new Promise((resolve) => {\n    const timer = setTimeout(() => resolve({ ok: false, reason: 'timeout', content: '' }), FETCH_TIMEOUT_MS);\n    try {\n      const lib = url.startsWith('https') ? https : http;\n      const req = lib.get(url, { headers: { 'User-Agent': 'Mozilla/5.0 (compatible; KAI-Netics-Scout/5.0)' } }, (res) => {\n        if ((res.statusCode === 301 || res.statusCode === 302) && res.headers.location) { clearTimeout(timer); fetchUrl(res.headers.location).then(resolve); return; }\n        if (res.statusCode !== 200) { clearTimeout(timer); resolve({ ok: false, reason: `HTTP ${res.statusCode}`, content: '' }); return; }\n        const chunks = [];\n        res.on('data', c => chunks.push(c));\n        res.on('end', () => {\n          clearTimeout(timer);\n          let text = Buffer.concat(chunks).toString('utf8', 0, 60000);\n          text = text.replace(/<script[\\s\\S]*?<\\/script>/gi, '').replace(/<style[\\s\\S]*?<\\/style>/gi, '').replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>').replace(/\\s{3,}/g, '\\n\\n').trim();\n          resolve({ ok: true, content: text.substring(0, MAX_CONTENT_CHARS) });\n        });\n      });\n      req.on('error', (e) => { clearTimeout(timer); resolve({ ok: false, reason: e.message, content: '' }); });\n    } catch(e) { clearTimeout(timer); resolve({ ok: false, reason: e.message, content: '' }); }\n  });\n}\nfunction wordCount(text) { return text.split(/\\s+/).filter(w => w.length > 0).length; }\nconst fetchPromises = (fetchUrls || []).slice(0, 2).map(url => fetchUrl(url).then(result => ({ url, ...result })));\nconst fetchResults = await Promise.all(fetchPromises);\nlet enrichedContext = '';\nconst fetchSummary = [];\nfor (const result of fetchResults) {\n  const wc = wordCount(result.content || '');\n  if (result.ok && wc >= WORD_THRESHOLD) {\n    enrichedContext += `\\n\\n=== FULL PAGE CONTENT: ${result.url} ===\\n${result.content}\\n`;\n    fetchSummary.push(`FULL CONTENT (${wc} words): ${result.url}`);\n  } else {\n    const reason = !result.ok ? result.reason : `only ${wc} words — likely login wall or JS-rendered`;\n    enrichedContext += `\\n\\n=== PARTIAL/UNAVAILABLE: ${result.url} ===\\n[Full content unavailable: ${reason}. Brave snippet used instead. Verify manually at this URL.]\\n`;\n    fetchSummary.push(`SNIPPET FALLBACK (${reason}): ${result.url}`);\n  }\n}\nconst combinedContext = ['=== LIVE BRAVE SEARCH RESULTS ===', braveContext || 'No Brave results available.', enrichedContext || ''].join('\\n');\nreturn [{ json: { mode, query, grantName, sourceLabel, isScheduled, timestamp, combinedContext, fetchSummary, braveResults } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "scout-005",
      "name": "Web Fetch + Fallback v5"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), https = require('https');\nlet ctx = {};\ntry { ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { ctx = {}; }\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp, combinedContext, fetchSummary, braveResults } = $input.first().json;\nconst founder = ctx.founder || {};\nconst verticals = ctx.verticals || {};\nconst entities = ctx.entities || {};\nconst naics = ctx.naics || {};\nconst revenue = ctx.revenue_targets || {};\nconst tech = ctx.technology || {};\nconst verticalList = Object.entries(verticals).map(([k,v]) => `${k}: ${v.name} | Pricing: ${v.pricing || v.revenue_projection || 'TBD'} | Margin: ${v.margin || 'TBD'}`).join('\\n');\nconst eafProfile = `EAF: ${entities.EAF?.name} | EIN: ${entities.EAF?.ein} | Status: ${entities.EAF?.status}`;\nconst fpProfile  = `FP:  ${entities.FP?.name}  | EIN: ${entities.FP?.ein} | Status: ${entities.FP?.status}`;\nconst monkProfile = `MONK: ${entities.MONK?.name} | Role: ${entities.MONK?.role} | Status: ${entities.MONK?.status}`;\nconst techSummary = [`MONK: ${tech.MONK?.description || ''} Status: ${tech.MONK?.status || ''}`, `AKMS: ${tech.AKMS?.description || ''}`, `CAKO: ${tech.CAKO?.description || ''} Cohort 1: ${tech.CAKO?.cohort_1_target || ''}`].join('\\n');\nconst credStack = (founder.credentials || []).join(', ');\nconst complianceRules = (ctx.compliance_rules || []).join(' | ');\nconst activePrograms = (ctx.deadlines || []).filter(d => d.status !== 'FILED' && d.status !== 'COMPLETE' && d.status !== 'EXEMPT').map(d => `${d.item} | Due: ${d.date} | Entity: ${d.entity} | Notes: ${d.notes || ''}`).join('\\n');\nlet systemMessage, userMessage, outputFolder, outputPrefix;\nif (mode === 'grant') {\n  systemMessage = `You are Scout, Grant Intelligence Agent for KAI-Netics.\\n\\nENTITY PROFILES:\\n${eafProfile}\\n${fpProfile}\\n${monkProfile}\\n\\nFOUNDER: ${founder.name} — ${credStack}\\nBACKGROUND: ${founder.background}\\n\\nTECHNOLOGY ASSETS:\\n${techSummary}\\n\\nSEVEN VERTICALS:\\n${verticalList}\\n\\nSERVICE GEOGRAPHY: Maryland (all 24 counties, priority: Baltimore City, Anne Arundel, Howard, Baltimore County, PG County, Montgomery County), DC Metro, Northern Virginia\\n\\nNAICS REGISTERED: ${(naics.registered||[]).map(n=>n.code+' '+n.description).join(', ')}\\n\\nACTIVE PROGRAMS + DEADLINES (dynamic from context — only reference these):\\n${activePrograms || 'None currently active.'}\\n\\nREVENUE TARGETS: Y1 ${revenue.year1_total} | Y2 ${revenue.year2_total} | Y3 ${revenue.year3_total}\\n\\nCOMPLIANCE RULES: ${complianceRules}\\n\\nIMPORTANT: You have been provided LIVE WEB SEARCH RESULTS and FULL PAGE CONTENT. Use this real-time data as your primary source. Do NOT rely on training data for deadlines, portal URLs, award amounts, or contacts. If a field cannot be confirmed from provided content, state UNCONFIRMED and direct Kevin to verify at the URL.\\n\\nFORMAT OUTPUT EXACTLY:\\n\\nFUNDER: [exact legal name]\\nPROGRAM: [exact program name]\\nDEADLINE: [from live content, or UNCONFIRMED — verify at URL]\\nAWARD RANGE: [from live content, or UNCONFIRMED]\\nPORTAL / CONTACT: [exact URL from search results]\\nELIGIBILITY: [from live content]\\nEAF FIT SCORE: [0-100%]\\nFP FIT SCORE: [0-100%]\\nFIT RATIONALE: [2-3 sentences]\\n\\nTOP 3 ALIGNMENT POINTS:\\n1.\\n2.\\n3.\\n\\nTOP 2 RISKS:\\n1.\\n2.\\n\\nCOMPETING APPLICANTS: [landscape]\\nRECOMMENDED ACTION: [APPLY IMMEDIATELY / APPLY / WATCH / PASS]\\nNEXT STEP: [single action with URL or contact]\\nDATA CONFIDENCE: [HIGH — full page retrieved / MEDIUM — snippet only / LOW — unavailable]\\n\\nLOI DRAFT:\\n[300-400 word LOI — EAF applicant, CAKO program, Kevin credentials, grant alignment. Ready for Jordan to refine.]`;\n  userMessage = `Research this grant using the live search results below.\\n\\nQUERY: ${query}\\nToday: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}\\n\\n--- LIVE SEARCH DATA ---\\n${combinedContext}\\n--- END LIVE SEARCH DATA ---\\n\\nFocus on grants with deadlines in next 120 days or rolling. Cover top 2 if multiple programs appear. Flag prerequisite steps.`;\n  outputFolder = 'Maryland_Grants';\n  outputPrefix = grantName ? grantName.replace('.txt','') : 'Grant_Intel_' + new Date().toISOString().slice(0,10);\n} else {\n  systemMessage = `You are Scout, Business Development Research Agent for KAI-Netics.\\n\\nENTITY PROFILES:\\n${fpProfile}\\n${eafProfile}\\n${monkProfile}\\n\\nFOUNDER: ${founder.name} — ${credStack}\\nBACKGROUND: ${founder.background}\\n\\nKEVIN'S TWO ROLES ONLY: (1) Sales and BD — closing contracts; (2) MONK technology development.\\n\\nSEVEN VERTICALS:\\n${verticalList}\\n\\nTECHNOLOGY ASSETS:\\n${techSummary}\\n\\nTARGET GEOGRAPHY: Baltimore City, Anne Arundel, Howard, Baltimore County, PG County, Montgomery County, DC Metro, Northern Virginia\\n\\nNAICS REGISTERED: ${(naics.registered||[]).map(n=>n.code+' '+n.description).join(', ')}\\nKEY COMPLIANCE HOOKS: FHWA 23 CFR 650, PHMSA 49 CFR 192, OMB M-26-02 May 20 2026, NDAA fleet cert, NERC FAC-001/003, FAA Part 107, CISSP framework\\n\\nACTIVE PIPELINE:\\n${activePrograms || 'None currently active.'}\\n\\nIMPORTANT: You have been provided LIVE WEB SEARCH RESULTS and FULL PAGE CONTENT. Use real-time data as primary source for procurement portals, vendor registration URLs, named contacts, and contract vehicles. State UNCONFIRMED if field cannot be verified.\\n\\nProduce ALL 9 sections:\\n1. TARGET ORG — full name, named decision maker with exact title\\n2. PROCUREMENT PORTAL — exact URL from live search results\\n3. CONTRACT VEHICLE — how they procure\\n4. FIT SCORE 0-100% — with rationale\\n5. CAPABILITY STATEMENT — 2-3 paragraphs; lead with CISSP + PMP + Part 107; cite compliance regulation\\n6. CERTIFICATIONS NEEDED — exact gaps\\n7. NEXT ACTION — specific name, phone, email, URL; compliance deadline urgency\\n8. FOLLOW-UP SEQUENCE — 3-touch plan with dates\\n9. DATA CONFIDENCE: [HIGH / MEDIUM / LOW] with reason\\n\\nNever fabricate contacts. Today: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}.`;\n  userMessage = `Research this BD target using live search results below.\\n\\nQUERY: ${query}\\nToday: ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}\\n\\n--- LIVE SEARCH DATA ---\\n${combinedContext}\\n--- END LIVE SEARCH DATA ---\\n\\nProduce all 9 sections. Flag compliance deadlines creating urgency.`;\n  outputFolder = 'Aidan_Outputs/Scout';\n  outputPrefix = 'Scout_BD_' + new Date().toISOString().slice(0,10).replace(/-/g,'');\n}\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-6', max_tokens: 4096, system: systemMessage, messages: [{ role: 'user', content: userMessage }] });\nconst options = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': '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', 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject);\n  req.write(requestBody);\n  req.end();\n});\nlet aiOutput = '';\ntry { aiOutput = JSON.parse(result.body).content?.[0]?.text || 'No response from Claude.'; } catch(e) { aiOutput = result.body.substring(0, 500); }\nconst dateStr = new Date().toISOString().replace(/[:.]/g,'-');\nconst filename = mode === 'grant' ? `${outputPrefix}.txt` : `${outputPrefix}_${dateStr}.txt`;\nconst folderPath = `/data/${outputFolder}`;\nfs.mkdirSync(folderPath, { recursive: true });\nconst fetchLog = fetchSummary && fetchSummary.length > 0 ? '\\n\\n--- FETCH LOG ---\\n' + fetchSummary.join('\\n') : '';\nconst header = [`SCOUT v5 — KAI-NETICS`, `Mode: ${mode.toUpperCase()}`, `Source: ${sourceLabel}`, `Query: ${query}`, `Generated: ${timestamp}`, `Scheduled: ${isScheduled}`, `Live Search: YES (Brave API)`, ``, ``].join('\\n');\nfs.writeFileSync(`${folderPath}/${filename}`, header + aiOutput + fetchLog + '\\n', 'utf8');\nconst fitMatch = aiOutput.match(/(?:EAF FIT SCORE|FIT SCORE)[:\\s*\\*]*\\s*\\*?\\*?(\\d+)/i);\nconst fitScore = fitMatch ? fitMatch[1] + '%' : 'See report';\nconst actionMatch = aiOutput.match(/RECOMMENDED ACTION[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst action = actionMatch ? actionMatch[1].trim().replace(/\\*/g,'') : 'Review report';\nconst nextMatch = aiOutput.match(/NEXT (?:STEP|ACTION)[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst nextStep = nextMatch ? nextMatch[1].trim().replace(/\\*/g,'').substring(0,100) : 'See report';\nconst confMatch = aiOutput.match(/DATA CONFIDENCE[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst confidence = confMatch ? confMatch[1].trim().replace(/\\*/g,'') : 'See report';\nconst modeLabel = mode === 'grant' ? 'GRANT INTEL' : 'BD REPORT';\nconst summary = [`SCOUT v5 ${modeLabel} — ${sourceLabel}`, `Live Search: YES | Confidence: ${confidence}`, `Fit: ${fitScore} | Action: ${action}`, `Next: ${nextStep}`, `Saved: /data/${outputFolder}/${filename}`].join('\\n');\nreturn [{ json: { aiOutput, summary, savedTo: `${folderPath}/${filename}`, query, fitScore, action, mode, filename, outputFolder, isScheduled, sourceLabel, timestamp, confidence } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "scout-006",
      "name": "Scout Brain v5"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { summary = 'Scout complete.', fitScore, query, mode, isScheduled, sourceLabel, confidence } = $input.first().json;\nconst modeLabel = mode?.toUpperCase() === 'GRANT' ? 'GRANT INTEL' : 'BD REPORT';\nconst msgText = isScheduled ? `SCOUT v5 MORNING SCAN LIVE\\n${sourceLabel || 'Scheduled'}\\n\\n${summary}` : `SCOUT v5 ${modeLabel} LIVE\\nSource: ${sourceLabel || 'Manual'}\\n\\n${summary}`;\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: msgText } });\nconst opts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(r => { const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\nconst cbBody = JSON.stringify({ agent: 'Scout', version: 'v5', summary, fitScore, query, mode, sourceLabel, confidence, isScheduled, liveSearch: true, timestamp: new Date().toISOString() });\nconst cbOpts = { hostname: 'host.docker.internal', port: 5678, path: '/webhook/aidan-callback', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(cbBody) } };\nconst cbReq = http.request(cbOpts, res => { res.on('data',()=>{}); res.on('end',()=>{}); }); cbReq.on('error',()=>{}); cbReq.write(cbBody); cbReq.end();\nreturn [{ json: { success: true, agent: 'Scout', version: 'v5', summary, mode, sourceLabel, confidence, liveSearch: true } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0],
      "id": "scout-007",
      "name": "Aidan Callback v5"
    }
  ],
  "connections": {
    "Daily 7AM Trigger":       { "main": [[{ "node": "Route + Build Task v5",  "type": "main", "index": 0 }]] },
    "Webhook Trigger":         { "main": [[{ "node": "Route + Build Task v5",  "type": "main", "index": 0 }]] },
    "Route + Build Task v5":   { "main": [[{ "node": "Brave Search v5",        "type": "main", "index": 0 }]] },
    "Brave Search v5":         { "main": [[{ "node": "Web Fetch + Fallback v5","type": "main", "index": 0 }]] },
    "Web Fetch + Fallback v5": { "main": [[{ "node": "Scout Brain v5",         "type": "main", "index": 0 }]] },
    "Scout Brain v5":          { "main": [[{ "node": "Aidan Callback v5",      "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Scout" }, { "name": "v5" }, { "name": "AllVerticals" }, { "name": "LiveSearch" }]
}
