workflows/archive/2_scout_v5_unused.json
{
  "name": "Scout - BD Research v5",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 0 6 * * 1-5" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, -120],
      "id": "scout-001",
      "name": "Daily 6AM Trigger"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scout-research",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 80],
      "id": "scout-002",
      "name": "Webhook Trigger",
      "webhookId": "bad5071c-c38c-4e8b-99ec-21573ac025ed"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// SCOUT v5 — ROUTE + BUILD TASK\n// Changes from v4:\n//   - Week A rotation now includes dedicated SBIR.gov scan (Thursdays)\n//   - NSF Seed Fund (seedfund.nsf.gov) added to Week A (Wednesdays)\n//   - Four new sweep keys: sbir_gov_uas, sbir_gov_monk, nsf_seedfund, sbir_sttr_full\n//   - WhatsApp sweep commands: Scout sbir_gov_uas, Scout nsf_seedfund, etc.\n// ============================================================\n\nconst raw = $input.first().json;\nconst body = raw.body || raw;\nconst isScheduled = !body.query && !body.command;\nconst query = String(body.query || body.command || '');\n\nconst today = new Date();\nconst day = today.getDay(); // 0=Sun, 1=Mon, 2=Tue, 3=Wed, 4=Thu, 5=Fri\n\n// ============================================================\n// WEEK A vs WEEK B ROTATION\n// Odd ISO weeks = Week A (grant-heavy), Even ISO weeks = Week B (BD-heavy)\n// ============================================================\nconst startOfYear = new Date(today.getFullYear(), 0, 1);\nconst weekNum = Math.ceil(((today - startOfYear) / 86400000 + startOfYear.getDay() + 1) / 7);\nconst isWeekA = weekNum % 2 !== 0;\n\n// ============================================================\n// WEEK A — MARYLAND STATE + FEDERAL GRANTS\n// ============================================================\nconst weekA = {\n  1: { // Monday — Lighthouse + EARN\n    mode: 'grant',\n    query: 'Maryland Lighthouse Industries Upskilling Reskilling Program 2026 workforce grant nonprofit aerospace defense IT manufacturing site:dllr.state.md.us OR site:governor.maryland.gov OR site:commerce.maryland.gov',\n    grantName: 'MD_Lighthouse_Upskilling_2026.txt',\n    source: 'Maryland DLLR — Lighthouse Sectors'\n  },\n  2: { // Tuesday — TEDCO\n    mode: 'grant',\n    query: 'TEDCO Maryland technology development corporation grant 2026 autonomous drone UAS cybersecurity defense startup SBIR matching funds site:tedco.md OR tedco.md',\n    grantName: 'TEDCO_2026.txt',\n    source: 'TEDCO Maryland'\n  },\n  3: { // Wednesday — NSF Seed Fund (seedfund.nsf.gov) + Build Our Future\n    mode: 'grant',\n    query: 'NSF America Seed Fund SBIR STTR 2026 autonomous systems drone UAS cybersecurity hardware trust mission authorization site:seedfund.nsf.gov OR site:nsf.gov OR Maryland \"Build Our Future\" grant 2026 autonomous technology cybersecurity site:commerce.maryland.gov',\n    grantName: 'NSF_SeedFund_BuildOurFuture_2026.txt',\n    source: 'NSF Seed Fund / MD Build Our Future'\n  },\n  4: { // Thursday — SBIR.gov Direct Scan\n    mode: 'grant',\n    query: 'SBIR STTR Phase I 2026 open solicitation drone UAS autonomous systems mission authorization cybersecurity hardware DHS DoD Army Navy Air Force DARPA site:sbir.gov OR sbir.gov/solicitations',\n    grantName: 'SBIR_DirectScan_2026.txt',\n    source: 'SBIR.gov — Direct Solicitation Scan'\n  },\n  5: { // Friday — FAA workforce + Governor press releases sweep\n    mode: 'grant',\n    query: 'FAA \"Aircraft Pilots Workforce Development\" UAS drone operator grant 2026 OR Maryland Governor Moore press release grant technology workforce announcement site:faa.gov OR site:governor.maryland.gov',\n    grantName: 'FAA_Workforce_MD_Governor_2026.txt',\n    source: 'FAA Workforce / MD Governor Office'\n  }\n};\n\n// ============================================================\n// WEEK B — FEDERAL GRANTS + BD TARGETS BY VERTICAL\n// ============================================================\nconst weekB = {\n  1: { // Monday — V1 Infrastructure BD (MDSHA + County DPW)\n    mode: 'bd',\n    query: 'Maryland State Highway Administration MDSHA bridge inspection vendor registration drone aerial UAS Part 107 2026 OR Anne Arundel County DPW infrastructure inspection contract RFP',\n    source: 'V1 Infrastructure — MDSHA + County DPW'\n  },\n  2: { // Tuesday — V1 Utility + V3 OMB M-26-02 compliance\n    mode: 'bd',\n    query: 'BGE Baltimore Gas Electric NERC FAC-001 FAC-003 drone transmission inspection vendor 2026 OR OMB M-26-02 federal agency UAS compliance deadline May 2026 drone consulting',\n    source: 'V1 Utility BD + V3 OMB Compliance'\n  },\n  3: { // Wednesday — V2 Warehouse BD\n    mode: 'bd',\n    query: 'Amazon fulfillment warehouse Baltimore autonomous inventory scanning drone 2026 OR pharmaceutical distribution center Maryland autonomous inventory drone inspection 3PL vendor',\n    source: 'V2 Warehouse Autonomous Operations'\n  },\n  4: { // Thursday — V3 DFR + Public Safety BD\n    mode: 'bd',\n    query: 'Baltimore City Police drone first responder DFR program 2026 OR Anne Arundel Howard County police drone program vendor RFP OR Port Baltimore PSGP security grant drone',\n    source: 'V3 DFR / Public Safety'\n  },\n  5: { // Friday — V7 MONK SBIR + Private Foundation Grants\n    mode: 'grant',\n    query: 'SBIR DHS DoD drone autonomous UAS trust cybersecurity hardware 2026 Phase I grant site:sbir.gov OR DroneDeploy Resilient Futures grant 2026 nonprofit OR Northrop Grumman Foundation STEM workforce drone grant',\n    grantName: 'SBIR_Private_Foundation_2026.txt',\n    source: 'SBIR + Private Foundations'\n  }\n};\n\n// ============================================================\n// SWEEP QUERY BANK\n// On-demand: POST { sweep: 'sbir_gov_uas' } or WhatsApp: Scout sbir_gov_uas\n// NEW IN v5: sbir_gov_uas, sbir_gov_monk, nsf_seedfund, sbir_sttr_full\n// ============================================================\nconst sweepQueries = {\n\n  // ── NEW v5 SBIR / NSF SWEEPS ──────────────────────────────\n  sbir_gov_uas: {\n    mode: 'grant',\n    query: 'site:sbir.gov 2026 open solicitation UAS unmanned aircraft autonomous drone systems mission authorization BVLOS supply chain hardware cybersecurity Phase I Phase II',\n    grantName: 'SBIR_Gov_UAS_Sweep_2026.txt',\n    source: 'SBIR.gov — UAS / Autonomous Systems Solicitations'\n  },\n  sbir_gov_monk: {\n    mode: 'grant',\n    query: 'site:sbir.gov 2026 trusted autonomous systems hardware cryptographic mission authorization drone UAS DHS Science Technology OR DoD autonomous systems governance cybersecurity BVLOS Phase I',\n    grantName: 'SBIR_Gov_MONK_2026.txt',\n    source: 'SBIR.gov — MONK Architecture Alignment (DHS S&T / DoD)'\n  },\n  nsf_seedfund: {\n    mode: 'grant',\n    query: 'site:seedfund.nsf.gov 2026 SBIR STTR autonomous systems drone UAS cybersecurity hardware trust mission authorization robotics OR NSF America Seed Fund open solicitation 2026 autonomous technology startup Phase I',\n    grantName: 'NSF_SeedFund_2026.txt',\n    source: 'NSF America\\'s Seed Fund — seedfund.nsf.gov'\n  },\n  sbir_sttr_full: {\n    mode: 'grant',\n    query: 'SBIR STTR 2026 Phase I open solicitation autonomous drone UAS cybersecurity hardware mission governance supply chain DoD DHS DARPA Army Navy Air Force NASA DOE DOT site:sbir.gov OR site:seedfund.nsf.gov',\n    grantName: 'SBIR_STTR_FullSweep_2026.txt',\n    source: 'SBIR/STTR — Full Federal Agency Sweep'\n  },\n\n  // ── EXISTING v4 SWEEPS (unchanged) ───────────────────────\n  grants_gov_uas: {\n    mode: 'grant',\n    query: 'site:grants.gov UAS unmanned aircraft autonomous drone workforce development 2026 open solicitation',\n    grantName: 'GrantsGov_UAS_Sweep.txt',\n    source: 'Grants.gov UAS Sweep'\n  },\n  grants_gov_workforce: {\n    mode: 'grant',\n    query: 'site:grants.gov workforce development technology training drone aerospace cybersecurity 2026 nonprofit Maryland',\n    grantName: 'GrantsGov_Workforce_Sweep.txt',\n    source: 'Grants.gov Workforce Sweep'\n  },\n  md_commerce_press: {\n    mode: 'grant',\n    query: 'site:commerce.maryland.gov grant announcement 2026 autonomous technology aerospace cybersecurity defense manufacturing',\n    grantName: 'MD_Commerce_Press_Sweep.txt',\n    source: 'Maryland Commerce Press Releases'\n  },\n  md_governor_press: {\n    mode: 'grant',\n    query: 'site:governor.maryland.gov 2026 grant investment technology workforce announcement',\n    grantName: 'MD_Governor_Press_Sweep.txt',\n    source: 'Maryland Governor Press Releases'\n  },\n  workforce_dev_board: {\n    mode: 'grant',\n    query: 'Maryland Governor Workforce Development Board 2026 grant announcement lighthouse sectors AI technology training',\n    grantName: 'MD_Workforce_Board_2026.txt',\n    source: 'MD Governor Workforce Development Board'\n  },\n  tedco_deep: {\n    mode: 'grant',\n    query: 'TEDCO 2026 \"Builder Fund\" OR \"Social Innovation Fund\" OR \"SBIR Proposal Lab\" OR \"Maryland Innovation Initiative\" grant drone autonomous cybersecurity defense',\n    grantName: 'TEDCO_Deep_2026.txt',\n    source: 'TEDCO All Programs'\n  },\n  earn_maryland: {\n    mode: 'grant',\n    query: 'Maryland EARN workforce development grant 2026 drone technology training nonprofit June deadline',\n    grantName: 'EARN_Maryland_2026.txt',\n    source: 'Maryland EARN'\n  },\n  cdbg_baltimore: {\n    mode: 'grant',\n    query: 'Maryland CDBG Community Development Block Grant Baltimore City 2026 minority nonprofit facility technology',\n    grantName: 'CDBG_Baltimore_2026.txt',\n    source: 'CDBG Baltimore City'\n  },\n  lighthouse_internship: {\n    mode: 'grant',\n    query: 'Maryland Lighthouse Industries AI Internship Program 2026 $150000 employer application rolling basis workforce',\n    grantName: 'MD_Lighthouse_Internship_2026.txt',\n    source: 'MD Lighthouse Internship Program'\n  },\n  psgp_port_security: {\n    mode: 'grant',\n    query: 'FEMA Port Security Grant Program PSGP 2026 $90 million maritime drone aerial surveillance security',\n    grantName: 'PSGP_PortSecurity_2026.txt',\n    source: 'FEMA PSGP'\n  },\n  uasi_urban_security: {\n    mode: 'grant',\n    query: 'FEMA Urban Areas Security Initiative UASI 2026 Baltimore Washington drone detection public safety technology grant',\n    grantName: 'UASI_2026.txt',\n    source: 'FEMA UASI'\n  },\n  shsp_state_homeland: {\n    mode: 'grant',\n    query: 'State Homeland Security Program SHSP 2026 Maryland drone C-UAS technology grant law enforcement',\n    grantName: 'SHSP_2026.txt',\n    source: 'DHS SHSP'\n  },\n  fema_cuas: {\n    mode: 'grant',\n    query: 'FEMA C-UAS SLTT counter drone Homeland Security Grant Program 2026 state local tribal territorial $250 million FIFA World Cup security grant site:dhs.gov OR site:fema.gov',\n    grantName: 'FEMA_CUAS_SLTT_2026.txt',\n    source: 'FEMA / DHS C-UAS'\n  },\n  dol_wioa: {\n    mode: 'grant',\n    query: 'DOL WIOA Workforce Innovation Opportunity Act 2026 technology training drone aerospace cybersecurity Maryland nonprofit',\n    grantName: 'DOL_WIOA_2026.txt',\n    source: 'DOL WIOA'\n  },\n  nsf_ate: {\n    mode: 'grant',\n    query: 'NSF Advanced Technological Education ATE grant 2026 drone UAS autonomous technology community college workforce',\n    grantName: 'NSF_ATE_2026.txt',\n    source: 'NSF ATE Program'\n  },\n  drone_deploy_foundation: {\n    mode: 'grant',\n    query: 'DroneDeploy Resilient Futures Technology Grant Program 2026 nonprofit $10000 $20000 reality capture',\n    grantName: 'DroneDeploy_Foundation_2026.txt',\n    source: 'DroneDeploy Foundation'\n  },\n  private_foundations: {\n    mode: 'grant',\n    query: 'Motorola Solutions Foundation technology engineering public safety grant 2026 OR Honda USA Foundation STEM workforce grant drone OR T-Mobile Hometown Grant community technology 2026',\n    grantName: 'Private_Foundations_2026.txt',\n    source: 'Private Foundations'\n  },\n  mbe_certification: {\n    mode: 'bd',\n    query: 'Maryland Minority Business Enterprise MBE certification drone UAS 2026 MDOT GOMA vendor contracts state',\n    source: 'MBE / State Vendor Registration'\n  },\n  v4_entertainment_shows: {\n    mode: 'bd',\n    query: 'FIFA World Cup 2026 Baltimore Maryland venue security drone show entertainment FEMA grant OR Maryland entertainment drone show permit FAA Part 107 waiver swarm choreography',\n    source: 'V4 Entertainment / Shows'\n  },\n  v5_bvlos_logistics: {\n    mode: 'bd',\n    query: 'FAA BVLOS drone delivery Maryland 2026 Part 108 pilot program site:faa.gov OR Maryland drone delivery VLOS logistics vendor contract',\n    source: 'V5 BVLOS Logistics'\n  },\n  v6_daas_fleet: {\n    mode: 'bd',\n    query: 'Drone as a Service DaaS Maryland 2026 fleet leasing government contract OR confined space inspection drone autonomous Maryland utility industrial',\n    source: 'V6 DaaS / Fleet Services'\n  },\n  v7_monk_licensing: {\n    mode: 'bd',\n    query: 'MONK drone mission authorization hardware trust OEM licensing autonomous UAS BVLOS compliance 2026 OR DoD drone supply chain trusted hardware certification',\n    source: 'V7 MONK Technology Licensing'\n  },\n  cako_partnerships: {\n    mode: 'bd',\n    query: 'Maryland community college drone workforce training partnership 2026 OR Maryland workforce pipeline employer agreement drone operator Part 107 certification program',\n    source: 'CAKO Employer Partnerships'\n  },\n  johns_hopkins_meia: {\n    mode: 'bd',\n    query: 'Johns Hopkins medical campus drone delivery logistics 2026 OR MEIA Maryland Economic Innovation Award autonomous technology drone submission',\n    source: 'Johns Hopkins / MEIA'\n  },\n  crown_castle_telecom: {\n    mode: 'bd',\n    query: 'Crown Castle tower inspection drone vendor portal 2026 OR American Tower drone aerial inspection vendor registration Maryland',\n    source: 'V1 Telecom Tower Inspection'\n  },\n  insurance_surge: {\n    mode: 'bd',\n    query: 'State Farm Allstate Travelers CBRE JLL drone aerial inspection Maryland property insurance claim 2026 vendor',\n    source: 'V1 Insurance / CBRE / JLL'\n  }\n};\n\nlet mode, resolvedQuery, grantName, sourceLabel;\n\nif (isScheduled) {\n  const schedule = isWeekA ? weekA : weekB;\n  const target = schedule[day] || weekA[1];\n  mode = target.mode;\n  resolvedQuery = target.query;\n  grantName = target.grantName || null;\n  sourceLabel = target.source || 'Scheduled';\n} else if (body.sweep && sweepQueries[body.sweep]) {\n  // On-demand sweep: POST { sweep: 'sbir_gov_uas' }\n  const sq = sweepQueries[body.sweep];\n  mode = sq.mode;\n  resolvedQuery = sq.query;\n  grantName = sq.grantName || null;\n  sourceLabel = sq.source || body.sweep;\n} else {\n  // Manual query passthrough\n  mode = body.mode || 'bd';\n  resolvedQuery = query || 'Maryland drone infrastructure inspection contracts 2026';\n  grantName = body.grantName || null;\n  sourceLabel = 'Manual';\n}\n\nreturn [{ json: { mode, query: resolvedQuery, grantName, sourceLabel, isScheduled, timestamp: new Date().toISOString() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "scout-003",
      "name": "Route + Build Task v5"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), https = require('https');\nlet ctx = {};\ntry { ctx = JSON.parse(fs.readFileSync('/data/KAI_Context.json', 'utf8')); } catch(e) { ctx = {}; }\n\nconst { mode, query, grantName, sourceLabel, isScheduled, timestamp } = $input.first().json;\nconst founder = ctx.founder || {};\nconst verticals = ctx.verticals || {};\nconst entities = ctx.entities || {};\nconst naics = ctx.naics || {};\nconst deadlines = ctx.deadlines || [];\nconst revenue = ctx.revenue_targets || {};\nconst tech = ctx.technology || {};\n\nconst verticalList = Object.entries(verticals).map(([k,v]) =>\n  `${k}: ${v.name} | Pricing: ${v.pricing || v.revenue_projection || 'TBD'} | Margin: ${v.margin || 'TBD'}`\n).join('\\n');\n\nconst eafProfile = `EAF: ${entities.EAF?.name} | EIN: ${entities.EAF?.ein} | Type: ${entities.EAF?.type} | Status: ${entities.EAF?.status}`;\nconst fpProfile  = `FP:  ${entities.FP?.name}  | EIN: ${entities.FP?.ein} | Status: ${entities.FP?.status}`;\nconst monkProfile = `MONK: ${entities.MONK?.name} | Role: ${entities.MONK?.role} | Status: ${entities.MONK?.status}`;\n\nconst techSummary = [\n  `MONK: ${tech.MONK?.description || ''} Status: ${tech.MONK?.status || ''} SBIR Target: ${tech.MONK?.sbir_target || ''}`,\n  `AKMS: ${tech.AKMS?.description || ''}`,\n  `CAKO: ${tech.CAKO?.description || ''} Cohort 1: ${tech.CAKO?.cohort_1_target || ''}`\n].join('\\n');\n\nconst credStack = (founder.credentials || []).join(', ');\nconst complianceRules = (ctx.compliance_rules || []).join(' | ');\n\n// Pull active deadlines for context (skip FILED/COMPLETE)\nconst isValidDate = s => /^\\d{4}-\\d{2}-\\d{2}$/.test(s);\nconst activeDeadlines = deadlines\n  .filter(d => d && d.date && isValidDate(d.date) && !['FILED','COMPLETE'].includes((d.status||'').toUpperCase()))\n  .map(d => `${d.item} — ${d.date} [${d.entity}]`)\n  .join('\\n');\n\nlet systemMessage, userMessage, outputFolder, outputPrefix;\n\nif (mode === 'grant') {\n\n  systemMessage = `You are Scout, Grant Intelligence Agent for KAI-Netics.\\n\\nENTITY PROFILES:\\n${eafProfile}\\n${fpProfile}\\n${monkProfile}\\n\\nFOUNDER: ${founder.name} — ${credStack}\\nBACKGROUND: ${founder.background}\\n\\nTECHNOLOGY ASSETS:\\n${techSummary}\\n\\nSEVEN VERTICALS:\\n${verticalList}\\n\\nSERVICE GEOGRAPHY: Maryland (all 24 counties, priority: Baltimore City, Anne Arundel, Howard, Baltimore County, PG County, Montgomery County), DC Metro, Northern Virginia\\n\\nNAICS REGISTERED: ${(naics.registered||[]).map(n=>n.code+' '+n.description).join(', ')}\\nNAICS RECOMMENDED: ${(naics.recommended||[]).map(n=>n.code+' '+n.description).join(', ')}\\n\\nACTIVE DEADLINES:\\n${activeDeadlines}\\n\\nREVENUE TARGETS: Y1 ${revenue.year1_total} | Y2 ${revenue.year2_total} | Y3 ${revenue.year3_total}\\n\\nCOMPLIANCE RULES: ${complianceRules}\\n\\nSOURCE CONTEXT: ${sourceLabel}\\n\\nFor SBIR/STTR opportunities specifically: MONK LLC is the SBIR applicant for DoD/DHS. FP (Kevin Alexander International LLC) can also apply. EAF cannot apply for SBIR directly. The MONK SBIR target is DHS S&T or DoD ~$175,000 Phase I. Dr. Alexander Kott (former Chief Scientist, U.S. Army Research Laboratory) is technical advisor — reference his background in proposals.\\n\\nYour job: Research this grant opportunity and produce a complete grant intelligence file. Be precise — real solicitation numbers, real portal URLs, real deadlines, real award amounts. For SBIR: include the exact solicitation number, topic number, agency, open/close dates, and whether a pre-application or company registration (SAM.gov, SBIR.gov registration) is required first.\\n\\nFORMAT YOUR OUTPUT EXACTLY AS FOLLOWS:\\n\\nFUNDER: [exact legal name]\\nPROGRAM: [exact program name and solicitation number if SBIR]\\nDEADLINE: [specific date or TBD — never guess]\\nAWARD RANGE: [dollar amounts — Phase I vs Phase II if SBIR]\\nPORTAL / CONTACT: [exact URL — for SBIR use sbir.gov/solicitations or seedfund.nsf.gov]\\nELIGIBILITY: [entity type, size, geography, match requirements]\\nEAF FIT SCORE: [0–100%]\\nFP FIT SCORE: [0–100%]\\nFIT RATIONALE: [2–3 sentences tying to KAI-Netics specifics — reference MONK architecture and Dr. Kott for SBIR]\\n\\nTOP 3 ALIGNMENT POINTS:\\n1.\\n2.\\n3.\\n\\nTOP 2 RISKS:\\n1.\\n2.\\n\\nPREREQUISITES: [SAM.gov UEI required? SBIR.gov account? Company registration? Flag any gaps]\\nCOMPETING APPLICANTS: [competitive landscape]\\nRECOMMENDED ACTION: [APPLY IMMEDIATELY / APPLY / WATCH / PASS]\\nNEXT STEP: [single most important action with URL or contact]\\n\\nLOI DRAFT OR SBIR ABSTRACT:\\n[For grants: 300–400 word LOI. For SBIR: 250-word technical abstract referencing MONK architecture, Dr. Kott ARL advisory, and Part 108 BVLOS regulatory tailwind. Ready for Atlas to expand into full proposal.]`;\n\n  userMessage = `Research this grant/SBIR opportunity thoroughly for KAI-Netics:\\n\\n${query}\\n\\nToday is ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}.\\n\\nPriority: Focus on open solicitations or those opening within 90 days. For SBIR.gov scans, list ALL relevant open topics — do not limit to one. For seedfund.nsf.gov, check current open solicitation windows. Flag SAM.gov registration requirement — KAI-Netics does not yet have UEI/CAGE code (critical prerequisite for all federal grants).`;\n\n  outputFolder = 'Maryland_Grants';\n  outputPrefix = grantName ? grantName.replace('.txt','') : 'Grant_Intel_' + new Date().toISOString().slice(0,10);\n\n} else {\n\n  systemMessage = `You are Scout, Business Development Research Agent for KAI-Netics.\\n\\nENTITY PROFILES:\\n${fpProfile}\\n${eafProfile}\\n${monkProfile}\\n\\nFOUNDER: ${founder.name} — ${credStack}\\nBACKGROUND: ${founder.background}\\n\\nKEVIN'S TWO ROLES ONLY: (1) Sales & BD — closing contracts; (2) MONK technology development. EAF graduates deliver all operational drone services.\\n\\nSEVEN VERTICALS:\\n${verticalList}\\n\\nTECHNOLOGY ASSETS:\\n${techSummary}\\n\\nTARGET GEOGRAPHY: Baltimore City, Anne Arundel, Howard, Baltimore County, PG County, Montgomery County, DC Metro, Northern Virginia\\n\\nTARGET CUSTOMER UNIVERSE BY VERTICAL:\\nV1 Infrastructure: All 24 MD county DPW offices, MDSHA (2,500+ bridges), DC DDOT (245 bridges), BGE, Pepco, SMECO, Dominion VA, Crown Castle, SBA Communications, CSX, Amtrak NEC, WMATA, State Farm, Allstate, Travelers, CBRE, JLL, MD DNR, Army Corps of Engineers\\nV2 Warehouse: Pharmaceutical/medical distributors, cold-chain/food & beverage, 3PL operators, automotive parts, e-commerce fulfillment (Amazon BWI2, Home Depot White Marsh, Target Upper Marlboro)\\nV3 Public Safety/DFR: Baltimore City PD, Baltimore City Fire, Anne Arundel PD, Howard County PD, Cecil County Sheriff, Port of Baltimore (PSGP), FIFA World Cup MD venues (FEMA grant buyer), TSA, CBP\\nV4 Entertainment: Event promoters, county fair authorities, sports venues, corporate event companies, FIFA World Cup host city coordination\\nV5 Logistics/Delivery: Healthcare systems (Johns Hopkins, MedStar, UMMC), pharmaceutical distributors, airport logistics, USPS pilot programs\\nV6 DaaS/Fleet: Industrial facilities, confined space operators, digital twin buyers, utility corridor monitoring\\nV7 MONK/AKMS/CAKO: OEM drone manufacturers, DoD prime contractors, BVLOS applicants, community colleges, MD workforce pipelines\\n\\nNAICS REGISTERED: ${(naics.registered||[]).map(n=>n.code+' '+n.description).join(', ')}\\nKEY COMPLIANCE HOOKS: FHWA 23 CFR 650, PHMSA 49 CFR 192, OMB M-26-02 (May 20 2026), NDAA fleet cert, NERC FAC-001/003, FAA Part 107, CISSP framework\\n\\nSOURCE CONTEXT: ${sourceLabel}\\n\\nFor each BD target produce ALL 8 sections:\\n1. TARGET ORG — full name, named decision maker with exact title\\n2. PROCUREMENT PORTAL — exact URL\\n3. CONTRACT VEHICLE — PSA, blanket PO, state contract, cooperative, sole source, GSA schedule\\n4. FIT SCORE 0–100% — with specific rationale\\n5. CAPABILITY STATEMENT — 2–3 tight paragraphs Kevin can send today; lead with CISSP + PMP + Part 107\\n6. CERTIFICATIONS NEEDED — exact gaps (MBE, SBR, 8(a), NDAA, MDOT, NERC CIP, SAM.gov UEI)\\n7. NEXT ACTION — name, phone, email, URL\\n8. FOLLOW-UP SEQUENCE — 3-touch outreach plan with dates\\n\\nToday is ${new Date().toLocaleDateString('en-US', {timeZone: 'America/New_York'})}.`;\n\n  userMessage = `Research this BD target for KAI-Netics immediate outreach:\\n\\n${query}\\n\\nProduce all 8 sections. Flag any compliance deadlines creating urgency.`;\n\n  outputFolder = 'Aidan_Outputs/Scout';\n  outputPrefix = 'Scout_BD_' + new Date().toISOString().slice(0,10).replace(/-/g,'');\n}\n\nconst requestBody = JSON.stringify({\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 4096,\n  system: systemMessage,\n  messages: [{ role: 'user', content: userMessage }]\n});\n\nconst options = {\n  hostname: 'api.anthropic.com',\n  port: 443,\n  path: '/v1/messages',\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': 'REPLACE_WITH_KEY',\n    'anthropic-version': '2023-06-01',\n    'Content-Length': Buffer.byteLength(requestBody)\n  }\n};\n\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    let d = '';\n    res.on('data', c => d += c);\n    res.on('end', () => resolve({ status: res.statusCode, body: d }));\n  });\n  req.on('error', reject);\n  req.write(requestBody);\n  req.end();\n});\n\nlet aiOutput = '';\ntry {\n  aiOutput = JSON.parse(result.body).content?.[0]?.text || 'No response from Claude.';\n} catch(e) {\n  aiOutput = result.body.substring(0, 500);\n}\n\nconst dateStr = new Date().toISOString().replace(/[:.]/g,'-');\nconst filename = mode === 'grant'\n  ? `${outputPrefix}.txt`\n  : `${outputPrefix}_${dateStr}.txt`;\nconst folderPath = `/data/${outputFolder}`;\nfs.mkdirSync(folderPath, { recursive: true });\n\nconst header = [\n  `SCOUT v5 — KAI-NETICS`,\n  `Mode: ${mode.toUpperCase()}`,\n  `Source: ${sourceLabel}`,\n  `Query: ${query}`,\n  `Generated: ${timestamp}`,\n  `Scheduled: ${isScheduled}`,\n  ``,\n  ``\n].join('\\n');\n\nfs.writeFileSync(`${folderPath}/${filename}`, header + aiOutput + '\\n', 'utf8');\n\nconst fitMatch  = aiOutput.match(/(?:EAF FIT SCORE|FP FIT SCORE|FIT SCORE)[:\\s*\\*]*\\s*\\*?\\*?(\\d+)/i);\nconst fitScore  = fitMatch ? fitMatch[1] + '%' : 'See report';\nconst actionMatch = aiOutput.match(/RECOMMENDED ACTION[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst action    = actionMatch ? actionMatch[1].trim().replace(/\\*/g,'') : 'Review report';\nconst nextMatch = aiOutput.match(/NEXT (?:STEP|ACTION)[:\\s*\\*]*\\s*\\*?\\*?([^\\n]+)/i);\nconst nextStep  = nextMatch ? nextMatch[1].trim().replace(/\\*/g,'').substring(0,100) : 'See report';\n\nconst modeLabel = mode === 'grant' ? 'GRANT INTEL' : 'BD REPORT';\nconst summary = [\n  `SCOUT v5 ${modeLabel} — ${sourceLabel}`,\n  `Mode: ${mode.toUpperCase()} | Fit: ${fitScore} | Action: ${action}`,\n  `Next: ${nextStep}`,\n  `Saved: /data/${outputFolder}/${filename}`\n].join('\\n');\n\nreturn [{ json: { aiOutput, summary, savedTo: `${folderPath}/${filename}`, query, fitScore, action, mode, filename, outputFolder, isScheduled, sourceLabel, timestamp } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "id": "scout-004",
      "name": "Scout Brain v5"
    },
    {
      "parameters": {
        "jsCode": "const http = require('http');\nconst { summary = 'Scout complete.', fitScore, query, mode, isScheduled, sourceLabel } = $input.first().json;\n\nconst msgText = isScheduled\n  ? `🔍 SCOUT v5 MORNING SCAN\\n${sourceLabel || 'Scheduled'}\\n\\n${summary}`\n  : `SCOUT v5 ${mode?.toUpperCase() === 'GRANT' ? 'GRANT INTEL' : 'BD REPORT'}\\nSource: ${sourceLabel || 'Manual'}\\n\\n${summary}`;\n\nconst msgBody = JSON.stringify({\n  number: '14432576836@s.whatsapp.net',\n  textMessage: { text: msgText }\n});\n\nconst opts = {\n  hostname: 'host.docker.internal',\n  port: 8081,\n  path: '/message/sendText/Aidan',\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'apikey': 'Kevin2026',\n    'Content-Length': Buffer.byteLength(msgBody)\n  }\n};\n\nawait new Promise(r => {\n  const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end',r); });\n  req.on('error',r);\n  req.write(msgBody);\n  req.end();\n});\n\nconst cbBody = JSON.stringify({\n  agent: 'Scout',\n  version: 'v5',\n  summary,\n  fitScore,\n  query,\n  mode,\n  sourceLabel,\n  isScheduled,\n  timestamp: new Date().toISOString()\n});\n\nconst cbOpts = {\n  hostname: 'host.docker.internal',\n  port: 5678,\n  path: '/webhook/aidan-orchestra',\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'Content-Length': Buffer.byteLength(cbBody)\n  }\n};\n\nconst cbReq = http.request(cbOpts, res => { res.on('data',()=>{}); res.on('end',()=>{}); });\ncbReq.on('error',()=>{});\ncbReq.write(cbBody);\ncbReq.end();\n\nreturn [{ json: { success: true, agent: 'Scout', version: 'v5', summary, mode, sourceLabel } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0],
      "id": "scout-005",
      "name": "Aidan Callback v5"
    }
  ],
  "connections": {
    "Daily 6AM Trigger":     { "main": [[{ "node": "Route + Build Task v5", "type": "main", "index": 0 }]] },
    "Webhook Trigger":       { "main": [[{ "node": "Route + Build Task v5", "type": "main", "index": 0 }]] },
    "Route + Build Task v5": { "main": [[{ "node": "Scout Brain v5",        "type": "main", "index": 0 }]] },
    "Scout Brain v5":        { "main": [[{ "node": "Aidan Callback v5",     "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Scout" }, { "name": "v5" }, { "name": "AllVerticals" }, { "name": "SBIR" }]
}
