workflows/archive/5_orchestratorv1.json
{
  "name": "Aidan - Orchestra Orchestrator",
  "nodes": [
    {
      "parameters": { "httpMethod": "POST", "path": "aidan-orchestra", "responseMode": "lastNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 0], "id": "orch-001", "name": "Orchestra Trigger"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), http = require('http');\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\n// ============================================================\n// LOOP GUARD — prevents agent callbacks from re-triggering fan out\n// Agent callbacks arrive at /webhook/aidan-orchestra with an 'agent' field.\n// If this is a callback from an agent, skip fan out and ACK immediately.\n// ============================================================\nif (body.agent && ['Scout','Jordan','Iris','Atlas','Nova','Sage','Pulse'].includes(body.agent)) {\n  // Save callback file so Collect + Consolidate can pick it up\n  const agentName = body.agent;\n  const timestamp = body.timestamp || new Date().toISOString();\n  fs.mkdirSync('/data/Aidan_Outputs/Callbacks', { recursive: true });\n  fs.writeFileSync(`/data/Aidan_Outputs/Callbacks/${agentName}_${timestamp.replace(/[:.]/g,'-')}.json`, JSON.stringify(body, null, 2), 'utf8');\n  return [{ json: { _isCallback: true, _guardTriggered: true, agent: agentName, received: true } }];\n}\n\nconst masterQuery = String(body.query || body.command || 'Full platform status — compliance, BD targets, grant status, MEIA readiness.');\nconst sessionId = 'orch_' + Date.now();\nfs.mkdirSync('/data/Aidan_Outputs/Orchestra', { recursive: true });\nfs.writeFileSync(`/data/Aidan_Outputs/Orchestra/session_${sessionId}.json`, JSON.stringify({ sessionId, masterQuery, startTime: new Date().toISOString(), agents: { Atlas: null, Scout: null, Jordan: null, Iris: null } }, null, 2), 'utf8');\nconst agentCalls = [\n  { path: '/webhook/atlas-architect', payload: { command: 'Atlas MEIA', detail: masterQuery, sessionId } },\n  { path: '/webhook/scout-research', payload: { query: masterQuery + ' — top 3 DMV contract opportunities', sessionId } },\n  { path: '/webhook/grant-writer', payload: { trigger: 'orchestra', query: masterQuery, sessionId } },\n  { path: '/webhook/iris-monitor', payload: { trigger: 'orchestra', sessionId } }\n];\nconst fireAgent = (agentPath, payload) => new Promise(resolve => {\n  const bodyStr = JSON.stringify(payload);\n  const opts = { hostname: 'host.docker.internal', port: 5678, path: agentPath, method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(bodyStr) } };\n  const req = http.request(opts, res => { res.on('data',()=>{}); res.on('end', () => resolve({ path: agentPath, fired: true })); });\n  req.on('error', e => resolve({ path: agentPath, fired: false, error: e.message }));\n  req.write(bodyStr); req.end();\n});\nconst results = await Promise.all(agentCalls.map(a => fireAgent(a.path, a.payload)));\nconst agentNames = ['Atlas','Scout','Jordan','Iris'];\nconst launchMsg = `🎼 ORCHESTRA LAUNCHED\\n\\n${agentNames.map((a,i) => `${results[i].fired?'✅':'❌'} ${a}`).join('\\n')}\\n\\nQuery: ${masterQuery.substring(0,80)}\\n\\nConsolidated brief incoming ~90 seconds.`;\nconst msgBody = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: launchMsg } });\nconst waOpts = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(msgBody) } };\nawait new Promise(r => { const req = http.request(waOpts, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(msgBody); req.end(); });\nreturn [{ json: { sessionId, masterQuery, results, launched: true, _isCallback: false } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 0], "id": "orch-002", "name": "Fan Out to All Agents"
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"ok\",\"agent\":\"Aidan Orchestrator\"}" },
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [440, 0], "id": "orch-005", "name": "ACK Orchestra"
    },
    {
      "parameters": { "httpMethod": "POST", "path": "aidan-callback", "responseMode": "lastNode", "options": {} },
      "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 300], "id": "orch-003", "name": "Agent Callback Receiver"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs'), http = require('http'), https = require('https');\nconst raw = $input.first().json;\nconst body = raw.body || raw;\n\nconst agentName = body.agent || 'Unknown';\nconst timestamp = body.timestamp || new Date().toISOString();\nfs.mkdirSync('/data/Aidan_Outputs/Callbacks', { recursive: true });\nfs.writeFileSync(`/data/Aidan_Outputs/Callbacks/${agentName}_${timestamp.replace(/[:.]/g,'-')}.json`, JSON.stringify(body, null, 2), 'utf8');\n\nconst cbDir = '/data/Aidan_Outputs/Callbacks/';\nconst allFiles = fs.readdirSync(cbDir).filter(f => f.endsWith('.json'));\nconst cutoff = Date.now() - (5 * 60 * 1000);\nconst recentCallbacks = {};\nallFiles.forEach(f => {\n  try {\n    const stat = fs.statSync(cbDir + f);\n    if (stat.mtimeMs > cutoff) {\n      const data = JSON.parse(fs.readFileSync(cbDir + f, 'utf8'));\n      if (data.agent) recentCallbacks[data.agent] = data;\n    }\n  } catch(e) {}\n});\n\nconst allFour = ['Atlas','Scout','Jordan','Iris'].every(a => Object.keys(recentCallbacks).includes(a));\nif (!allFour) {\n  return [{ json: { received: agentName, waiting: true, receivedSoFar: Object.keys(recentCallbacks), allFour: false } }];\n}\n\nconst atlas = recentCallbacks['Atlas'] || {}, scout = recentCallbacks['Scout'] || {}, jordan = recentCallbacks['Jordan'] || {}, iris = recentCallbacks['Iris'] || {};\nconst systemMessage = `You are Aidan, Chief of Staff to Kevin Alexander Smith, CEO of KAI-Netics. Synthesize four agent reports into a single executive briefing. BLUF first. Entity-tagged action items. Decisive, concise. Priority: EAF compliance > FP contracts > MONK IP > KAL. Flag Kevin decisions vs Aidan-handles.`;\nconst userMessage = `Synthesize these four agent reports:\\n\\nATLAS:\\n${atlas.summary||'No report'}\\n\\nSCOUT:\\n${scout.summary||'No report'}\\nFit: ${scout.fitScore||'N/A'}\\n\\nJORDAN:\\n${jordan.summary||'No report'}\\nFit: ${jordan.fitScore||'N/A'}\\n\\nIRIS:\\n${iris.summary||'No report'}\\nCritical: ${iris.criticalCount||0} | Urgent: ${iris.urgentCount||0}\\n\\nFormat:\\n1. BLUF (3 sentences max)\\n2. 🔴 CRITICAL ACTIONS (Kevin today)\\n3. 📋 AIDAN HANDLES (no Kevin decision needed)\\n4. 📊 INTEL SUMMARY (key findings per agent)\\n5. ⚠️ FLAGS & RISKS`;\nconst requestBody = JSON.stringify({ model: 'claude-sonnet-4-20250514', max_tokens: 2048, system: systemMessage, messages: [{ role: 'user', content: userMessage }] });\nconst apiOptions = { hostname: 'api.anthropic.com', port: 443, path: '/v1/messages', method: 'POST', headers: { 'Content-Type': 'application/json', 'x-api-key': 'REPLACE_WITH_KEY', 'anthropic-version': '2023-06-01', 'Content-Length': Buffer.byteLength(requestBody) } };\nconst result = await new Promise((resolve, reject) => {\n  const req = https.request(apiOptions, (res) => { let d = ''; res.on('data', c => d += c); res.on('end', () => resolve({ status: res.statusCode, body: d })); });\n  req.on('error', reject); req.write(requestBody); req.end();\n});\nlet brief = '';\ntry { brief = JSON.parse(result.body).content?.[0]?.text || 'Consolidation failed.'; } catch(e) { brief = 'Parse error: ' + result.body.substring(0,500); }\nconst briefPath = `/data/Aidan_Outputs/Orchestra/Brief_${new Date().toISOString().replace(/[:.]/g,'-')}.txt`;\nfs.writeFileSync(briefPath, brief, 'utf8');\nconst fullMsg = `🎼 AIDAN CONSOLIDATED BRIEF\\n${new Date().toLocaleString('en-US',{timeZone:'America/New_York'})} EST\\n\\n${brief}`;\nconst chunks = [];\nfor (let i = 0; i < fullMsg.length; i += 3800) chunks.push(fullMsg.substring(i, i + 3800));\nfor (const chunk of chunks) {\n  const mb = JSON.stringify({ number: '14432576836@s.whatsapp.net', textMessage: { text: chunk } });\n  const wo = { hostname: 'host.docker.internal', port: 8081, path: '/message/sendText/Aidan', method: 'POST', headers: { 'Content-Type': 'application/json', 'apikey': 'Kevin2026', 'Content-Length': Buffer.byteLength(mb) } };\n  await new Promise(r => { const req = http.request(wo, res => { res.on('data',()=>{}); res.on('end',r); }); req.on('error',r); req.write(mb); req.end(); });\n  await new Promise(r => setTimeout(r, 1000));\n}\nreturn [{ json: { success: true, allFour: true, briefPath } }];"
      },
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [220, 300], "id": "orch-004", "name": "Collect + Consolidate"
    },
    {
      "parameters": { "respondWith": "json", "responseBody": "={\"status\":\"ok\",\"agent\":\"Aidan Callback\"}" },
      "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [440, 300], "id": "orch-006", "name": "ACK Callback"
    }
  ],
  "connections": {
    "Orchestra Trigger": { "main": [[{ "node": "Fan Out to All Agents", "type": "main", "index": 0 }]] },
    "Fan Out to All Agents": { "main": [[{ "node": "ACK Orchestra", "type": "main", "index": 0 }]] },
    "Agent Callback Receiver": { "main": [[{ "node": "Collect + Consolidate", "type": "main", "index": 0 }]] },
    "Collect + Consolidate": { "main": [[{ "node": "ACK Callback", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate", "availableInMCP": true },
  "tags": [{ "name": "KAI-Netics" }, { "name": "Aidan" }, { "name": "Orchestrator" }]
}
